@media screen and (max-width: 1500px){
	.services_card__item__text{ width: 70%; }
}



/* Large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px){
	
	.footer_top__buttons__wrap .btn--light{
		margin-bottom: 10px;
		width: 100%;
	}

	.header_nav{margin-right: 25px;}


}


/* Laptop, Desktop */

@media screen and (max-width: 992px){
	
	.header{ height: 80px; }
	.header .container{ width: 100%;}
	.header_logo{ margin-right: 20px;}
	.header_logo img{ height: 50px;}
	.header_right-block__social__icon, .header_right-block__social__icon:focus{ font-size: 18px; text-transform: uppercase; color: $dark-blue; border: none; width: auto; height: auto;}
	.header_right-block__social__icon:hover{ border: none;}
	.header_right-block__social__icon img{ width: auto; height: auto;}

	.header_right-block__social__icon:first-child{ display: none !important; img{ display: none !important; } }
	.header_right-block__social__icon:nth-child(2){ display: none !important; img{ display: none !important; } }

	.header_right-block{ justify-content: center;}
	.header_right-block__social{ margin-bottom: 0;}
	.header_right-block__social{ margin-right: 20px;}
	.header_search-block__close{ right: 10px; display: flex;}
	.header_search-block form button{ margin-right: 55px;}
	.header_nav__menu{ display: none; position:absolute; top:116px; left:0; right:0; background:#F7FAFE;}
	.header_mobile__menu img { height: 25px; }

	.multi_lang{ top: 49px!important; left: -15px!important; }

	.mobile_menu{ position:absolute; top:80px; width: 100%; left:0; right:0; padding-left: 0; list-style-type: none; background:#F7FAFE; flex-direction: column; align-items: stretch; }
	.mobile_menu>li>a{ text-align: center; display: block; padding: 25px 0; border-bottom: 1px solid #BCBEC1; font:18px $font-extra; color: #45464F;}
	.mobile_menu>li:hover .mobile_menu__dropdown{ padding: 0;}
	.mobile_menu__dropdown{ padding-left: 0; list-style-type: none; flex-direction: column; border-bottom: 1px solid #BCBEC1; background: #F7FAFE;}
	.mobile_menu__dropdown li{ margin-right: 0;}
	.mobile_menu__dropdown li a{ display: block; font: 18px $font-bold; padding: 25px 0; text-align: center; color: #45464F;}


	.tab_block__content__card{ width: 48%;}
	.square_back{ left: 0;}
	.slider .swiper-pagination{ left: 30px;}
	.slider .container{ padding: 0; width: 100%;}
	.swiper-container-vertical>.swiper-pagination-bullets{ top:47%;}
	.slider .swiper_button__wrap{ bottom:-57px; top: auto;}
	
	.show__search{ order: -1; margin-right: 15px; img{ height: 18px; } }

	.services_card__item{ height: 390px;}
	.services_card__item__icon{ margin-top: 28px;}
	#layout_home .services_card__item__icon svg{fill: $beige-color}
	.services_card__item__describe{ display: block;}
	.services .scroll_down__line{ display: none;}
	.services	.scroll_down__icon{ margin-top: 25px;}
	

	.rewards .swiper-slide{ justify-content: center;}
	
	.footer_top{ flex-wrap: wrap; padding-bottom: 15px;}
	.footer_top__nav__title{ color: $dark-blue;}
	.footer_top__buttons__wrap{ justify-content: space-between; width: 100%;}
	.footer_top__buttons__wrap .btn--light{ width: 48%; margin-right: 0; margin-bottom: 15px;}
	.footer_top__right{ width: 100%; display: flex; flex-wrap: wrap; border-top: 1px solid #ACC2D4; padding-top: 15px;}
	.footer_top__social__icon{ margin-bottom: 10px; margin-right: 0;}
	.footer_top__contact{ flex-grow: 1; border-bottom: 0;}
	.footer_top__social__icon__wrap{ flex-direction: column;}
	.footer_top__nav ul{ display: none;}


	.vacancy_form form{ padding: 0 15px;}
	.vacancy_card__title{ font-size: 18px;}

	.tab_card{ margin-bottom: 40px; }

	.services_tab_panel{ margin-bottom: 60px;  .active a{ border: none; } }
	.services_tab_panel li{ display: flex; align-items: center; margin-right: 12px; }
	.services_tab_panel li a{ padding: 25px 50px 25px 0; }
	.services_tab_panel a:after{ right: 5px; }
	.tariff_describe .statement{ display: none; }

	.full_banner{ height: 400px; }
	.full_banner__content{ padding: 0 20px; }

	.corporate_license__item{ flex-direction: column; align-items: center; }
	.corporate_license__text{ text-align: center; }
	.corporate_license__img{ margin-right: 0; margin-bottom: 25px; }

	.info_account{ padding-left: 40px; padding-right: 40px; }
	
	.container_custom{ width: 970px;}
	.specialists_cards__wrap{ flex-wrap: wrap; justify-content: space-around; }
	.specialists_cards__item{ margin-right: 0; margin-bottom: 30px; }

	#layout_awards .rewards_card{ width: 47%; }
	#layout_awards .rewards_card__wrap:after{ display: none; }

	#layout_team .specialists_cards__item{ width: 33%; }

}