/* Small Devices, Tablets */
@media screen and (max-width: 768px){
	
	.header .container{ width: 100%;}
	.default_block{ padding: 45px 0;}
	.default_block__title{ font-size: 36px;}
	.services { padding-top: 20px;}
	.breadcrumbs{ display: none; }

	.header_search-block form input{ width: 50%;}
	.header_search-block form button{margin-right: 40px;}
	.header_search-block form button{right: 10;}
	.slider .slider_card__content__wrap{ top: 10px; }
	.slider .swiper_button__wrap{ bottom: -61px; }
	.slider .swiper-container{ height: 410px; }
	.slider .swiper-pagination{ left: 20px; top: 38%; display: flex;flex-direction: column; }
	.slider_card{ height: 410px; }
	.square_back{ width: 220px; height: 200px; top: 22%; }
	.slider .slider_card__content__title{ font-size: 25px; }
	.slider .slider_card__content__title__number{ font-size: 50px; }
	.slider .slider_card__content__tagline{ font-size: 13px; }

	.qtrader{ padding-top: 40px;}
	.qtrader__content__img{ display: none;}
	.qtrader__content__card{ transform: none!important; padding: 30px; width: 100%; text-align: center;}
	.qtrader__content__text{ align-items: center; }
	.tab_block__content__card{ width: 100%;}

	.tab_block__title__icon{ display: none;}
	.tab_block__title{ border: none; padding: 16px; margin-bottom: 20px;}
	.tab_block__title:hover{ box-shadow: none; border: none;}
	.tab_block__nav .ui-tabs-active a{ box-shadow: none;}


	.subscribe_analytics__form .btn--arrow{position: absolute; left: 50%; bottom: -44px; transform: translateX(-50%)}
	.subscribe_analytics { padding-bottom: 85px;}
	.subscribe_analytics .default_block__title {margin-bottom: 30px;}

	
	.rewards .owl-carousel .owl-dots{ position: absolute; display: flex; justify-content: center; bottom: 0;left: 50%; transform: translateX(-50%); width: 100%;height: 12px;}
	.rewards .owl-carousel .owl-dot{ border: 1px solid #141414; width: 12px; height: 12px; margin: 0 5px; }
	.rewards .owl-carousel .owl-dot.active{ border: 1px solid transparent; background:$beige-color; }
	.rewards .default_block__text{ margin-bottom: 25px;}
	.rewards{ padding-bottom: 70px;}

	.footer .scroll_up{ display: none;}
	.footer_top__nav{ width: 100%; text-align: center;}

	.specialists_cards__item{ margin-bottom: 30px;}
	
	.banner .container{ padding: 0; }
	.banner .banner_service__card__content{ margin-top: 50px; }

	.banner_service__card{ height: 460px; }

	.advantages_block__item{ width: 48%;}
	.assets__content__card{ width: 100%; padding: 50px;}
	.banner_card__card__title{ font-size: 28px;}
	.banner_service__card__text{ width: 70%;}
	.banner_card__card__describe{ font-size: 14px;}
	.banner_service__card .scroll_down{ margin-top: 0; }
	
	.banner_service.banner .container{ padding: 0; }
	.services_tab_content__title{ font-size: 22px;}
	.assets__content__text{ font-size: 22px; }

	.our_mission__item{ width: 46%;}

	.trust_us__list{ flex-wrap: wrap;}
	.trust_us__list li{ width: 100%; margin-bottom: 15px;}

	.investment_card{ margin-bottom: 30px;}
	.services_tab_panel{ font-size: 15px; }

	.full_banner .breadcrumbs{ display: none; }


	.full_banner__content{ margin-top: 152px; }

	.full_banner__content__title{ font-size: 28px; }
	.full_banner__content__text{ font-size: 18px; }

	.default_block__title{ font-size: 22px;}
	.default_block__text{ font-size: 16px; }
	.our_mission__item__text{ font-size: 18px; }
	.qazkom__content__card{ padding: 30px;}
	.qazkom__content__text{ font-size: 14px; }
	.qazkom__content__title{ font-size: 22px; }
	.qazkom_about__title{ font-size: 22px; }
	.qazkom_about__text{ font-size: 14px; text-align: center; }
	.financial_indicators__number{ font-size: 30px; }
	.financial_indicators__currency{ font-size: 22px; }

	.vacancy_card__title{ font-size: 14px; }
	.vacancy_item__profession, .vacancy_item__city{ font-size: 14px; }
	.vacancy_item{ justify-content: space-between; }
	#specialists_popup{ padding-left: 15px!important; padding-right: 15px!important; }
	#specialists_popup .specialists_name{ font-size: 18px; margin-bottom: 15px; }
	#specialists_popup .specialists_describe{ font-size: 14px; }
	.investment_corporate_card__item__title{ font-size: 22px; }
	.investment_corporate_card__item{ height: 300px; }
	.default_block__title__blue{ font-size: 22px; line-height: 28px; }
	.default_block__beige{ padding: 35px 15px; }
	.popup_pages____title{ font-size: 22px; }

	.custom_popup_wrap .about_qtrader .default_block__title,
	.info_list__title{ font-size: 22px; line-height: 26px; }
	.custom_popup_wrap .about_qtrader__list,
	.info_list__content{ padding-left: 0; margin-top: 70px; }
	.custom_popup_wrap .about_qtrader__list li,
	.info_list__content li{ padding-left: 15px; padding-right: 15px; width: 100%; font-size: 14px; margin-bottom: 85px; text-align: center; }
	.custom_popup_wrap .about_qtrader__list li:last-child,
	.info_list__content li:last-child{ margin-bottom: 0; }
	.custom_popup_wrap .about_qtrader__list li:before,
	.info_list__content li:before{ top: -60px; left: 50%; transform: translateX(-50%); }

	.parallax_block{ padding-bottom: 60px; }


	.custom_popup_wrap .popup_pages .qtrader-slider{ padding-top: 30px; }
	.custom_popup_wrap .qtrader_slide{ padding-bottom: 50px; }
	.custom_popup_wrap .qtrader_slide__img,
	.parallax_block__img{ display: none; }
	.custom_popup_wrap .qtrader_slide__content,
	.parallax_block__content{ width: 100%; padding: 30px; min-height: auto; }
	.custom_popup_wrap .qtrader_slide__title,
	.parallax_block__title{ font-size: 18px; line-height: 23px; }
	.custom_popup_wrap .qtrader_slide__text,
	.parallax_block__text{ font-size: 14px; }
	.custom_popup_wrap .qtrader-slider .default_block__title{ font-size: 18px; line-height: 22px; }
	.custom_popup_wrap .qtrader-slider .default_block__text{ text-align: center; }

	.clients_item{ width: 45%; }

	.list_documents__content__tab{ font-size: 14px; }
	.default__table td{ width: 50%; }
	.default__table tr{ padding: 15px 0; }

	.corporate_license__item{ margin-bottom: 55px;  }
	.report__card__item{ flex-direction: column; }
	.report__card__item__title{ margin-bottom: 20px; text-align: center; width: 100%; }
	.right-border{ border-right:0; }

	.corporate_report__years:after{ width: 76%; }
	.corporate_report__years .swiper-slide-active .year{ font-size: 24px; }
	.corporate_news__card{ align-items: center; }
	.corporate_news__card__title, .corporate_news__card__text{ text-align: center; }
	
	.analytics_block{ margin-top: 0; }
	.analytics_block .container{ padding-left: 0; padding-right: 0; }
	.analytics_wrap{ flex-direction: column; }

	.analytics_card__filter{ display: none; }
	.analytics_card__content{ font-size: 14px; }
	.analytics_card__date{ margin-bottom: 40px;
	form{ display: flex; width: 100%; justify-content: space-between; }
	}
	.analytics_card__date .fancy-select{ width: 48%!important; margin-right: 0; margin-bottom: 15px; }
	.analytics_card__date .jq-selectbox{ width: 46%!important; margin-right: 0; }
	.analytics_card__date .jq-selectbox__dropdown{ width: 100%!important; }
	.analytics_card__title{ display: none; }	
	#layout_analytics .tab-content{ padding-top: 40px; padding-left: 15px; padding-right: 15px; }
	#recommendations{
		.tab-content{ padding-top: 0; padding-left: 0; padding-right: 0; }
		.analytics_card__filter{ display: block; }
		.analytics_card__top{ flex-wrap: wrap; }
		.jq-selectbox{ width: 100%; margin-right: 0; }
		.analytics_card__top__title{ display: none; }
		.analytics_card__filter form{ flex-direction: column; }
		.analytics_card__filter{ margin-bottom: 25px; }
	}

	.analytics_card__item__title__active{ font-size: 20px; }
	.analytics_card__item__text__active{ font-size: 14px; }

	.info_brokerage__list li{ width: 43%; font-size: 16px; padding-top: 0;}
	.about_brokerage__list li{ width: 45%; font-size: 16px; }
	.info_account__title{ font-size: 20px; }
	.info_account{ padding: 40px 35px; }
	.info_account__text{ font-size: 16px; text-align: center; }
	.qtrader_tariff__title{ font-size: 20px; text-align: center; }

	#layout_contact .banner_card__title{ font-size: 28px; }
	#layout_contact #map{ height: 380px; }
	.statement span:after{ transform: translateX(-50%); }
	#layout_news .banner_service__card.news{ padding-top: 0; }

	#layout_qtrader{
		.full_banner__content{flex-direction: column;align-items: center; margin-left: 0;}
		.banner_qtrader__card{flex-shrink: 0; padding: 50px; max-width: 485px; transform: translateX(0)!important; text-align: center; margin-top: -32%;	}
		.banner_qtrader__card__title{ margin-top: 60px; }
		.full_banner .scroll_down.arrow{ bottom: -316px; }
		.full_banner{ margin-bottom: 350px; }
		.banner_qtrader:before{ background-position: center center; }
		.banner_qtrader__card__title{ font-size: 28px; }
	}

	.container_custom{ width: 750px; padding-left: 15px; padding-right: 15px;}
	.qtrader_slide__img,
	.qtrader-slider .swiper_button__wrap{ display: none; }
	.qtrader-slider{ padding-bottom: 0; }
	.qtrader_slide__content{ width: 100%; padding: 60px; min-height: 300px; }
	.qtrader-slider .swiper-pagination{ width: auto; left: 50%; transform: translateX(-50%); bottom: 130px; }

	.application_web__wrap{ flex-wrap: wrap; padding-left: 15px; padding-right: 15px; }
	.application_web{ width: 100%; }
	.about_qtrader__list{ padding-left: 15px; padding-right: 15px;
		li{ width: 100%; padding-left: 0; margin-top: 70px; text-align: center;}
		li:before{ top:-65px; left: 50%; transform: translateX(-50%); }
	}

	.application_version{ flex-direction: column; align-items: center; margin-top: 0; }
	.application_version__web{ position: relative;left: auto; transform: none; margin-bottom: 50px; }

	.info_account__text ol{ display: flex;flex-direction: column; align-items: center; }
	
	.banner_studyroom__card__title{ font-size: 28px; }
	.banner_studyroom__card__text{ font-size: 18px; }
	#layout_studyroom .full_banner{ height: 180px; }
	#layout_studyroom .banner_studyroom:before{ background-position: 70% 50%; }
	.course_card{ padding: 30px; }
	.course_card__title{ font-size: 20px; margin-bottom: 35px; }
	.course__price{ font-size: 20px; }
	.course_card__text table td{ font-size: 15px!important; }

	.top_tabs__control{ display: none; }
	#layout_studyroom .jq-selectbox{ display: block!important; }
	#layout_studyroom .fancy-select{ display: block; }
	#layout_studyroom .tab-content__title{ font-size: 21px; margin: 40px 0; }

	.analytics_nav{ display: none; }
	#layout_analytics .analytics_nav + .fancy-select{ display: block; }

	#layout_home, #layout_corporate {
		.tab_block__content__card{ display: none; }
		.tab_block__content__card:first-child,
		.tab_block__content__card:nth-child(2),
		.tab_block__content__card:nth-child(3){ display: flex; }
	}

	#layout_awards .rewards_card{ width: 100%; margin-right: 0; margin-left: 0; }
	#layout_awards .rewards_card__wrap{ padding: 0 15px; justify-content: space-between; }

	#layout_analytics .analytics_nav+.jq-selectbox{ display: block!important;}

	.corporate_report__content .swiper-slide:after{ display: none; }

}


/*Extra small Devices, Tablets */
@media screen and (max-width: 480px){
	.col-tiny-12 {float:none; width:100%;}
	.specialists_cards .col-tiny-12{ padding: 0; }
	
	#page-preloader .spinner{ width: 300px; height: 100%; } 
		
	.header{ padding-bottom: 5px; }
	.header_right-block__social{ margin-right: 5px;}
	.show__search{ margin-right: 15px;}
	.header_logo img{ height: 40px;}

	.header_search-block{position: absolute;top: 0; background: #fff; width: 100%; height: 100%; left: 0; }
	.header_search-block form button{ margin-right: 60px; }
	.header_search-block__close{ right: 18px; }
	.header_mobile__menu{ margin-right: 15px; img{ height: 17px; }}

	.slider .slider_card__content__wrap{ left: 60px; }

	
	.tab_block__title{ font-size: 16px; padding: 10px 0;}
	.tab_block__content__card{ padding: 25px; border: none; background:#fff; box-shadow: 0 13px 71.1px 18.9px rgba(17,69,155,.05); &:hover{ border: none; } }
	.tab_block__content__card__text{ display: none; }
	.services_card__item{ height: 320px; }
	.banner_service .container{ width: 100%; }
	.services .scroll_down__icon{ margin-top: 0; }
	.qtrader__content__title{ font-size: 23px; }
	.qtrader__content__text{ align-items: center; font-size: 14px; }
	.services_card__item__text{ width: 100%; font-size: 22px;}
	.services_card__item__describe{ font-size: 14px; }

	.default_block__text{ font-size: 14px; }

	.footer_top__buttons__wrap .btn--light{ width: 100%;}

	.footer_top__contact{ width: 75%; }
	.footer_top__contact__phone{ font-size: 27px;}
	.footer_top__contact{ width: 100%;}
	.footer_top__social__icon{ margin-right: 10px; margin-bottom: 10px;}
	
		.vacancy_form .container{ padding: 0; }
	.vacancy_form .flex-wrap input{ width: 100%;}
	.vacancy_form label[for=checkbox]{ width: 85%; font-size: 14px;}
	.jq-checkbox{ margin-top: -19px;}


	.advantages_block__item{ width: 100%;}
	.banner_service__card__text{ width: 90%;}
	.banner_service.banner .container{padding: 0; }
	.statement span:after{ top: auto; bottom: -60px; left: 50%;}
	.statement{ padding-bottom: 65px;}
	.services_tab_panel{ margin-bottom: 50px; justify-content: flex-start;}


	.our_mission__item{ width: 100%;}
	.financial_indicators__number{font-size: 37px;}
	.clients_item{ width: 100%; }

	.tab_card{ font-size: 15px; }
	.trust_us__list{ font-size: 16px; }
	.tab_card__top .tab_card__title{ font-size: 22px; }

	#layout_career .specialists_cards .col-xs-offset-3{ margin: 0;}
	.specialists_name, .specialists_contact{ width: 100%;}
	.assets__content__card{ padding: 30px;}

	.vacancy_counter{ display: none;}
	.vacancy_card__active{ padding-left: 15px;}
	.footer_top__contact small{ font-size: 13px; }
	.footer_top__contact{ width: 75%; }
	.footer_top__contact__phone:before{ width: 30px; height: 30px; background-size: 30px; }
	.footer_top__contact__map:before{ width: 35px; height: 40px; background-size: 30px; }
	.footer_top__contact__phone,
	.footer_top__contact__map{ font-size: 18px; width: 100%; padding-left: 44px; margin-bottom: 20px; }


	.popup{ padding: 50px 25px!important; }
	.popup_title, .popup_form input{ width: 100%; }
	.popup_form{ width: 100%; }
	.popup_form form { align-items: stretch; }

	.corporate_report__years:after{ width: 60%; }
	.corporate_report .report__card .dot{ display: none; }
	.corporate_report__years{ margin-bottom: 0; }
	.corporate_report__years .swiper-slide-active .report__card:before{ display: none; }
	.corporate_report__years .swiper-slide-active .year{ padding-bottom: 20px; }
	.corporate_report__years .swiper-button-next, .swiper-button-prev{ top: 36%; }
	.corporate_license__text{ font-size: 14px; }
	.report__card__item{ padding: 0; }

	.info_brokerage__list li{ width: 100%; font-size: 14px; }
	.about_brokerage__list li{ width: 100%; text-align: center; margin-top: 70px; font-size: 14px; padding-left: 0; }
	.about_brokerage__list li:before{ top: -65px; left: 50%; transform: translateX(-50%);}
	.qtrader_tariff__title{ font-size: 18px; }
	.info_account__title{ font-size: 18px; }
	.info_account{ padding: 25px; }
	.info_account__text{ font-size: 14px; }

	#layout_brokerage .list_documents__type li{ margin-right: 0; }
	.list_documents__content__wrap{ flex-wrap: wrap; }
	.list_documents__content__item{ width: 100%; }

	.custom_popup_wrap_white{
		.statement{ padding: 35px 0; font-size: 18px; }
		.statement span:after{ top: 50%; }
	}

	#layout_contact .default__table{ font-size: 14px; }

	#layout_qtrader{
		.banner_qtrader__card{ width: 100%; height: 240px; padding: 50px 30px; }
		.full_banner__content{ margin-top: 0; }
		.full_banner__content{ height: 290px; }
		.full_banner{ margin-bottom: 150px; }
		.banner_qtrader__logo{ box-shadow: none; margin-top: 75px; img{ width: 75%;box-shadow: 16.4px 26.3px 50.1px 12.9px rgba(25,45,61,.1); } }
		.full_banner .scroll_down.arrow{ bottom: -165px; }
		.banner_qtrader__card__text{ font-size: 16px; }
		.qtrader_slide__title{ font-size: 18px; }
		.qtrader_slide__text{ font-size: 14px; }
		.qtrader_slide__content{ padding: 30px;  }
		.qtrader-slider .swiper-pagination{ bottom: 150px; }
		.about_qtrader{ padding-top: 0; }
		.about_qtrader__list li{ font-size: 14px; }
	}

	.default__table{ font-size: 14px; }
	#open_account_popup .popup_form input{ width: 100%; }
	#open_account_popup .flex-vertical span{ width: 100%; font-size: 14px; }
	.specialists_callback{ padding: 0 15px; font-size: 14px; }

	.container_custom{ width: 100%;}

	.banner_studyroom__wrap{ width:95%; }
	.banner_studyroom__card{ width: 100%; height: 200px; margin-top: 100px; }
	#layout_studyroom .full_banner .scroll_down.arrow{ bottom: -187px; }
	.studyroom_accordion .studyroom_accordion__title{ font-size: 18px; }
	.studyroom_accordion .studyroom_accordion__content{ font-size: 16px; }
	.studyroom_tabs{ padding-bottom: 30px; }

	.course_programm__text table tr{ display: flex; flex-direction: column; }
	.course_programm__text table td{ padding-left: 0; margin: 0; }
	.course_programm__title{ font-size: 18px; }
	.course_programm__text table{ font-size: 14px; }
	#training_popup .qtrader-slider{ padding-bottom: 130px; }

	.result_search__title{ font-size: 21px; }
	.analytics_card__date form{ flex-wrap: wrap; }
	.analytics_card__date .fancy-select{ width: 100%!important; margin-right: 0!important; }
	.parallax_block__content, .qtrader_slide__content{ padding: 35px; }
	.list_documents__type li a, .services_tab_panel li a{ white-space: nowrap; }

	.analytics_card__date .jq-selectbox{ width: 100%!important; margin-right: 0; margin-bottom: 25px; }

	#layout_team .specialists_cards__item{ width: 50%; }
}