/* bases css */


@import 'mixins';
@import 'vars';
@import 'buttons';

html{ overflow-x: hidden; }
body{ position: relative; width: 100%; 	height: 100%; overflow-x: hidden; min-width: 320px;font-family: $base-font;font-size: 16px;line-height: 1.6;color: $base-text;}

.wrapper{position: relative;}


a{text-decoration: none; color: inherit;
	&:hover{	text-decoration: none; 	color: inherit;	outline: none;}
	&:focus{ text-decoration: none; outline: none; }
}

select, button{
	&:focus, &:active{outline: none;border: none;}
}

input, input:focus{ outline: none;}
input[type=checkbox]:focus, input[type=file]:focus{ outline: none; }

button{ background: none; border: none;}
button:focus, button:active{outline: none;}

img{ max-width: 100%;}

textarea:focus{ outline: none;}

hr{ background:#C9D7E1;}