/* buttons css */

.btn{
	border: none;	
	outline: none;
	font-size: 14px;
	border-radius:0;
	letter-spacing: 0;
	transition: box-shadow .5s;
	&--default{
		background:$gradient;
		color: #fff;
		padding: 9px 35px;
		&:hover{ color:#fff; box-shadow: 0 8px 15px rgba(13, 22, 38, 0.3);}
		&:focus{ color:#fff;}
	}
	
	
	&--beige{
		background-color:$beige-color;
		font-family: $font-bold;
		padding: 9px 35px;
		color: $dark-blue;
		&:hover{ box-shadow: 0 8px 15px rgba($beige-color, 0.6);}
		&:focus{ color: $dark-blue;}
	}

	&--light{
		background: transparent;
		border: 2px dotted $light-blue;
		color:$light-blue;
		transition: background-color .4s;
		&:focus{ color:$light-blue; }
	}

	&--arrow{
		position: relative;
		font-size: 16px;
		padding-right: 35px;
		transition: all .3s;
		&:after{@include pseudo($top: 0px, $right: 0); transition: all .25s; background-size: 20px; background-position: center right; background-repeat: no-repeat; border-radius: 50%; border: 2px dotted darken($dark-blue, 10%); width: 50px;height: 50px; display: block;}
	}

	&--arrow-right{
		transition: all .25s; background:url('../images/icons/arrow-right.svg') center center no-repeat; background-size: 20px; border-radius: 50%; border: 2px dotted darken($dark-blue, 10%); width: 50px;height: 50px; display: block;
	}

	&--arrow-left{
		transition: all .25s; background:url('../images/icons/arrow-left.svg') center center no-repeat; background-size: 20px; border-radius: 50%; border: 2px dotted darken($dark-blue, 10%); width: 50px;height: 50px; display: block;
	}

	&--arrow-bottom{
		transition: all .25s; background:url('../images/icons/arrow-bottom.svg') center center no-repeat; background-size: 20px; border-radius: 50%; border: 2px dotted darken($dark-blue, 10%); width: 50px;height: 50px; display: block;
	}

	&--doc{
		transition: all .25s; background:url('../images/icons/upload.svg') center center no-repeat; background-size: 20px; border-radius: 50%; border: 2px dotted #028AF3; width: 50px;height: 50px; display: block;
	}


	&:focus{ outline: none; }
}

.link_more{ color: $light-blue; font: 15px $font-light; text-decoration: underline; display: block; margin-bottom: 35px;}
.link_more:hover{ color: $light-blue; }


.scroll_down, .scroll_up{ display: flex; justify-content: center; flex-direction: column; align-items: center; }
.scroll_down__icon, .scroll_up__icon { position: relative; border-radius: 50%; width: 50px;height: 50px; }
.scroll_down__icon:hover, .scroll_up__icon:hover{ border: 1px solid darken($dark-blue, 10%); }
.scroll_down__icon:after{ @include pseudo(); transition: all .6s; height: 70px; width: 1px; top: -60px; @include h-center();}