
@mixin pseudo($top: auto, $right: auto, $bottom: auto, $left:auto ){
  content: '';
  display: block;
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin menu(){
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
}

@mixin v-center(){
	top: 50%;
	transform: translateY(-50%);
}

@mixin h-center(){
	left: 50%;
	transform: translateX(-50%);
}

@mixin aroud(){
	display: flex;
	justify-content: space-around;
}

@mixin between(){
	display: flex;
	justify-content: space-between;
}