
/* Fonts */

$base-font: 'museosanscyrl500', sans-serif;
$font-bold: 'museosanscyrl700';
$font-light: 'museosanscyrl300';
$font-thin: 'museosanscyrl100';
$font-extra: 'museosanscyrl900';

@include font-face("museosanscyrl300", '../fonts/museo/museosanscyrl300', $file-formats: otf ttf);
@include font-face("museosanscyrl500", '../fonts/museo/museosanscyrl500', $file-formats: otf ttf);
@include font-face("museosanscyrl700", '../fonts/museo/museosanscyrl700', $file-formats: otf ttf);
@include font-face("museosanscyrl100", '../fonts/museo/museosanscyrl100', $file-formats: otf ttf);
@include font-face("museosanscyrl900", '../fonts/museo/museosanscyrl900', $file-formats: otf ttf);



/* Colors */

$gradient: linear-gradient(to right, #1e3c72 0%, #2a5298 100%);
$shadow: 0 30px 58.3px 3.7px rgba(53, 58, 60, 0.5);


$base-text: #26262A;

$base-gray: #626262;

$title-color: #141414;

$beige-color: #E4D095;

$light-blue: #0074CC;

$dark-blue: #004173;

$border-color: #ACC2D4;

$bg-light-blue: #F7FAFE;




