.default_block{ text-align: center; padding: 90px 0; position: relative;}
.default_block__title{ font: 42px $font-light; line-height: 1; color:$title-color; margin-bottom: 20px;}
.default_block__title__blue{ font: 32px $font-light; line-height: 42px; text-transform: uppercase; color:$dark-blue; }
.default_block__text{ font: 18px $font-light; margin-bottom: 50px;}
.default_link{ position: relative; display: inline-block; text-decoration: none;}
.default_link:hover:after{ width: 0; }
.default_link:after{ @include pseudo(); height: 1px; width: 100%; background:#0576CD; transition: all .5s;}
.default_block__blue{ background:rgba(#1f3e75, .7);}
.default_block__blue .default_block__title,
.default_block__blue .default_block__text { color: #fff; }
.default_block__beige{text-align: center; margin: 100px 0; padding: 50px 0; position: relative; border: 3px solid $beige-color;}
.default_block__beige .default_block__title__blue{ text-transform: none; }
.default_block__light{ background:$bg-light-blue; }

.default__table--white{ background:#fff;}
.default__table{ width: 100%;line-height: 21px;}
.default__table tr{ display: flex; padding: 25px 0; border-bottom: 1px solid $border-color; &:last-child{ border-bottom: 0;} }
.default__table td{ width: 40%; flex-shrink: 0; padding: 0 25px; &:first-child{ color:#65696F; }}
.default__table th{ padding: 0 25px;}

.default__table .table_head{ width: 100%; background:#DEE9F8; color:#65696F; font-family: $font-bold;}
.default__table .table_head__sub{ width: 100%; background:#F2F6FC; color: $title-color; font-family: $font-bold;}
.table_extra{ margin-top: 30px;}


.beige-color{ color: $beige-color;}
.extra-bold{ font-family: $font-extra;}
.bold{ font-family: $font-bold;}
.uppercase{ text-transform: uppercase!important; }

.base_link{ color: $light-blue; transition: all .4s;}


.full_banner{ display: flex; flex-direction: column; align-items: center; position: relative; height: 505px; background:rgba(#004173, .5); margin-bottom: 45px; color: #fff;}
.full_banner .breadcrumbs,
.banner_service .breadcrumbs{ color: #fff; margin: 0; padding: 20px 0;}
.full_banner .breadcrumbs .breadcrumb_inset__link:after,
.banner_service .breadcrumbs .breadcrumb_inset__link:after{ @include pseudo($top: 0, $right: -5px); transition: none; background:url('../images/icons/arrow-right-white.png') center center no-repeat; background-size: 5px; border: 2px dotted #fff; opacity: 1;}
.full_banner .breadcrumbs .breadcrumb_inset__link:hover:after,
.banner_service .breadcrumbs .breadcrumb_inset__link:hover:after{ border: 1px solid #fff;}
.banner_about:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/about-page-banner.jpg') center center no-repeat; background-size: cover;}
.full_banner__content__title{ font: 42px $font-light; margin-bottom: 25px;}
.full_banner__content{ text-align: center; margin-top: 110px;}
.full_banner>.row{ align-self: stretch;}
.full_banner__content__text{ font: 24px $font-thin;}
.full_banner .scroll_down.arrow{ position: absolute; bottom: -85px;}

.flex-wrap{ width: 100%; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; input{ width: 48%;}}
.flex-wrap.flex-center{ justify-content: center; text-align: center; }
.flex-vertical{ width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; }

input[type=checkbox], input[type=file] { width: auto; border: none;}
label[for="file"]{ color:#028AF3; font-size: 14px; margin-right: 10px; cursor: pointer; }
label[for="checkbox"]{ text-decoration: underline; margin-left: 8px; }


.container_custom{ width: 1310px; margin:auto; }


.jq-checkbox{ width: 25px; height: 25px; border: 1px solid #028AF3; margin-top: -6px;}
.jq-checkbox.checked { background:url('../images/icons/checked.svg') center center no-repeat; background-size: 20px; }
.jq-file{ display: none!important;}
.jq-file__browse{ display: none;}
.jq-file__name{ margin-left: 10px;}
.jq-file.changed{ display: block!important;}
	
	div.fancy-select{ width: 165px; margin-right: 30px; }
	div.fancy-select div.trigger, div.fancy-select div.trigger.open{ font-weight: normal; font-size: 16px; text-transform: none; width: 100%; cursor: pointer; background: url('/images/icons/down-arrow.svg') right center no-repeat; background-size: 15px; box-shadow: none; border: none; border-radius: 0;  padding-bottom: 5px; border-bottom: 2px solid $dark-blue; color: $dark-blue; font-family: $font-bold; }
	div.fancy-select div.trigger{ padding-left: 0; width: 100%!important; }
	div.fancy-select ul.options{ max-height: none; height: auto; min-width: 100%; top: 40px!important; transition: opacity .15s!important; background:#fff; border: 1px solid #DBE4EB; border-top: 0; border-radius: 0; margin: 0; padding: 0; font-family: $font-bold; color: $dark-blue;}
	div.fancy-select ul.options li{ font-weight: normal; font-size: 16px; white-space: normal; text-transform: none; padding: 5px 20px; color: $dark-blue; cursor: pointer; &:hover{ background:$dark-blue; color: #fff; } }
	div.fancy-select ul.options li.selected{ background:$dark-blue; color: #fff; }
	div.fancy-select select:focus+div.trigger{ box-shadow: none; }
	div.fancy-select div.trigger:after{ display: none; }


.jq-selectbox.opened{ background: url('/images/icons/arrow-up.svg') right center no-repeat; background-size: 15px; }
.jq-selectbox { width: 165px; cursor: pointer; background: url('/images/icons/down-arrow.svg') right center no-repeat; background-size: 15px; margin-right: 30px; padding-bottom: 5px; border-bottom: 2px solid $dark-blue; color: $dark-blue; font-family: $font-bold; }
.jq-selectbox__dropdown{width: 100%; top: 32px!important; background:#fff; border: 1px solid #DBE4EB; border-top: 0;}
.jq-selectbox__dropdown ul{ margin: 0; padding: 0; font-family: $font-bold; color: $dark-blue;}
.jq-selectbox__dropdown ul li{ padding: 5px 20px; cursor: pointer; &:hover{ background:$dark-blue; color: #fff; } }


.jq-radio{ display: block; width: 18px; height: 18px; cursor: pointer; border-radius: 50%; margin-right: 10px; border: 1px solid $dark-blue; }
.jq-radio.checked{ position: relative; width: 18px; height: 18px; background:#D9E3EA; border: 1px solid transparent; }
.jq-radio.checked:after{ content: ''; position: absolute; top: 50%; left:50%; transform: translate(-50%, -50%); border-radius: 50%; width: 10px; height: 10px; background:$dark-blue; }

input[type=radio] { display: block; width: 18px; height: 18px; cursor: pointer; border-radius: 50%; margin-right: -23px; }
input[type=radio] + label { cursor: pointer;}
input[type=radio]:not(checked) { opacity: 0;}
input[type=radio]:not(checked) + label { position: relative; padding: 0 0 0 30px;}
input[type=radio]:not(checked) + label:before { content: ''; position: absolute; top: 0; left: 5px; width: 18px; height: 18px; border: 1px solid #CDD1DA;  border-radius: 50%; background: #FFF;
  width: 18px; height: 18px; border-radius: 50%; background:#D9E3EA; border: 1px solid transparent;}
input[type=radio]:not(checked) + label:after { content: ''; position: absolute; top: 4px; left: 9px; width: 10px;height: 10px; border-radius: 50%; background: $dark-blue;display: none;}
input[type=radio]:checked + label:after {display: block;}



.parallax_block__wrap{ position: relative;}
.parallax_block{ padding-bottom: 135px;}
.parallax_block__content{ @extend .qtrader_slide__content; text-align: center; box-shadow: 0 31px 50.1px 12.9px rgba(25, 45, 61, 0.1)}
.parallax_block__title{@extend .qtrader_slide__title; line-height: 30px;}
.parallax_block__text{ @extend .qtrader_slide__text}
.parallax_block__describe{ font-size: 18px; line-height: 26px; text-align: center; margin-top: 110px;}
.parallax_block__img{ @extend .qtrader_slide__img}


.info_list{ @extend .about_qtrader; background: $bg-light-blue;}
.info_list__title{ font-size: 24px; line-height: 30px; text-align: center;}
.info_list__content{ @extend .about_qtrader__list; padding: 0;}
.info_list__content li{ min-height: 50px;}
