/* Styles for dialog window */
#investment-popup, #qtrader_callback_popup,#open_account_popup, #subscribe_popup, #contact_page_popup, #success_message{
	background: white;
	padding: 50px 50px;
	text-align: left;
	max-width: 550px;
	margin: 40px auto;
	position: relative;	
}

.custom_popup_wrap { background:rgba(#000, .75);  top: 0!important;left: 0!important;right: 0!important;bottom: 0!important; z-index: 999999; position: absolute; height: 100%!important;}
.custom_popup_wrap_white { @extend .custom_popup_wrap; }
.custom_popup_wrap .zoom-anim-dialog{ transition: all .5s ease-in-out!important;}
.custom_popup_wrap .mfp-close{ opacity: 0;}

.custom_popup_wrap .mfp-content { display: flex!important; align-items: center;justify-content: center; position: absolute; display: block; top: 0;right: 0; bottom: 0;left: 0;}
#open_account_popup, #contact_page_popup{ max-width: 750px; padding: 50px 70px;}
#open_account_popup .flex-vertical{ color: #626262; }
#open_account_popup .flex-vertical span{ width: 60%; text-align: center; line-height: 1.2; }
#open_account_popup .btn{ display: inline-block; margin-top: 40px;}

#qtrader_callback_popup .btn--default,
#subscribe_popup .btn--default{padding: 15px 35px;}
#contact_page_popup input{ width: 48%; }
#contact_page_popup .popup_form{ width: 100%; }


#open_account_popup .popup_form form{ display: flex; justify-content: space-between; flex-wrap: wrap; flex-direction: row;}
#open_account_popup .popup_form input{ width: 48%;}

.mfp-bg{ opacity: 0!important;}

.popup{ display: flex; flex-direction: column; flex-shrink: 0; align-items: center; background:#fff; box-shadow: 0 15px 29.1px 1.9px rgba(14, 34, 70, 0.13);}
.popup .btn--beige{ font: 14px $font-bold; padding: 15px 25px; margin-top: 15px;}
.popup_title{ width: 300px; font-size: 18px; text-align: center; line-height: 1.3; margin-bottom: 25px;}
.popup_form form{ display: flex; flex-direction: column; align-items: center;}
.popup_form input,
.popup_form textarea{ @include placeholder {font: 14px $font-light;} margin-bottom: 15px; width: 300px; border: 1px solid rgba(0, 65, 115, 0.5); padding: 15px;}
.popup_form textarea{ width: 100%; height: 185px; }
.my-mfp-slide-bottom.mfp-ready.mfp-bg{ opacity: 0!important;}


/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}


/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}

/* 

====== Move-horizontal effect ======

*/
.mfp-move-horizontal {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s;
    
    transform: translateX(-50px);
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: translateX(0);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: translateX(50px);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}

/* 
====== Zoom effect ======
*/
.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}