#layout_popup_pages{ padding-top: 120px; padding-bottom: 50px;}
.popup_pages{position: fixed!important; top:0!important; left: 0!important; right: 0!important; height: 100vh; overflow-y: auto;  z-index: 999999; }
// .popup_pages:before{@include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:$bg-light-blue; }

.popup_pages .default_block{ background:#fff;}

.popup_pages__banner{ display: flex; flex-direction: column; align-items: center; position: relative; height: 270px; background:rgba(#004173, .6); color: #fff;}
.popup_pages____title{ font: 32px $font-light; text-align: center;}

.popup_pages__banner.bonds_card__item:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/corporate-popup-img-1.jpg') center center no-repeat; background-size: cover;}
.popup_pages__banner.ipo_card__item:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/corporate-popup-img-2.jpg') center center no-repeat; background-size: cover;}
.popup_pages__banner.capital_card__item:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/corporate-popup-img-3.jpg') center center no-repeat; background-size: cover;}
.popup_pages__banner.merger_card__item:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/consulting-popup-img-1.jpg') center center no-repeat; background-size: cover;}
.popup_pages__banner.rate_card__item:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/consulting-popup-img-2.jpg') center center no-repeat; background-size: cover;}
.popup_pages__banner.foreign_card__item:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/consulting-popup-img-3.jpg') center center no-repeat; background-size: cover;}

.popup_pages .about_qtrader, .popup_pages .specialists{ background:$bg-light-blue; }
.popup_pages__banner .scroll_down.arrow{ position: absolute; bottom: -85px;}

.popup_pages .about_qtrader .default_block__title{ font: 24px $base-font; line-height: 30px;}

.popup_pages .qtrader-slider{ padding-top: 110px; padding-bottom: 60px;}
.popup_pages .qtrader-slider .default_block__title{ font: 24px $base-font; line-height: 30px; }
.popup_pages .qtrader-slider .default_block__text{ text-align: center;}
#foreign_card__item.popup_pages .qtrader-slider .default_block__text{ text-align: left;}
.popup_pages .qtrader_slide{ position: relative; padding-bottom: 90px;}
.popup_pages .qtrader_slide__content{ position: relative; z-index: 2; padding-left: 85px; padding-right: 85px; box-shadow: 0 31px 50.1px 12.9px rgba(25, 45, 61, 0.1);}
.popup_pages .qtrader_slide__img{ top: -40px; z-index: auto;}

.popup_pages .qtrader_slide__title{ line-height: 30px;}

.popup_pages__close{ display: block; margin: 40px 0; background:url('/images/icons/close-popup.png') center center no-repeat; border-radius: 50%; border: 2px dotted #fff; width: 50px;height: 50px; }
.popup_pages__close:hover{ border: 1px solid #fff;}


#training_popup .popup_pages__banner:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/training-popup-banner.jpg') center center no-repeat; background-size: cover;}
#training_popup .popup_pages__banner{ height: 195px; }
#training_popup .popup_pages__close{ margin-bottom: 20px; }
#training_popup .qtrader-slider .default_block__text{ text-align: center; }
#training_popup .qtrader-slider{ padding-bottom: 210px; }
#training_popup .specialists{ background:#fff;}

.course{ background:$bg-light-blue!important; padding-top: 0;
	.scroll_down{ margin-top: -65px; margin-bottom: 60px; }
}
.course_card{ background:#fff; border: 4px solid #004173; padding: 70px; margin-top: -150px; margin-bottom: 120px; box-shadow: 0 31px 71.1px 18.9px rgba(25, 45, 61, 0.18); }
.course_card__title{ font-size: 24px; color: $dark-blue; margin-bottom: 60px; }
.course_card__text{ 
	table{
		width: 100%;
		text-align: left;
		td{ width: 50%; font-size: 18px; padding-bottom: 10px; }
		td:first-child{ font: 18px $font-light; color: $dark-blue; }
	}
}
.course__price{ font: 24px $font-bold; margin-left: 15px; color: $title-color; }
.course_programm__title{ font-size: 24px; margin-bottom: 40px; }
.course_programm__text{ 
	table{ width: 100%; border-spacing: 5px; font-size: 18px;
		tr{ border-bottom: 1px solid $border-color; margin-bottom: 10px; }
		td{ margin: 10px 0; text-align: left; padding-left: 40px; }
		td:first-child{ padding-left: 0; }
		td:first-child span{ font-family: $font-light; text-align: center; display: block; background:$dark-blue; color: #fff; padding: 10px 40px; margin: 20px 0 10px;  }
	}
}

#classical_brokerage .popup_pages__banner:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('/images/classical-brokerage-page-banner.jpg') center center no-repeat; background-size: cover;}
#personal_brokerage, #personal_brokerage--juristic{
	.popup_pages__banner:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('/images/personal-brokerage-page-banner.jpg') center center no-repeat; background-size: cover;}
}
#kausar_brokerage .popup_pages__banner:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('/images/kausar-brokerage-page-banner.jpg') center center no-repeat; background-size: cover;}
#market_brokerage .popup_pages__banner:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('/images/market-brokerage-page-banner.jpg') center center no-repeat; background-size: cover;}
#qtrader_brokerage .popup_pages__banner:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('/images/qtrader-brokerage-page-banner.jpg') center center no-repeat; background-size: cover;}

.popup_pages .default_block__light{ background:$bg-light-blue!important; }
.popup_pages .about_brokerage .default_block__title{ font-size: 24px; }
.popup_pages .statement{ color: $light-blue; font-size: 24px; margin-top: 60px; }
.popup_pages .statement span{ padding-left: 50px; display: inline-block; }
.popup_pages .statement span:after{ left: 0px; background: url('../images/icons/arrow-right.svg') center center no-repeat; background-size: 15px; }

#qtrader_brokerage .qtrader-slider{ padding-bottom: 0; }

#personal_brokerage .qtrader-slider .default_block__text,
#market_brokerage .qtrader-slider .default_block__text{ text-align: center; }

.popup_pages .specialists{ padding-bottom: 130px; }