
.qazkom__content{ @extend .qtrader__content;}
.qazkom__content__card{ @extend .assets__content__card; width: 50%; padding: 60px; color: $dark-blue; flex-direction: column; text-align: center;}
.qazkom__content__title{ font-size: 26px; line-height: 1.2; margin-bottom: 20px;}
.qazkom__content__text{ font-size: 18px; line-height: 1.2;}
.qazkom__content__logo{ text-transform: uppercase; display: block; font-family: $font-bold;}
.qazkom_about{ margin-top: 60px;}
.qazkom_about__title{ font-size: 24px; margin-bottom: 40px; color: #141414; line-height: 1.2;}
.qazkom_about__text{ text-align: left; font: 18px $font-light;}

.trust_us{ position: relative;}
.trust_us:before{ content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; z-index: -1; background:url('../images/trust-us.jpg') center center no-repeat; background-size:cover;}
.trust_us__list{ @include menu(); justify-content: space-between; color: $beige-color; font-size: 24px; line-height: 1.2;}


.our_mission{padding-bottom: 0;}
.our_mission__wrap{ display: flex; flex-wrap: wrap; justify-content: space-around;}
.our_mission__item{ width: 28%; margin-bottom: 50px; text-align: center;}
.our_mission__item__logo img{ height: 42px; margin-bottom: 20px;}
.our_mission__item__text{ font: 24px $font-light; color: $dark-blue; line-height: 1.2;}

.financial_indicators{ padding-bottom: 130px;}
.financial_indicators__card{ border: 3px solid $beige-color; padding: 20px; margin-bottom: 25px;}

.financial_indicators .default_block__title{ margin-bottom: 40px;}
.financial_indicators__title{ font: 18px $font-light; margin-bottom: 25px;}
.financial_indicators__number{ font-size: 50px; color: $dark-blue; line-height: 1;}
.financial_indicators__currency{ font: 30px $font-light; color: $dark-blue}
