.banner_service__card.analytics:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/pdo-page-banner.jpg') center center no-repeat; background-size: cover;}
#layout_analytics .rewards{ padding-bottom: 60px;}
#layout_analytics .rewards_card{ margin-bottom: 35px; box-shadow: 0 5px 40.1px 5px rgba(17,69,155,.08); }

.analytics_block{margin: 35px 0 70px;}
.analytics_wrap{ display: flex;}
.analytics_nav{ width: 263px; flex-shrink: 0; list-style-type: none; padding: 50px 30px; margin: 0 25px 0 0; background:$bg-light-blue; }
.analytics_nav li{ margin-bottom: 25px; }
.analytics_nav li.active{ a{ font-family: $font-bold; color: $dark-blue; font-size: 18px; } }
.analytics_nav a{ color: $title-color;}
#layout_analytics .tab-content{flex-grow: 1;}
.analytics_card{ height: 100%; }
.analytics_card__title{ font-size: 28px; margin-top: 35px; margin-bottom: 25px; color: $dark-blue;}
.analytics_card__date{ display: flex; justify-content: flex-end; }
.analytics_card__date+.analytics_card__title{ margin-top: 5px; }
.analytics_card__content{ padding-bottom: 25px; color: $title-color; }
.analytics_card__item{ display: flex; flex-direction: column; justify-content: space-between; transition: all .5s; border: 1px solid #DBE4EB; margin-bottom: 25px; text-align: center; padding: 30px 25px; color: $title-color;}
.analytics_card__item:hover{ background: #fff; border: 1px solid transparent; box-shadow: 0 10px 20px 8px rgba(17,69,155,.05);}
.analytics_card__item__title{ font: 18px $font-bold; margin-bottom: 30px; }
.analytics_card__item__date{ color: $title-color; font-size: 12px;}
.analytics_card__filter{ margin-bottom: 55px;  form{ display: flex; } label{ font: 18px $font-bold; margin-right: 30px; } }
.analytics_card__pagination{ align-self: center;}
#recommendations table tr td:first-child{ width: 180px; flex-shrink: 0; }

.analytics_card__date form{ display: flex; }
.analytics_card__date .fancy-select:first-child{ .trigger{ width: 70px; } margin-right: 30px; width: 70px;  }
.analytics_card__date .fancy-select:last-child{ .trigger{ margin-right: 0; } margin-right: 0; }

.analytics_card__top{ width: 100%; display: flex; justify-content: space-between; align-items: center; margin-bottom: 25px; }
.analytics_card__top__title{ font-size: 24px; font-family: $font-bold; color: $title-color }

#recommendations .analytics_card__filter{ padding-bottom: 20px; border-bottom: 1px solid #D6E1E9; }

#layout_analytics .default__table tr{ display: table-row; border-bottom: 1px solid #D6E1E9; }

#layout_analytics .default__table td{ width: auto; padding: 20px 10px; color: $title-color}

#layout_analytics .table_head{ th{ padding: 15px; } font-size: 14px; }


.analytics_card__pdo{ display: flex; justify-content: center; align-items: center;  transition: all .5s; height: 185px; margin-bottom: 25px; padding: 40px; border: 1px solid #D6E1E9; }
.analytics_card__pdo:hover{ background: #fff; border: 1px solid transparent; box-shadow: 0 10px 20px 8px rgba(17,69,155,.05);}

.analytics_card__item__active{ display: none; flex-direction: column; align-items: flex-start; }
.button_prev{ margin-bottom: 30px; margin-top: 40px; padding-left: 60px; position: relative; transition: all .25s; font: 18px $font-bold; color: $dark-blue }
.button_prev:before{ content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background:url('../images/icons/arrow-left.svg') center center no-repeat; background-size: 20px; border-radius: 50%; border: 2px dotted darken($dark-blue, 10%); width: 50px;height: 50px; display: block; }
.button_prev:hover:before{ border: 1px solid darken($dark-blue, 10%); }
.pdo_card__active .button_prev{ margin-top: 15px; }

.analytics_card__item__active .button_download{ align-self: flex-end; font-size: 14px; color: #028AF3; padding-right: 60px; position: relative; }
.analytics_card__item__active .button_download:before{@include pseudo($top: 50%, $right: 0); transform: translateY(-50%); background:url('../images/icons/upload.svg') center center no-repeat; background-size: 20px; border-radius: 50%; border: 2px dotted #028AF3; width: 50px;height: 50px; display: block;}
.analytics_card__item__active .button_download:hover:before{ border: 1px solid #028AF3;  }

.analytics_card__item__title__active{ font: 24px $font-bold; margin-top: 35px; margin-bottom: 5px; }
.analytics_card__item__date__active{ font-size: 12px; margin-bottom: 20px; }
.analytics_card__item__text__active{ font: 18px $font-light; padding-bottom: 25px; }

.analytics_card__date__active{ align-self: flex-end; }
.analytics_card__item__active__wrap{ margin-top: 30px; }

#layout_analytics{

	// .analytics_nav + .fancy-select{ display: none; position: relative; width: 100%; }
	// .analytics_nav + .fancy-select .trigger, .analytics_nav + .fancy-select .trigger, .analytics_nav + .fancy-select .trigger.open{ font-weight: normal; font-size: 18px; padding: 35px 70px 35px 20px; width:100%; cursor: pointer; background: $bg-light-blue; box-shadow: none; border: none; border-radius: 0; color: $dark-blue; font-family: $base-font; }
	// .analytics_nav + .fancy-select ul.options{ width: 100%; left: 0; border:none; background:#F7FAFE; top: 88px!important; margin: 0; padding: 0; font-family: $font-bold; color: $dark-blue;}
	// .analytics_nav + .fancy-select ul.options li{ font-family: $font-light; font-size: 18px; font-weight: normal; padding: 15px 20px; color: $title-color; cursor: pointer; &:hover{ background:$dark-blue; color: #fff; } }
	// .analytics_nav + .fancy-select ul.options li.selected{ background:$dark-blue; color: #fff; }
	// .analytics_nav + .fancy-select select:focus+.trigger{ box-shadow: none; }
	// .analytics_nav + .fancy-select .trigger:after{ content: ''; position: absolute;top: 50%;left: auto; right: 15px; bottom: auto; transform: translateY(-50%);  background: url('/images/icons/down-arrow.svg') center center no-repeat; background-size: 20px;border-radius: 50%; border: 2px dotted #002440; width: 50px;height: 50px; display: block; }

	.analytics_nav + .jq-selectbox{ display: none!important; background:#F7FAFE; border: none; width: 100%; font: 18px $base-font; }
	.analytics_nav + .jq-selectbox .jq-selectbox__select{ padding: 35px 70px 35px 20px; }
	.analytics_nav + .jq-selectbox .jq-selectbox__select:after{ content: ''; position: absolute;top: 50%;left: auto; right: 15px; bottom: auto; transform: translateY(-50%);  background: url('/images/icons/down-arrow.svg') center center no-repeat; background-size: 20px;border-radius: 50%; border: 2px dotted #002440; width: 50px;height: 50px; display: block; }
	.analytics_nav + .jq-selectbox .jq-selectbox__dropdown{ width: 100%; left: 0!important; border:none; background:#F7FAFE; top: 88px!important; }
	.analytics_nav + .jq-selectbox .jq-selectbox__dropdown ul li{ padding: 15px 20px; color: $title-color; font-family: $font-light; }
}