.banner_awards:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/awards-page-banner.jpg') center center no-repeat; background-size: cover;}

#layout_awards .rewards_card{ width: 23%; margin-bottom: 35px; margin-left: 1%; margin-right: 1%; box-shadow: 0 5px 40.1px 5px rgba(17,69,155,.08); }
#layout_awards .rewards{ padding-bottom: 100px;}
#layout_awards .show_more{ margin-top: 25px;}

#layout_awards .rewards_card__wrap{ display: flex; flex-wrap: wrap; justify-content: space-between;}
#layout_awards .rewards_card__wrap:after{ content: ""; flex: auto; width: 0; height: 0; }