.banner_service__card.brokerage:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/brokerage-page-banner.jpg') center center no-repeat; background-size: cover;}
#layout_brokerage .services{ position: relative; padding: 90px 0 0px; margin-bottom: 70px;}
#layout_brokerage .services:before{ @include pseudo(); top:0; left: 0; right: 0; bottom: 0; z-index: -1; background: $bg-light-blue; }

.classical_brokerage,
.personal_brokerage,
.kausar_brokerage,
.qtrader_brokerage{ position: relative; }

.classical_brokerage:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('/images/brokerage-page-img-1.jpg') center center no-repeat; background-size: cover;  }
.personal_brokerage:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('/images/brokerage-page-img-2.jpg') center center no-repeat; background-size: cover;  }
.kausar_brokerage:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('/images/brokerage-page-img-3.jpg') center center no-repeat; background-size: cover;  }
.qtrader_brokerage:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('/images/brokerage-page-img-4.jpg') center center no-repeat; background-size: cover;  }
.market_brokerage:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('/images/brokerage-page-img-5.jpg') center center no-repeat; background-size: cover;  }


.about_brokerage__list{ @extend .about_qtrader__list; margin-top: 70px; padding-left: 0; }

.info_brokerage__list{ @extend .about_qtrader__list; justify-content: center;  padding-left: 0; counter-reset: list;
	li{ width: 27%; margin: 3%; text-align: center; padding-top: 66px; padding-left: 0; margin-bottom: 60px; }
	li:before{ content: counter(list); counter-increment: list; background:none; display: flex; justify-content: center; align-items: center; left: 50%; transform: translateX(-50%); color:$dark-blue; font-size: 18px; }

}

.list_documents__content__wrap{ display: flex; justify-content: space-between; margin-top: 40px; }
.list_documents__content__item{ width: 48%; }
.list_documents__content__title{ font-family: $font-bold; margin-bottom: 15px; display: block; }

#layout_brokerage{
	.list_documents{ background: none; }
	.list_documents.default_block__light{ background:$bg-light-blue; }
	.list_documents__type{
		li{ margin-right: 50px; &:last-child{ margin-right: 0; } }		
	}

	.list_documents__content__wrap{
		display: block;
	}

	.list_documents__content__wrap table{
		ul{ list-style-type: square; }
		margin-bottom: 25px;
		td:first-child{ width: 85%; }
		td:last-child{ width: 15%; color: $title-color; text-align: center; }
		.table_head tr{ justify-content: space-between; }
	}

	.specialists_callback{ margin: 80px 0 60px; }

	.open_account + .list_documents .list_documents__content__wrap{ display: flex; }
}

.about_brokerage__list__cross{
	li:before{ content: ''; position: absolute;top: 0;left: 0; right: auto; bottom: auto;transition: all .25s; border-radius: 50%; border: 2px dotted #002440; width: 50px; height: 50px; display: block; background: url('/images/icons/cross.png') center center no-repeat; }
}

.about_brokerage__list__arrow{
 	li{ width: 32%; padding-top: 5px;}
	li:before{ content: ''; position: absolute;top: 0;left: 0; right: auto; bottom: auto;transition: all .25s; border-radius: 50%; border: 2px dotted #002440; width: 50px; height: 50px; display: block; background: url('/images/icons/arrow-right.svg') center center no-repeat; background-size: 20px; }
}

#market_brokerage .qtrader-slider{ margin-bottom: 0; }