.banner_career:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/career-page-banner.jpg') center center no-repeat; background-size: cover;}

.vacancy{ background:$bg-light-blue; padding: 75px 0;}
.vacancy_title{ font-size: 30px; text-align: center; margin-bottom: 40px;}
#scroll_career{ padding-bottom: 25px; }


.vacancy_content{ background: #FFF; border: 1px solid $border-color;}
.vacancy_card{padding: 25px; border-bottom: 1px solid $border-color; }
.vacancy_card:last-child{border-bottom: none; }
.vacancy_card__title{ font-size: 24px; line-height: 1.2; display: flex; cursor: pointer; align-items: center; transition: color .4s;}
.vacancy_card__title:focus{ outline: none;}
.vacancy_card__title .btn--arrow-right{margin-right: 30px; flex-shrink: 0;}
.vacancy_counter{ flex-shrink: 0; transition: all .4s; width: 50px;height: 50px; font-size: 18px; background:#EDF3FA; margin-left: 15px;  display: flex; justify-content: center; align-items: center; border-radius: 50%;}


.vacancy_card__active{ padding-left:80px; padding-bottom: 20px; padding-top: 20px;}
.vacancy_item__profession{ text-decoration: underline; font-size: 18px; line-height: 1.3;}
.vacancy_item__profession:after{ content: ','}
.vacancy_item__city{ font-size: 16px; color: $base-gray; margin-left: 5px;}
.vacancy_item{ display: flex; align-items: center; margin: 20px 0;}

.vacancy_card [aria-selected=true]{ color: #028AF3; .btn--arrow-right{ background:url('../images/icons/down-arrow.svg') center center no-repeat; background-size: 20px; } .vacancy_counter{ background-color: #028AF3; color: #fff;} }

.vacancy_form__wrap{ border-top: 5px solid $beige-color; padding-bottom: 65px; box-shadow: 0 13px 71.1px 18.9px rgba(17, 69, 155, 0.1);}
.vacancy_form{ margin: 75px 0; input, textarea{ margin-bottom: 18px; padding: 15px; border: 1px solid $border-color; @include placeholder { font: 14px $font-light; color: $base-gray; opacity: .7; }} }
.vacancy_form textarea{ width: 100%; height: 160px;}
.vacancy_form form{ display: flex; flex-direction: column; align-items: center;}
.vacancy_form label[for=checkbox]{ color: #028AF3; }
.vacancy_form .btn--beige{font: 14px $font-bold; padding: 17px 35px; margin-top: 20px; }
.vacancy_form .input_file{ margin-bottom: 50px;}



#layout_career .specialists{ padding-top: 0;}