.banner_service__card.contact:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('/images/contact-page-banner.jpg') center center no-repeat; background-size: cover;}
#layout_contact .banner_card__title{ font: 50px $font-thin; color: #fff; margin-top: 30px; }
#layout_contact .banner_service__card__content{ justify-content: center; }

#layout_contact #map{ width: 100%; height: 500px; margin-top: 40px; }
#layout_contact .statement{ font-size: 24px; padding: 75px 0; }
#layout_contact .open_account{ margin-top: 110px; }
#layout_contact #layout_scroll{ padding-bottom: 30px; }
#layout_contact .default__table{ font-size: 16px; font-family: $base-font; }
#layout_contact .default__table td{ padding: 0; }
#layout_contact .default__table td:last-child{ color: $title-color }

