.banner_corporate:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/corporate-governance-page-banner.jpg') center center no-repeat; background-size: cover;}

.corporate_license__item{ display: flex;}
.corporate_license__text{ text-align: left; font: 18px $font-light; margin-top: 15px;}
.corporate_license__img{ flex-shrink: 0; margin-right: 30px; max-width: 230px;}
.corporate_license__number,
.corporate_license__date{ display: block; font-family: $base-font; margin-top: 15px;}

.corporate_news__content{ @extend .tab_block__content__analytics;}
.corporate_news__card{ @extend .tab_block__content__card; }

.corporate_news__card__title{ @extend .tab_block__content__card__title; }
.corporate_news__card__type{ @extend .tab_block__content__card__type; }
.corporate_news__card__text{ @extend .tab_block__content__card__text; }
.corporate_news__card__date{ @extend .tab_block__content__card__date; }


.corporate_news{ padding-bottom: 140px;}
.corporate_news .show_more{ margin-top: 20px; }

.corporate_report{ background:$bg-light-blue;}
.corporate_report .report__card{ position: relative; }
.corporate_report .report__card .dot{ position: absolute; bottom:-5px; left: 50%; transform: translateX(-50%); display: block; width: 10px; height: 10px; background:#004173; border-radius: 50%;}
.corporate_report__years .report__card:before{ display: none; content: ''; position: absolute; box-shadow: 0 13px 71.1px 18.9px rgba(17, 69, 155, 0.1); left: 50%; transform: translateX(-50%); bottom: -15px; border-radius: 50%; width: 30px; height: 30px; background:#fff; }
// .report__card{ display: flex; flex-wrap: wrap; justify-content: space-between; }
.report__card__item{ text-align: left; font: 18px $font-light; line-height: 1.3; display: flex; justify-content: space-between; padding: 0 20px; margin-bottom: 45px; align-items: center;}
.report__card__item__download{ .btn--doc{ margin-left: 15px;} color: $light-blue; font-family: $base-font; font-size: 14px; display: flex; align-items: center;}
.corporate_report__content .report__card { position: relative; }
.corporate_report__content .report__card:before { content: ''; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 1px; height: 100%; background:#CFDCE8; display: block; }
.report__card__item__title{ width: 60%; }

.corporate_report__years { .year{ display: block; padding-bottom: 12px; cursor: pointer; } box-sizing: border-box; margin-bottom: 20px; margin-top: 70px; padding-bottom: 70px; position: relative;}
.corporate_report__years:after{ content: ''; display: block; position: absolute; width: 88%; height: 1px; left: 50%; transform: translateX(-50%); right: 0; bottom:69px; background: #004173; }
.corporate_report__years .swiper-wrapper{ align-items: flex-end;}
.corporate_report__years .swiper-button-next, .corporate_report__years .swiper-button-prev{ transform: translateY(-50%); margin-top: 5px; }
.corporate_report__years .swiper-button-next{ right: 0;}
.corporate_report__years .swiper-button-prev{left: 0;}
.corporate_report__years .swiper-slide { width: 17%;height: 100%; font: 18px $font-light; color: $base-text;}
.swiper-button-disabled{ opacity: 1!important;}
.corporate_report__years .swiper-slide-active { .report__card:before{ display: block;}  .year{ display: block; padding-bottom: 40px; } color: #004173; font: 36px $base-font; }


.corporate_report__content .swiper-slide:after{ content: ''; width: 1px; height: 100%; position: absolute; left: 50%; transform: translateX(-50%); top: 0; background: #CFDCE8; }