.banner_dealings:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/our-deals-page-banner.jpg') center center no-repeat; background-size: cover;}

.dealings_card{ @extend .rewards_card; width: 100%; cursor: pointer; transition: transform .8s;  background:#fff; box-shadow: none; margin-bottom: 30px; border: 1px solid $border-color; padding-left: 0; padding-right: 0;}
.dealings_card:hover{ position:absolute; width: 125%; transform: translateY(-50px); left: -50px; border: none;  z-index: 10; height: auto!important; .dealings_years, .dealings_describe, .dealings_summ{ display: block;} box-shadow: 0 13px 50.1px 8.9px rgba(17, 69, 155, 0.1); }

.dealings_card span { width: 100%; padding: 0 25px;}
.dealings_card__text{ display: flex; flex-direction: column; align-items: center; line-height: 1.2}
.dealings_domain{ margin: 15px 0; color: $dark-blue;}
.dealings_card__date{ font-size: 18px; color: #8d9eb3; margin-bottom: 15px;}
.dealings_card__logo{ margin-bottom: 30px; padding: 0 25px;}
.dealings_card__logo img{ max-height: 75px;}
.dealings_summ{ display: none; background:$beige-color; font: 24px $font-bold; color: $dark-blue; padding: 20px 0!important; margin-bottom: 15px;}
.dealings_describe{ display: none; width: 90%!important; margin-top: 15px; font-size: 18px; color: #323235;}
.dealings_years{  display: none; }