.slider{ position: relative;}
.slider_card{ height: 640px; position: relative; background-repeat: no-repeat; background-position: center center; background-size: cover;}
.slider .pseudo{ position: relative;}
.slider .swiper-container{ height: 640px; overflow: visible; }
.square_back{ @include pseudo($top: 22%, $left: -72px); z-index: 1; transform: translateY(-50%); width: 430px; height: 384px; background: $gradient, #f6f6f6; box-shadow: 0 15px 29.1px 1.9px rgba(53, 58, 60, 0.5); }
.slider .container{ position: relative;}
.slider .swiper-button-next,
.slider .swiper-button-prev
{  background: none; border: 2px dotted #fff; position: static; width: 58px; height: 58px; }

.slider .swiper-button-next:hover,
.slider .swiper-button-prev:hover{ border: 1px solid #fff;}

.slider .swiper_button__wrap{ height: 140px; display: flex;flex-direction: column; justify-content: space-around; top:50%; right: 15px; transform: translateY(-50%); z-index: 100; position: absolute;}
.slider .swiper-button-next{ background:url('../images/icons/slider-next.png') center center no-repeat;}
.slider .swiper-button-prev{ background:url('../images/icons/slider-prev.png') center center no-repeat;}
.slider .swiper-button-disabled{ opacity: 1;}
.slider .swiper-pagination{ left: -30px; z-index: 10; right: auto;}
.slider .swiper-pagination-bullet{ width: 11px;height: 11px; opacity: 1; background: transparent; margin-bottom: 10px!important; border-radius: 0; border: 1px solid #fff;}
.slider .swiper-pagination-bullet-active{ background:$beige-color;}
.slider .slider_card__content__wrap{ height: 384px; display: flex; flex-direction: column; justify-content: center; position: absolute; top: 18%; left: 90px; z-index: 10;}
.slider .slider_card__content__title__beige{ display: block; color: $beige-color;}
.slider .text-wrap{ overflow:hidden; }
.slider .slider_card__content__title{ transform: translateY(120%); transition: all 1s; font-size: 50px; line-height: .9; color:#fff;}
.slider .slider_card__content__title__number{ font-size: 72px; margin-right: 10px;}
.slider .slider_card__content__tagline{ transform: translateY(120%); transition: all 1s; font:18px $font-thin;  color:#fff; position: relative; padding-top: 15px; display: block; margin-top: 20px;}
.slider .slider_card__content__tagline:before{ @include pseudo(); top:0; left: 0; transition: all 1.5s; width: 0; height: 1px; background:#fff;}
.scroll_down{ margin-top: 30px; position: relative; z-index: 1000;}
.slider .swiper-slide-active{ .slider_card__content__tagline:before{ width: 84px;} .slider_card__content__title{ transform: translateY(0); opacity: 1; } .slider_card__content__tagline{ transform: translateY(0); opacity: 1; } }
.scroll_down__icon{ border: 2px dotted darken($dark-blue, 10%); background:url('../images/icons/down-arrow.svg') center center no-repeat; background-size: 20px;}
.scroll_down__icon:hover{ border: 1px solid darken($dark-blue, 10%); }
.scroll_down__icon:after{background:$dark-blue; width: 2px;}
.scroll_down.arrow { @include animation(bounce 3.5s infinite);}

.slider .swiper-slide-duplicate .square_back{ visibility: hidden; }
.slider .swiper-slide-duplicate.swiper-slide-active .square_back{ visibility: visible; }


@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0)}
	40% {transform: translateY(-30px)}
	60% { transform: translateY(-15px) }
}


.services_card__item{ box-shadow: $shadow;}
.no-padding{ padding: 0;}
.services{ padding-top: 50px;}
.services_card__item{ padding: 12px; display: flex; flex-direction: column;  position: relative; transition: all .3s; height: 536px; background:rgba(#1f3e75, .7);}
.services_card .brokerage_service:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/service-bg1.jpg') center center no-repeat; background-size: cover; }
.services_card .management_service:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/service-bg2.jpg') center center no-repeat; background-size: cover; }
.services_card .investment_banking:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/service-bg3.jpg') center center no-repeat; background-size: cover; }

.services_card__item:hover{  background:rgba(#000, .7); .services_card__item__text{ transform: translateY(-15px)}; .scroll_down__line{ margin-bottom: 30px}; .services_card__item__content{ border: 3px solid $beige-color;} .services_card__item__describe{display: block;} .services_card__item__icon{ transform: translateY(-20px);} .services_card__item__icon svg{ fill: $beige-color;} }
.services_card__item__content{ transition: all .4s; box-sizing: border-box; border: 3px solid transparent; display: flex;flex-direction: column; flex-basis:100%; align-items: center; }
.services_card__item__icon{ display: flex;  flex-direction: column; justify-content: flex-end; transition: all .55s; text-align: center; margin-top: 70px; margin-bottom: 25px;	}
.services_card__item__icon svg{ height: 55px; fill: #fff; transition: all .4s}
.services_card__item__text{ transition: all .4s; width: 50%; font:32px $font-light; text-align: center; color: #fff;}
.services_card__item__describe{ transition: all .4s; display: none; font: 16px $font-thin; line-height: 1.2; margin-top: 15px;}
.services_card__item .scroll_down__icon{ border: 2px dotted #fff; background:url('../images/icons/slider-next.png') center center no-repeat; }
.services_card__item .scroll_down{ display: flex;flex-direction: column; align-items: center;}
.services_card__item .scroll_down__icon:after{display: none;}
.services_card__item .scroll_down__line{ transform: translateY(15px); transition: all .4s; height: 70px; width: 1px; background:#fff;}


.tab_block__nav{margin-bottom: 0; list-style-type: none; padding: 0; }
.tab_block__title{ display: flex; flex-direction: column; margin-bottom: 50px; transition: all .4s; justify-content: center; font: 18px $font-light; color: $dark-blue; padding: 25px; align-content: center; border: 1px solid rgba(0, 65, 115, 0.3);}
.tab_block__title:hover{ background:#fff; border:1px solid transparent; box-shadow: 0 25px 50px 15px rgba(72, 75, 81, 0.2);}
.tab_block__nav li:focus{ outline: none; }
.tab_block__nav .ui-tabs-active a{ background:$dark-blue; color:#fff; .tab_block__title__icon.news{ background:url('../images/icons/news-hover.svg') top center no-repeat; background-size: 40px;} .tab_block__title__icon svg{ fill:#fff!important}; box-shadow: $shadow; }
.tab_block__title__icon.news{ height: 45px; background:url('../images/icons/newspaper-folded.svg') top center no-repeat; background-size: 40px;}

.tab_block__title__icon{ margin-bottom: 5px;}
.tab_block__title__icon svg{ height: 40px; fill:$dark-blue; width: 100%;}

.tab_block{ background:#F7FAFE;}
.tab_block__content__analytics,
.tab_block__content__news,
.tab_block__content__massmedia{ display: flex; justify-content: space-between; flex-wrap: wrap;}
.tab_block__content__card{ width: 31.9%; transition: all .5s; display: flex; flex-direction: column; border: 1px solid $border-color; padding: 35px 40px; text-align: left; margin-bottom: 25px;}
.tab_block__content__card:hover{ background:#fff; border: 1px solid transparent; box-shadow: 0 13px 71.1px 18.9px rgba(17, 69, 155, 0.05);}
.tab_block__content__card__title{ font-size: 18px; line-height: 1.2; margin-bottom: 10px;}
.tab_block__content__card__type{ color: $light-blue; font-size: 12px;}
.tab_block__content__card__text{ font: 14px $font-light; line-height: 1.5; margin: 5px 0; flex-grow: 1; }
.tab_block__content__card__date{ font-size: 12px; color: #8D9EB3;}
.tab_block .default_block_text{ margin-bottom: 45px;}
.tab_block .show_more{ margin-top: 25px; margin-left: auto; margin-right: auto; width: 100%;}

.show_more__link{ display: block; position: relative; font-size: 12px; color: darken($dark-blue, 10%); padding-right: 65px; padding-bottom: 5px;}
.show_more__link:hover { .show_more__icon{ right: -15px; border: 1px solid darken($dark-blue, 10%)} };
.show_more__icon{ position: absolute; top: -3px; right: 0; transition: all .3s; border-radius: 50%; border: 2px dotted darken($dark-blue, 10%); width: 50px;height: 50px; display: block; background:url('../images/icons/arrow-right.svg') center center no-repeat; background-size: 20px; }
.show_more__link:after{ @include pseudo($bottom: 0px, $left: 0); height: 2px; width: 100px; background:$dark-blue; }
.show_more{ display: flex;justify-content: center; align-items: flex-start;}



.subscribe_analytics{background:rgba(#1f3e75, .9); position: relative; padding-top: 50px; padding-bottom: 50px;}
.subscribe_analytics:before{@include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/subscribe_analytics.jpg') center center no-repeat; background-size: cover; }
.subscribe_analytics .default_block__title{ color: #fff;}
.subscribe_analytics__form{ position: relative; display: flex; padding-bottom: 12px; justify-content: center; justify-content: space-between; width: 100%;}
.subscribe_analytics__form:after{ @include pseudo($left:0, $right:0, $bottom:0); height: 2px; background:rgba(white, .5);}
.subscribe_analytics__form input{  background: none; border: none; flex-grow: 1; padding-right: 15px; color: #fff; @include placeholder { transition: all .25s; color: #fff; opacity: .3; font-size: 14px;}}
.subscribe_analytics__form input:focus{ color: #fff; @include placeholder { color: #fff; opacity: 1;}  .subscribe_analytics__form:after{ height: 3px; background:white;}}
.subscribe_analytics__form .btn--arrow{color: $beige-color;}
.subscribe_analytics__form .btn--arrow:hover:after{ border: 1px solid $beige-color; right: -10px;}
.subscribe_analytics__form .btn--arrow:after{ width: 30px; height: 30px; border: 2px dotted $beige-color; background-size: auto; background-image: url('../images/icons/arrow-beige.png'); background-position: center center;}


.rewards{ padding-bottom: 105px;	}
.rewards_card{ padding: 30px; border-bottom: 5px solid $beige-color; color: $base-gray; border-top: 5px solid $beige-color; display:flex; flex-direction: column; justify-content: space-between; align-content: center;}
.rewards .swiper-container-autoheight .swiper-wrapper{ align-items: stretch;}
.rewards .owl-prev{  background:url('../images/icons/arrow-left.svg') center center no-repeat; background-size: 20px; transform: translateY(-50%); border-radius: 50%; border: 2px dotted darken($dark-blue, 10%); height: 50px; width: 50px; position: absolute;top: 50%;left: -75px; transform: translateY(-50%);}
.rewards .owl-next{  background:url('../images/icons/arrow-right.svg') center center no-repeat; background-size: 20px; transform: translateY(-50%); border-radius: 50%; border: 2px dotted darken($dark-blue, 10%); height: 50px; width: 50px; position: absolute;top: 50%;right: -75px; transform: translateY(-50%);}
.rewards .owl-next:hover,.rewards .owl-prev:hover{ border: 1px solid darken($dark-blue, 10%)};
.rewards .owl-stage{ display: flex;}
.rewards .owl-carousel .owl-stage-outer{ padding: 0 30px; margin: 0 -30px; padding-bottom: 30px; }
.rewards .owl-carousel .owl-item{ &.active{ box-shadow: 0 5px 40.1px 5px rgba(17, 69, 155, 0.08); } }
.reward_card__date{ font-size: 18px; color: #8D9EB3; margin-bottom: 20px;}
.reward_card__logo{ display: flex; height: 80px; flex-direction: column; vertical-align: middle; justify-content: center; align-items: center; margin-bottom: 20px;}
.reward_card__logo img{ max-height: 80px; width: auto!important; }
.reward_card__text{ display: flex; flex-direction: column; flex-grow: 1; margin-bottom: 20px; }
.reward_card__text p{margin-bottom: 0; }
.rewards .swiper-slide{ display: flex;}



.qtrader{ padding-bottom: 115px; padding-top: 25px;}
.qtrader__content{ display: flex; text-align: left; margin-top: 30px;}
.qtrader__content__card{ transform: translateX(-38px)!important; background:#fff; padding: 60px 85px; box-shadow: 0 25px 60px 18.9px rgba(25, 45, 61, 0.1);}
.qtrader__content__title{ font-size: 38px; line-height: 1.1; color: #26262a; margin-bottom: 15px;}
.qtrader__content__text{ font: 18px $font-light; display: flex;flex-direction: column; align-items: flex-start;}
.qtrader__content__img{ position: relative; z-index: -1; }
.qtrader__content__logo{ color: $dark-blue; display: block; position: relative;}
.qtrader__content__logo:before{ content: 'Q'; color: $beige-color;}

#my-div{width: 500px; height: 500px; background: yellow}
