.banner_service__card.investment:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/investment-page-banner.jpg') center center no-repeat; background-size: cover;}


#layout_investment .services{ position: relative; padding-top: 70px; text-align: center; }
#layout_investment .services:before{ @include pseudo(); top:0; left: 0; right: 0; bottom: 0; z-index: -1; background: $bg-light-blue; }
#layout_investment .dealings{ padding: 20px 0;}
.investment_corporate_card__item{ box-shadow: 0 30px 58.3px 3.7px rgba(53,58,60,.5); display: flex; flex-direction: column;  position: relative; transition: all .3s; height: 472px; background:rgba(#1f3e75, .6);}
.investment_corporate_card__item:hover{ background: rgba(0,0,0,.7); .scroll_down__line{ margin-bottom: 30px}; }
.investment_corporate_card__item__content{ transition: all .4s; box-sizing: border-box; justify-content: center; display: flex;flex-direction: column; flex-basis:100%; align-items: center;  }
.investment_corporate_card__item__title{transition: all .4s; width: 80%; font:32px $font-light; text-align: center; color: #fff;}
.bonds_card__item,
.ipo_card__item,
.capital_card__item{ position: relative;}
.ipo_card__item,.rate_card__item{ border-left: 1px solid #9EB5D2; border-right: 1px solid #9EB5D2; }
.bonds_card__item:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/corporate-finance-img-1.jpg') center center no-repeat; background-size: cover; }
.ipo_card__item:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/corporate-finance-img-2.jpg') center center no-repeat; background-size: cover; }
.capital_card__item:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/corporate-finance-img-3.jpg') center center no-repeat; background-size: cover; }

.investment_corporate_card__item .scroll_down__icon{ border: 2px dotted #fff; background:url('../images/icons/slider-next.png') center center no-repeat; }
.investment_corporate_card__item .scroll_down{ display: flex;flex-direction: column; align-items: center;}
.investment_corporate_card__item .scroll_down__icon:after{display: none;}
.investment_corporate_card__item .scroll_down__line{ transform: translateY(15px); transition: all .4s; height: 70px; width: 1px; background:#fff;}


.merger_card__item,
.rate_card__item,
.foreign_card__item{ position: relative;}
.ipo_card__item{ border-left: 1px solid #9EB5D2; border-right: 1px solid #9EB5D2; }
.merger_card__item:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/consulting-img-1.jpg') center center no-repeat; background-size: cover; }
.rate_card__item:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/consulting-img-2.jpg') center center no-repeat; background-size: cover; }
.foreign_card__item:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/consulting-img-3.jpg') center center no-repeat; background-size: cover; }

.popup_pages__footer{ display: flex; justify-content: center; background: #F7FAFE;
	.popup_pages__close{ border: 2px dotted $dark-blue; margin-top: 40px; margin-bottom: 60px; background:url('/images/icons/cross.png') center center no-repeat; background-size: 15px 15px;  }
	.popup_pages__close:hover{ border: 1px solid $dark-blue; }
}