.banner_service__card.market:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/market-page-banner.jpg') center center no-repeat; background-size: cover;}


.clients{ background:$bg-light-blue;}
.clients_wrap{ display: flex; flex-wrap: wrap; justify-content: center;}
.clients_item{ display: flex; justify-content: center; background:#fff; margin: 0 10px 25px 10px; height: 185px; align-items: center; width: 23%;}


#layout_market .list_documents{ padding-bottom: 0; background:#fff;}