.banner_service__card.massmedia:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/massmedia-page-banner.jpg') center center no-repeat; background-size: cover;}
#layout_massmedia .news{ padding-bottom: 0; padding-top: 70px; }