.banner_service__card.news:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/news-page-banner.jpg') center center no-repeat; background-size: cover;}

.news__content{ @extend .tab_block__content__analytics;}
.news__card{ @extend .tab_block__content__card; }
.news__card__title{ @extend .tab_block__content__card__title; }
.news__card__type{ @extend .tab_block__content__card__type; }
.news__card__text{ @extend .tab_block__content__card__text; }
.news__card__date{ @extend .tab_block__content__card__date; }

.single-new{ text-align: left; padding-bottom: 80px; }
.single-new .default_block__title{ font-size: 24px; font-family: $base-font; }
.single-new__date{ font-size: 14px; color: #7F8083; margin-bottom: 15px; }
#layout_news .button_prev{ margin: 35px 0 50px; display: block; }
.single-new .default_block__text a{ @extend .default_link; color: $light-blue }