.banner_service__card.pdo:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/pdo-page-banner.jpg') center center no-repeat; background-size: cover;}