.banner_qtrader:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/qtrader-page-banner.jpg') left center no-repeat; background-size: cover;}
#layout_qtrader .full_banner{ height: 375px; margin-bottom: 180px; background:rgba(#fff, .5);}
#layout_qtrader .full_banner .scroll_down.arrow{ bottom: -200px;}
#layout_qtrader .full_banner__content{ display: flex; align-items: flex-start; margin-left: 140px; margin-top: 30px;}
#layout_qtrader .breadcrumbs{ color:#7F8083;}
#layout_qtrader .breadcrumbs .breadcrumb_inset__link:after{ @include pseudo($top: 0, $right: -5px); transition: all .25s; background:url('../images/icons/arrow-right.png') center center no-repeat; background-size: 5px; border-radius: 50%; border: 2px dotted #7F8083; width: 20px;height: 20px; opacity: .4; display: block;}

.banner_qtrader__wrap{display: flex; justify-content: center;}
.banner_qtrader__logo{ margin-top: 52px; position: relative; z-index:2; box-shadow: 16.4px 26.3px 50.1px 12.9px rgba(25, 45, 61, 0.1);}
.banner_qtrader__logo img{ width: 282px; max-width: 282px; }
.banner_qtrader__logo span{ position: relative; }
.banner_qtrader__logo span:before{ content: 'Q'; color: #FAB000; text-transform: uppercase; position: absolute; top: -50px; left: 50%; transform: translateX(-50%); }
.banner_qtrader__card{ box-shadow: 0 31px 50.1px 12.9px rgba(25, 45, 61, 0.1); transform: translateX(-150px)!important; padding-left: 170px; padding-right: 60px; width: 485px; height: 381px; display: flex; flex-direction: column; justify-content: center; text-align: left; border: 4px solid #0083A6; background:#fff; color: $base-text; }
.banner_qtrader__card__title{ font-size: 42px;}
.banner_qtrader__card__text{ font: 18px $font-thin; }

.qtrader_slide__content{ width: 58.3333%; transition: box-shadow 1s; background:#fff; padding: 75px 100px; min-height: 375px;}
.qtrader_slide__title{ font-size: 24px; margin-bottom: 15px;}
.qtrader_slide__text{ font: 18px $font-light; line-height: 1.2;}

.qtrader_slide__img{position: absolute; z-index:-1; right: 0; top: 50px; width: 50%;}
.qtrader_slide{padding-bottom: 100px;}
.qtrader-slider{ padding-bottom: 0; margin-bottom: -40px; }
.qtrader-slider .swiper-container{ height: 500px;}
.qtrader-slider .swiper-button-next,
.qtrader-slider .swiper-button-prev
{  background: none; border: 2px dotted darken($dark-blue, 10%); position: static; width: 58px; height: 58px; }

.qtrader-slider .swiper-button-next:hover,
.qtrader-slider .swiper-button-prev:hover{ border: 1px solid darken($dark-blue, 10%);}

.qtrader-slider .swiper_button__wrap{ height: 140px; display: flex;flex-direction: column; justify-content: space-around; top:50%; right: 15px; transform: translateY(-50%); z-index: 100; position: absolute;}
.qtrader-slider .swiper-button-next{ background:url('../images/icons/down-arrow.svg') center center no-repeat; background-size: 20px;}
.qtrader-slider .swiper-button-prev{ background:url('../images/icons/arrow-up.svg') center center no-repeat; background-size: 20px;}
.qtrader-slider .swiper-button-disabled{ opacity: 1;}

.qtrader-slider .swiper-pagination{ display: flex;left: 25%;bottom: 77px;top: auto;}
.qtrader-slider .swiper-pagination-bullet{ background:none; margin-right: 10px!important; border-radius:0; border: 1px solid $dark-blue; width: 12px; height: 12px; margin: 0 5px;}
.qtrader-slider .swiper-pagination-bullet-active{ border: 1px solid transparent; background:#DAC891;}
.swiper-slide-active .qtrader_slide__content{box-shadow: 0 31px 50.1px 12.9px rgba(25, 45, 61, 0.1);}
.swiper-slide .container{ position: relative;}


.about_qtrader__list{ display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 40px; list-style-type: none;}
.about_qtrader__list li{ padding-left: 70px; min-height: 50px; position: relative; width: 45%; font: 18px $font-light; text-align: left; margin-bottom: 40px;}
.about_qtrader__list li:before{ @include pseudo($top: 0px, $left: 0); transition: all .25s; background:url('/images/icons/check-icon.png') center center no-repeat; border-radius: 50%; border: 2px dotted darken($dark-blue, 10%); width: 50px;height: 50px; display: block; }

.qtrader_tariff{ background:$bg-light-blue;}
.qtrader_tariff__title{ display: block; font-size: 24px; color: #0082A5; line-height: 32px;}
.qtrader_tariff__title:hover{ color: $light-blue}
.qtrader_tariff__content{ text-align: left; padding-top: 30px;}


.application_web__wrap{ display: flex; justify-content: space-between;}
.application_web{ width: 31.5%; transition: box-shadow .5s; border: 1px solid $border-color; margin-top: 40px; padding: 50px;}
.application_web:hover{box-shadow: 0 13px 60.1px 18.9px rgba(17, 69, 155, 0.1); border: 1px solid transparent}
.application_web__title{ font-size: 24px; margin-top: 15px; margin-bottom: 40px; }
.application_web__button.btn{ background-color: #040707;border-radius: 4px; color: #fff; padding: 12px 35px; }


.info_account{ border: 3px solid $beige-color; padding: 55px 0;}
.info_account__title{ font-size: 24px; line-height: 1.3; margin-bottom: 30px; text-align: center;}
.info_account__text{  text-align: left; font-size: 18px; ol{ padding-left: 17px; font-family: $font-light;}}


.application_version{ display: flex; justify-content: flex-end; position: relative; margin-top: 30px; text-align: center; }
.application_version__web{ position: absolute; left: 50%; transform: translateX(-50%); color: #626262; &:hover{ color: #626262; } }
.application_version__web.default_link:after{ background:#626262; color: #626262; }
.application_version__instruction { position: relative; color: #028AF3; padding-right: 60px; &:hover{color: #028AF3; &:after{ border: 1px solid #028AF3; } } }
.application_version__instruction:after { content: ''; position: absolute; top: 50%; transform: translateY(-50%); right:0; background:url('../images/icons/upload.svg') center center no-repeat; background-size: 20px; border-radius: 50%; border: 2px dotted #028AF3; width: 50px;height: 50px; display: block; }

.open_account{ position: relative; padding: 60px 0;}
.open_account .default_block__text{ margin-bottom: 30px;}
.open_account:before{@include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/open-account.jpg') center center no-repeat; background-size: cover; }
.open_account__link{ padding: 12px 35px;}


.list_documents{ background:$bg-light-blue;}
.list_documents__type{ @extend .services_tab_panel; justify-content: center; border-bottom: none; margin-bottom: 15px;}
.list_documents__type .active a{ border: none;}
.list_documents #individual{ margin-right: 30px;}
.list_documents__content{ margin-top: 20px;}
.list_documents__content__tab{ font: 18px $font-light; ul{ li{ margin-bottom: 7px;} list-style-type: none; } text-align: left;}


.specialists_callback{ display: flex; margin-top: 70px; flex-direction: column; align-items: center; justify-content: center; font: 18px $font-light; text-align: center; }
.specialists_callback__link{ font-family: $base-font; margin-top: 15px; }
.specialists_callback .btn--light{ position: relative; z-index: 2; padding: 15px 35px;}
.specialists_callback .btn--light:before{ content: ''; width: 100%; height: 0; bottom: 0;left: 0;display: block;background:$gradient; z-index: 0;position: absolute;	z-index: -1;transition: all .4s;  }
.specialists_callback .btn--light:hover{ color: #fff;	border:none; padding: 17px 37px; }
.specialists_callback .btn--light:hover:before{ height: 100%;}