

.banner_service__card{display: flex; flex-direction: column;  position: relative; transition: all .3s; height: 536px; background:rgba(#1f3e75, .5); box-shadow: none;}
.banner_service__card.services-assets:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/service-assets.jpg') center center no-repeat; background-size: cover;}
.banner_service__card__content{@extend .services_card__item__content; transition: none; }
.banner_service__card__icon{@extend .services_card__item__icon; flex-shrink: 0; }
.banner_service__card__text{transition: all .4s; width: 60%; font: 18px $font-light; text-align: center; color: #fff; }
.banner_card__card__title{ font: 50px $font-thin; margin-bottom: 25px; display: block;}
.banner_card__card__describe p{margin-bottom: 20px;}

.banner_service__card .scroll_down__icon{ border: 2px dotted #fff; background:url('../images/icons/slider-next.png') center center no-repeat; }
.banner_service__card .scroll_down__icon:hover{ border: 1px solid #fff; }
.banner_service__card .scroll_down{ display: flex;flex-direction: column; align-items: center;}
.banner_service__card .scroll_down__icon:after{display: none;}
.banner_service__card .scroll_down__line{ transform: translateY(15px); transition: all .4s; height: 70px; width: 1px; background:#fff;}

.services_tab__block{ margin-bottom: 60px;}
.services_tab_panel{ display: flex; justify-content: space-between; margin-bottom: 100px; overflow: auto; border-bottom: 1px solid #EAEAEB; font: 18px $font-bold;  list-style-type: none; padding: 0;}
.services_tab_panel a{ color: #B6B6BB; padding: 30px 80px 30px 0; transition: color .3s; display: block; position: relative;}
.services_tab_panel a:after{ opacity: .3; @include pseudo($top: 50%, $right: 25px); transform: translateY(-50%); background:url('../images/icons/arrow-down.png') center center no-repeat; background-size: 15px; border-radius: 50%; border: 2px dotted $dark-blue; width: 38px;height: 38px; display: block;}
.services_tab_panel a:hover:after{ border: 1px solid $dark-blue; opacity: 1; }
.services_tab_panel a:hover{ color: $dark-blue;}
.services_tab_panel .active a{ color: $dark-blue; border-bottom: 3px solid $beige-color; &:after{ opacity: 1; }}

.advantages_block{ display: flex; flex-wrap: wrap; justify-content: space-between;}
.advantages_block__item{ font: 18px $font-light; width: 30%; margin-bottom: 60px; text-align: center;}
.advantages_block__item__icon{ margin-bottom: 15px;}
.advantages_block__item__icon img{height: 55px;}

.services_tab_content__title{ font: 42px $font-light; color: $base-text; text-align: center; line-height: 1; margin-bottom: 50px;}
.service-inform{ position: relative; padding-top: 100px; padding-bottom: 70px;}
.service-inform:after{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/service-assets-bg.jpg') center center no-repeat; background-size: cover;}


.assets__content{ @extend .qtrader__content;}
.assets__content__card{ @extend .qtrader__content__card; width: 55%; display: flex; align-items: center; padding-right: 40px;	 }
.assets__content__text{  font-size: 28px;color: $dark-blue; line-height: 1.1;	}


.specialists_cards__wrap{ display: flex; justify-content: center; }
.specialists_photo img{max-height: 194px;}
.specialists_cards__item{ width: 260px; margin-right: 3%; box-shadow: 0 31px 71.1px 18.9px rgba(25, 45, 61, 0.1); text-align: center; display: flex;flex-direction: column; align-items: center;	}
.specialists_cards__item:last-child{ margin-right: 0; }
.specialists_name{ width: 100%; padding-top: 20px; color: #000; font-family:$font-bold; line-height: 1.2;}
.specialists_contact{ width: 100%; padding: 10px 0 20px; line-height: 1.2; color: $base-gray;}

.statement{ display: block;	padding: 35px 0;background:#EDF3FA; transition: all .5s; text-align: center; color: $dark-blue; font-size: 18px;	}
.statement:hover{ background:darken(#EDF3FA, 15%)}
.statement:hover span:after{ border: 1px solid $dark-blue; }
.statement span {position: relative;}
.statement span:after { @include pseudo($top: 50%, $right: -50px); transform: translateY(-50%); background:url('../images/icons/down-arrow.svg') center center no-repeat; background-size: 15px; border-radius: 50%; border: 2px dotted $dark-blue; width: 38px;height: 38px; display: block;}
.statement_content{ padding: 30px 0; font-size: 12px; font-family: $font-light; color: $base-gray;}
.ui-accordion-header-icon{ display: none;}

.tab_card{ outline: 1px solid rgba(0, 65, 115, 0.3); color: $base-gray; display: flex; flex-direction: column; text-align: center; font-size: 18px;}
.investment_card{ position: relative;}
.investment_card:before{ content: ''; opacity: 0; transition: all .5s; position: absolute; top: 0;left:0; width: 100%;height: 100%; z-index: -1; background:$gradient; }
.investment_card:hover{ &:before{ opacity: 1;} color: #fff; outline: none; .tab_card__tariff a:after{background:url('../images/icons/arrow-right-beige.svg') center center no-repeat; background-size: 15px; border: 1px solid $beige-color} .tab_card__button .btn{ background: $beige-color; border: 2px solid $beige-color; font-family: $font-bold; color: $dark-blue} .tab_card__top .tab_card__title{ color: $beige-color} .tab_card__financial,.tab_card__tariff{ .tab_card__title, a{color: $beige-color} background:#17356B;} .separator{ background:$beige-color;} box-shadow: 0 15px 29.1px 1.9px rgba(53, 58, 60, 0.5);}
.tab_card.tab_card__hover{ color: #fff; outline: none; .tab_card__tariff a:after{background:url('../images/icons/arrow-right-beige.svg') center center no-repeat; background-size: 15px; border: 1px solid $beige-color} .tab_card__button .btn{ background: $beige-color; border: 2px solid $beige-color; font-family: $font-bold; color: $dark-blue} .tab_card__top .tab_card__title{ color: $beige-color} .tab_card__financial,.tab_card__tariff{ .tab_card__title, a{color: $beige-color} background:#17356B;} .separator{ background:$beige-color;} box-shadow: 0 15px 29.1px 1.9px rgba(53, 58, 60, 0.5); }
.tab_card__hover.investment_card:before{ opacity: 1;}
.tab_card .separator{ width: 45px; background:$light-blue; height: 2px; margin: 25px 0;}
.tab_card__currency .separator{ margin: 15px 0;}
.tab_card__currency .tab_card__title{ font-family: $base-font;}
.tab_card span { display: block; width: 64%; line-height: 1.2;}
.tab_card__title{ font-family: $font-bold;}
.tab_card__financial .tab_card__title{ margin-bottom: 15px; width: 67%;}
.tab_card__financial .tab_card__item { margin-bottom: 25px; }
.tab_card__financial .tab_card__item:last-child{ margin-bottom: 0;}
.tab_card__top .tab_card__title { width: 100%; font: 24px $font-bold; color: #141414; margin: 10px 0 30px;}
.tab_card__top,
.tab_card__financial,
.tab_card__currency,
.tab_card__tariff,
.tab_card__button{padding: 30px 0; display: flex;flex-direction: column; align-items: center; transition: all .5s;}
.tab_card__financial,.tab_card__tariff{ background:#EDF3FA;}
.tab_card__financial .tab_card__title,
.tab_card__tariff{color: $light-blue }
.tab_card__button .btn{ padding: 15px 45px;}
.tab_card__button .btn--light:hover{ background:$beige-color; color: $dark-blue; border: 2px solid transparent}
.tab_card__small{ font: 14px $font-light;}
.tab_card__tariff a{ position: relative; font-family: $font-bold;}
.tab_card__tariff a:after{ @include pseudo($top: 50%, $right: -45px); transform: translateY(-50%); background:url('../images/icons/arrow-right.svg') center center no-repeat; background-size: 15px; border-radius: 50%; border: 2px dotted $dark-blue; width: 38px;height: 38px; display: block;}


.islam_describe	{ margin-top: 60px; margin-bottom: 60px; font: 12px $font-light}
.tab_card__tariff__describe__wrap{ display: flex; justify-content: space-around; margin-top: 15px; width: 100%;}
.tab_card__tariff__describe__wrap{ span, small{ width: 100%; color: $base-text;}}
.tab_card__tariff__describe .tab_card__title{ font-family: $base-font;}

a[href="#tariff_describe"]{ margin-bottom: 30px;}
#tariff_describe{ padding: 0;}
.tariff_describe .statement{ font-family: $font-bold; color: $light-blue; margin-bottom: 30px;}
.tariff_describe .statement span:after{ background:url('../images/icons/arrow-right.svg') center center no-repeat; background-size: 15px; }
.tariff_card{ padding-bottom: 40px;}
.tariff_describe{ font: 12px $font-light; margin: 30px 0 0;}
.tariff_card .tab_card__tariff__describe{ margin-bottom: 30px;}
.tariff_card .tab_card__tariff__describe:last-child{ margin-bottom: 0;}
.tariff_card.tab_card span{ width: 100%;}
.tariff_card .tab_card__top{ padding-bottom: 0;}
// [aria-expanded='true'] span:after{ background:url('../images/icons/arrow-right.svg') center center no-repeat; background-size: 15px; }