#layout_studyroom .full_banner{ height: 245px; background:rgba(#fff,.45); margin-bottom: 190px; }
#layout_studyroom .full_banner__content{ margin-top: 65px; }
#layout_studyroom .full_banner .scroll_down.arrow{ bottom: -200px; z-index: 1; }
.banner_studyroom:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('/images/study-room-page-banner.jpg') left center no-repeat; background-size: cover;}
.banner_studyroom__card__title{ font-size: 42px; }
.banner_studyroom__card__text{font: 18px $font-light; }
.banner_studyroom__card{ display: flex; flex-direction: column; position: relative; z-index: 2; justify-content: center; box-shadow: 0 31px 71.1px 18.9px rgba(25, 45, 61, 0.18); width: 362px; height: 247px; border: 4px solid #e4d095; box-shadow: 0 31px 71.1px 18.9px rgba(25, 45, 61, 0.18); background:#fff; color:$base-text;  }
#scroll_studyroom{ padding-bottom: 45px; }

.studyroom_tabs{ padding-bottom: 120px;
	.tab-content{ font: 18px $font-light; }

}
.top_tabs__control{ list-style-type: none; display: flex; flex-wrap: wrap; margin-bottom: 40px; padding-left: 0;
 li{ display: flex; width: 25%; margin-bottom: 0; font: 18px $font-light; color: $title-color; text-align: center;}
	a{ width: 100%; transition: all .4s; padding: 25px 15px; display: block; border: 1px solid rgba(0,65,115,.3); }
	.active a, a:hover{ background:#004173; color: #fff; box-shadow: 0 31px 71.1px 18.9px rgba(72, 75, 81, 0.30); }
}

.studyroom_accordion{ display: flex; flex-direction: column; overflow: visible; margin-bottom: 50px; }
.studyroom_accordion{
		padding-left: 0;
	.studyroom_accordion__title{ position: relative; font-size: 21px; outline: none; cursor: pointer; padding: 30px; padding-right: 50px; padding-left: 0; }
	.studyroom_accordion__title:hover{ color: $dark-blue; }
	.studyroom_accordion__title:hover:after{ background:url('/images/icons/arrow-right.svg') center center no-repeat; background-size: 20px; border: 1px solid darken($dark-blue, 10%); }
	.studyroom_accordion__title[aria-selected=true]{ color: $dark-blue; &:hover:after{ border: 1px solid darken($dark-blue, 10%); }  &:after{background:url('/images/icons/down-arrow.svg') center center no-repeat; background-size: 20px; border: 2px dotted darken($dark-blue, 10%);}  }
	.studyroom_accordion__title:after{ @include pseudo($top: 50%, $right: 0); transform: translateY(-50%); background:url('/images/icons/arrow-right-gray.svg') center center no-repeat; transition: all .25s; background-size: 20px; border-radius: 50%; border: 2px dotted #8E8E8E; width: 50px;height: 50px; display: block; }
	li{ text-align: left; border-bottom: 1px solid #EAEAEB; display: flex; flex-direction: column; color: #8E8E8E; }
	li:first-child{ border-top: 1px solid #EAEAEB; }
	.studyroom_accordion__content{ font: 18px $font-light; color: $title-color; padding-bottom: 25px; }
}
	.tab-content__title{ font: 30px $font-light; display: block; margin: 70px 0 50px; }


.training{ background-image: linear-gradient(to right, #1e3c72 0%, #2a5298 100%); color: #fff;
	.default_block__title{ color: #fff; }
	.link__more{ position: relative; padding: 20px 120px 20px 0;
		&:before{ content: ''; position: absolute; right: 40px; top: 50%; transform: translateY(-50%); width: 68px; height: 1px; background:#fff; }
		&:after{ content: ''; position: absolute; transition: right .3s; background:url('../images/icons/arrow-right-white.png') center center no-repeat; border-radius: 50%; border: 2px dotted #fff; width: 50px;height: 50px; display: block; right: 0; top: 50%; transform: translateY(-50%); }
		&:focus{ color: #fff; }
	}

	.link__more:hover:after{ right: -20px; border: 1px solid #fff; }
}

#layout_studyroom .specialists{ padding-bottom: 160px; }
#layout_studyroom .qtrader{ padding-top: 90px;}

#layout_studyroom{
	// .fancy-select{ display: none; position: relative; width: 100%; }
	// .fancy-select .trigger, .analytics_nav + .fancy-select .trigger, .analytics_nav + .fancy-select .trigger.open{ font-weight: normal; font-size: 18px; padding: 30px 70px 30px 20px; width:100%; cursor: pointer; background: $dark-blue; box-shadow: none; border: none; border-radius: 0; color: #fff; font-family: $font-light; }
	// .fancy-select ul.options{ width: 100%; left: 0; border: 1px solid #8E8E8E; border-top: 0; background:#fff; top: 88px!important; margin: 0; padding: 0; font-family: $font-bold; color: $dark-blue;}
	// .fancy-select ul.options li{ font-family: $font-light; font-size: 18px; font-weight: normal; padding: 15px 20px; color: $title-color; cursor: pointer; &:hover{ background:$dark-blue; color: #fff; } }
	// .fancy-select ul.options li.selected{ background:$dark-blue; color: #fff; }
	// .fancy-select select:focus+.trigger{ box-shadow: none; }
	// .fancy-select .trigger:after{ content: ''; position: absolute;top: 50%;left: auto; right: 15px; bottom: auto; transform: translateY(-50%);  background: url('/images/icons/down-arrow-white.svg') center center no-repeat; background-size: 20px;border-radius: 50%; border: 2px dotted #fff; width: 50px;height: 50px; display: block; }


	.jq-selectbox{ display: none!important; width: 100%; border:none; color: #fff; background:$dark-blue; font-size: 18px; font-family: $font-light; }
	.jq-selectbox .jq-selectbox__select{ padding: 30px 15px; }
	.jq-selectbox .jq-selectbox__select:after{ @include pseudo($top: 50%, $right: 15px); transform: translateY(-50%); background:url('/images/icons/down-arrow-white.svg') center center no-repeat; transition: all .25s; background-size: 20px; border-radius: 50%; border: 2px dotted #fff; width: 50px;height: 50px; display: block;  }
	.jq-selectbox__dropdown{ width: 100%!important; left: 0!important; top: 88px!important; border: 1px solid #8E8E8E; border-top: 0; }
	.jq-selectbox__dropdown ul li{ padding: 15px; font: 18px $font-light; color: $title-color; &:hover{ color: #fff; } }
}
