.banner_team:before{ @include pseudo(); display: block; top:0; left: 0; right: 0; bottom: 0; z-index: -1; background:url('../images/our-team-page-banner.jpg') center center no-repeat; background-size: cover;}

#layout_team .specialists_cards{ margin-top: 70px;}
#layout_team .specialists_cards__item{ box-shadow: none; width: 20%; margin-right: 0; padding: 0 15px; }
#layout_team .specialists_cards__item .specialists_name{width: 100%; margin-bottom: 15px;}
#layout_team .specialists_cards__item .specialists_position{color: $base-gray;}
#layout_team .specialists_photo img{ max-height: 100% }

.governing{ background:$bg-light-blue; }
.main_asset{ @extend .subscribe_analytics; padding: 90px 0; margin-bottom: 120px; .default_block__text{ margin-bottom: 0; }}
.specialists_cards__popup{ }
.specialists_cards__popup .specialists_photo{ border-radius: 50%; width: 145px; height: 145px; text-align: center;}
.specialists_cards__popup .specialists_name{ width: 100%; text-align: center; font-size: 24px;}
.specialists_cards__popup { max-width: 750px; margin: auto; padding: 60px 100px; text-align: center; }