extends template/template.jade

block content

	#layout_404.layout_default

		.default_block
			.container
				.row
					.col-xs-12
						.default_block__title
							span Ошибка 404
						.default_block__text
							p Запрашиваемая Вами страница не существует,<br/> либо произошла ошибка
							a(href="#").link-404 Перейти на главную
