extends template/template.jade

block content

	#layout_about.layout_default
		
		//block banner_about
		.full_banner.banner_about
				.breadcrumbs
					.container
						.breadcrumbs_inset
							a(href="#").breadcrumb_inset__link Главная
							a(href="#").breadcrumb_inset__link О компании
							span.navigation_page Коротко о нас
				.row
					.col-xs-12.col-md-6.col-md-offset-3
						.full_banner__content.rellax(data-rellax-speed="2")
							.full_banner__content__title
								span Коротко о нас
							.full_banner__content__text
								p Каждый из нас несет ответственность за собственное будущее, которое всецело зависит от того, какие решения мы принимаем сейчас.
				.scroll_down.arrow
						.scroll_down__line
						a(href="#scroll_about").scroll_down__icon

		//block qtrader
		.default_block.qazkom#scroll_about
			.container
				.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Казком Секьюритиз - один из крупнейших инвестиционных банков Казахстана и Центральной Азии
						.default_block__text
							p Неоднакратно признавался лучшим по мнению ведущих международных агентств за эффективность, надежность и высокий уровень корпоративного управления.
				.row
					.col-xs-12.col-md-10.col-md-offset-1
							.qazkom__content
								.qazkom__content__img.rellax(data-rellax-speed="1.4").hidden-xs
									img(src="#{img}/qazkom.jpg", alt="")
								.qazkom__content__card.rellax(data-rellax-speed="1.8")
									.qazkom__content__title
										span Мы являемся <b class="bold">100%</b> дочерней огранизацией
											span.qazkom__content__logo QAZKOM
									.qazkom__content__text
										p Одного из крупнейших финансовых институтов Центральной Азии.
				.qazkom_about(data-aos="fade-up")
					.col-xs-12.col-md-8.col-md-offset-2
						.qazkom_about__title
							span Наша компания была основана в 1997 году, и сегодня отмечает свой 20-летний юбилей, будучи лидером на фондовом рынке.
					.row
						.col-xs-12.col-sm-6.qazkom_about__text
							p За эти годы, обеспечивая высокий уровень обслуживания и внедряя международные стандарты работы, мы смогли добиться высокого признания и заработать хорошую репутацию не только среди казахстанских инвесторов и казахстанского бизнеса, но и среди зарубежных партнеров.
						.col-xs-12.col-sm-6.qazkom_about__text
							p Модель интегрированного инвестиционного банка позволяет нам предложить полный спектр услуг на рынках капитала: брокерские услуги, управление инвестиционным портфелем, финансовое консультирование по вопросам выпуска и размещения ценных бумаг, организация и сопровождение сделок M&A, аналитические исследования и рекомендации, оценку бизнеса и др.

		//block trust_us
		.container
			.default_block.default_block__blue.trust_us
				.row			
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
							.default_block__title
								span Сегодня нам доверяют
							.default_block__text
								p Нашими клиентами являются государственные институты, национальные компании и холдинги, ведущие частные предприятия страны, крупнейшие страховые организации, а также широкий круг розничных инвесторов.
					
					.col-xs-12.col-md-10.col-md-offset-1
						ul.trust_us__list
							li(data-aos="fade-up" data-aos-easing="ease") Крупные страховые компании
							li(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease") Национальные холдинги
							li(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease") Национальные компании
							li(data-aos="fade-up" data-aos-delay="300"  data-aos-easing="ease") Минфин РК

		//block our_mission
		.container
			.default_block.our_mission(data-aos="fade-up")
				.row			
					.col-xs-12.col-md-8.col-md-offset-2
							.default_block__title
								span Наша миссия - предоставить  лучшие финансовые решения сегодня и в будущем
							.default_block__text
								p Мы ориентируемся на индивидуальные потребности наших клиентов и обеспечивая высокое качество, инновационный подоход и отлаженные механизмы работы.
					.col-xs-12
						.our_mission__wrap
							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon1.svg", alt="")
								.our_mission__item__text
									p 20 лет успеха, традиций и финансовых инноваций

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon2.svg", alt="")
								.our_mission__item__text
									p Один из крупнейших инвестиционных банков

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/advantage4.svg", alt="")
								.our_mission__item__text
									p Команда с опытом на РЦБ более 10 лет

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon4.svg", alt="")
								.our_mission__item__text
									p Свыше 70 млрд. тг. активов под управлением

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon5.svg", alt="")
								.our_mission__item__text
									p Оператор народного IPO и государственной программы приватизации

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon6.svg", alt="")
								.our_mission__item__text
									p Лучшая аналитика и экспертиза 

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon7.svg", alt="")
								.our_mission__item__text
									p Лидер среди андеррайтеров

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon8.svg", alt="")
								.our_mission__item__text
									p Высокая оценка и признание

		//block financial_indicators
		.container
			.default_block.financial_indicators
				.row			
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
							.default_block__title
								span Финансовые показатели за 2016 год
					.col-xs-6.col-sm-3(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
						.financial_indicators__card
							.financial_indicators__title
								span Активы
							.financial_indicators__number
								span 15,0
							.financial_indicators__currency
								span млрд. тг
					
					.col-xs-6.col-sm-3(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
						.financial_indicators__card
							.financial_indicators__title
								span Капитал
							.financial_indicators__number
								span 14,7
							.financial_indicators__currency
								span млрд. тг

					.col-xs-6.col-sm-3(data-aos="fade-up" data-aos-delay="300"  data-aos-easing="ease")
						.financial_indicators__card
							.financial_indicators__title
								span Чистая прибыль
							.financial_indicators__number
								span 2,5
							.financial_indicators__currency
								span млрд. тг

					.col-xs-6.col-sm-3(data-aos="fade-up" data-aos-delay="400"  data-aos-easing="ease")
						.financial_indicators__card
							.financial_indicators__title
								span ROE
							.financial_indicators__number
								span >20%
							

								
