extends template/template.jade

block content

	#layout_analytics.layout_default

		//block banner		
		.banner_service.banner_analytics.banner
				.banner_service__card.analytics
					.container
						.breadcrumbs
								.breadcrumbs_inset
									a(href="#").breadcrumb_inset__link Главная
									a(href="#").breadcrumb_inset__link Услуги
									span.navigation_page Аналитика
						.banner_service__card__content.rellax(data-rellax-speed="2")
							.banner_service__card__icon
								include ../images/icons/analytics.svg
							.banner_service__card__text
								.banner_card__card__title
									span Аналитика
								.banner_card__card__describe
									p Наши клиентами первыми узнают обо всех важных событиях и получают оперативную аналитику
									.scroll_down.arrow
										.scroll_down__line
										a(href="#scroll_analytics").scroll_down__icon

		//block analytics
		.analytics_block#scroll_analytics
			.container(data-aos="fade-up")
					.analytics_wrap			
						ul.analytics_nav
							li.active: a(href="#review" data-toggle="tab") Обзор рынка
							li: a(href="#macroeconomics" data-toggle="tab") Макроэкономика и отраслевой анализ
							li: a(href="#investment" data-toggle="tab") Инвестиционные идеи
							li: a(href="#recommendations" data-toggle="tab") Рекомендации
							li: a(href="#calendar" data-toggle="tab") Календарь событий
							li: a(href="#pdo" data-toggle="tab") ПДО
							li: a(href="#disclaimer" data-toggle="tab") Дисклеймер


						select.analytics_tabs__select
							option(value='0') Обзор рынка
							option(value='1') Макроэкономика и отраслевой анализ
							option(value='2') Инвестиционные идеи
							option(value='3') Рекомендации
							option(value='4') Календарь событий
							option(value='5') ПДО
							option(value='6') Дисклеймер

						.tab-content
							#review.analytics_card.tab-pane.fade.in.active
								.analytics_card__date
									form(action="#" name="analytics_card_date")
										select
											option 2017
											option 2016
											option 2015
										select
											option Январь
											option Февраль
											option Март
											option Апрель
											option Май
											option Июнь
											option Июль
											option Август
											option Сентябрь
											option Октябрь
											option Ноябрь
											option Декабрь
								.analytics_card__title
									span Обзор рынка
								.analytics_card__filter
									form(action="#" name="analytics_card_filter")
										select
											option Казахстан
											option Россия
											option Украина
										select
											option Все
											option Значение 1
											option Значение 2
								.analytics_card__content
									.row
										//активный вид блока
										.col-xs-12
											.analytics_card__item__active
												a(href="#").button_prev	Обзор рынка
												a(href="#").button_download Скачать
												.analytics_card__item__title__active
													span Утренний обзор рынка
												.analytics_card__item__date__active
													span 27/02/2017
												.analytics_card__item__text__active
													p Цены на нефть закрылись снижением в пятницу, на фоне роста запасов сырья в США. Запасы нефти в США стали больше на 564 тысяч баррелей в течение недели до 17 февраля, при этом аналитики рассчитывали, что увеличение составит 3,5 млн баррелей.
													p Цены на золото продолжили рост , начатый на предыдущей сессии. Поддержку котировкам оказывало ослабление доллара после публикации на этой неделе протоколов заседания ФРС, а также комментариев министра финансов США С. Мнучина.
										//активный вид блока pdo
										.col-xs-12
											.analytics_card__item__active.pdo_card__active
												.analytics_card__date__active
													form(action="#" name="analytics_card_date")
														select
															option 2017
															option 2016
															option 2015
														select
															option Январь
															option Февраль
															option Март
															option Апрель
															option Май
															option Июнь
															option Июль
															option Август
															option Сентябрь
															option Октябрь
															option Ноябрь
															option Декабрь
												a(href="#").button_prev	ПДО
												.analytics_card__item__active__wrap
													.row										
														.col-xs-12.col-sm-6.col-md-4
															a(href="#").analytics_card__item.autoheight
																.analytics_card__item__title
																	span Обзор по банковскому  сектору Казахстана  за 10 месяцев 2016 года
																.analytics_card__item__date
																	span 27.02.2017
														.col-xs-12.col-sm-6.col-md-4
															a(href="#").analytics_card__item.autoheight
																.analytics_card__item__title
																	span Ежедневный обзор  рынка
																.analytics_card__item__date
																	span 27.02.2017
														.col-xs-12.col-sm-6.col-md-4
															a(href="#").analytics_card__item.autoheight
																.analytics_card__item__title
																	span Мировой обзор рынка
																.analytics_card__item__date
																	span 27.02.2017

										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Утренний обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Ежедневный обзор  рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Мировой обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Утренний обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Ежедневный обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Мировой обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Утренний обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Ежедневный обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Мировой обзор рынка
												.analytics_card__item__date
													span 27.02.2017
								.analytics_card__pagination
									.pagination
										a(href="#").pagination-inset__prev
										span.pagination-inset__active 1
										a(href="#").pagination-link.pagination-inset__page 2
										a(href="#").pagination-link.pagination-inset__page 3
										a(href="#").pagination-inset__next

							#macroeconomics.analytics_card.tab-pane.fade
								.analytics_card__date
									form(action="#" name="analytics_card_date")
										select
											option 2017
											option 2016
											option 2015
										select
											option Январь
											option Февраль
											option Март
											option Апрель
											option Май
											option Июнь
											option Июль
											option Август
											option Сентябрь
											option Октябрь
											option Ноябрь
											option Декабрь
								.analytics_card__title
									span Макроэкономика и Отраслевой анализ
								.analytics_card__filter
									form(action="#" name="analytics_card_filter")
										select
											option Казахстан
											option Россия
											option Украина											
										select
											option Облигации
											option Значение 1
											option Значение 2
								.analytics_card__content
									.row
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Обзор по банковскому  сектору Казахстана  за 10 месяцев 2016 года
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Ежедневный обзор  рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Мировой обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Обзор по банковскому  сектору Казахстана  за 10 месяцев 2016 года
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Ежедневный обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Мировой обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Утренний обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Ежедневный обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Мировой обзор рынка
												.analytics_card__item__date
													span 27.02.2017

							#investment.analytics_card.tab-pane.fade
								.analytics_card__date
									form(action="#" name="analytics_card_date")
										select
											option 2017
											option 2016
											option 2015
										select
											option Январь
											option Февраль
											option Март
											option Апрель
											option Май
											option Июнь
											option Июль
											option Август
											option Сентябрь
											option Октябрь
											option Ноябрь
											option Декабрь
								.analytics_card__title
									span Инвестиционные идеи
								.analytics_card__filter
									form(action="#" name="analytics_card_filter")
										select
											option Казахстан
											option Россия
											option Украина											
										select
											option Облигации
											option Значение 1
											option Значение 2
								.analytics_card__content
									.row
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Обзор по банковскому  сектору Казахстана  за 10 месяцев 2016 года
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Ежедневный обзор  рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Мировой обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Обзор по банковскому  сектору Казахстана  за 10 месяцев 2016 года
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Ежедневный обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Мировой обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Утренний обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Ежедневный обзор рынка
												.analytics_card__item__date
													span 27.02.2017
										.col-xs-12.col-sm-6.col-md-4
											a(href="#").analytics_card__item.autoheight
												.analytics_card__item__title
													span Мировой обзор рынка
												.analytics_card__item__date
													span 27.02.2017

							#recommendations.analytics_card.tab-pane.fade
								
								.analytics_card__title
									span Рекомендации
								.analytics_card__filter
									form(action="#" name="analytics_card_filter")
										input(type="radio" id="input-control-1" name="radio" checked data-target="#analytics_card__tab1")
										label(for="input-control-1") Акции
										input(type="radio" id="input-control-2" name="radio" data-target="#analytics_card__tab2")
										label(for="input-control-2") Облигации
										input(type="radio" id="input-control-3" name="radio" data-target="#analytics_card__tab3")
										label(for="input-control-3") Прочие виды БЦ			

								.analytics_card__content.tab-content
									#analytics_card__tab1.tab-pane.active
										.analytics_card__top
											span.analytics_card__top__title Акции
											form(action="#" name="analytics_card_filter")
											select
												option Казахстан
												option Россия
												option Украина
										.table-responsive
											table.default__table.default__table--white
												thead.table_head
													th Эмитент
													th Тикер
													th Валюта
													th Целевая цена
													th Ожидаемая  дивидендная  доходность
													th Потенциальная  доходность
													th Рекомендация
												tr
													td: a(href="#").default_link.base_link КазМунайГаз
													td RDGZ
													td KZT
													td 24 300
													td 0%
													td 31%
													td покупать
									#analytics_card__tab2.tab-pane
										.analytics_card__top
											span.analytics_card__top__title Облигации
											form(action="#" name="analytics_card_filter")
											select
												option Казахстан
												option Россия
												option Украина
										.table-responsive
											table.default__table.default__table--white
												thead.table_head
													th Эмитент
													th Тикер
													th Валюта
													th Целевая цена
													th Ожидаемая  дивидендная  доходность
													th Потенциальная  доходность
													th Рекомендация
												tr
													td: a(href="#").default_link.base_link КазМунайГаз
													td RDGZ
													td KZT
													td 24 300
													td 0%
													td 31%
													td покупать
									#analytics_card__tab3.tab-pane
										.analytics_card__top
											span.analytics_card__top__title Прочие виды БЦ
											form(action="#" name="analytics_card_filter")
											select
												option Казахстан
												option Россия
												option Украина
										.table-responsive
											table.default__table.default__table--white
												thead.table_head
													th Эмитент
													th Тикер
													th Валюта
													th Целевая цена
													th Ожидаемая  дивидендная  доходность
													th Потенциальная  доходность
													th Рекомендация
												tr
													td: a(href="#").default_link.base_link КазМунайГаз
													td RDGZ
													td KZT
													td 24 300
													td 0%
													td 31%
													td покупать

							#calendar.analytics_card.tab-pane.fade
								
								.analytics_card__title
									span Календарь событии														

								.analytics_card__content
									.table-responsive								
										table.default__table.default__table--white
											thead.table_head
												th Наименование
												th Событие
												th Дата
												
											tr
												td НБРК
												td Решение по базовой ставке
												td 20.02.2017

							#pdo.analytics_card.tab-pane.fade
								
								.analytics_card__title
									span ПДО														

								.analytics_card__content
									.row
										.col-xs-12.col-sm-6.col-md-4							
											a(href="#").analytics_card__pdo
												img(src="/images/icons/kaztransoil.png", alt="")

							#disclaimer.analytics_card.tab-pane.fade
								
								.analytics_card__title
									span Дисклеймер														

								.analytics_card__content									
									p.bold Заявление об ограничении ответственности
									p Информация и мнения, содержащиеся в настоящей публикации, были подготовлены АО «Казкоммерц Секьюритиз» и предназначаются исключительно для сведения клиентов компании. Несмотря на то, что были приложены значительные усилия для подготовки данного аналитического материала, АО «Казкоммерц Секьюритиз» не дает гарантий относительно полноты и точности приведенной в этом отчете информации, а также ее достоверности. Ни АО «Казкоммерц Секьюритиз», ни кто-либо из его представителей или сотрудников не несет ответственности за любой прямой или косвенный ущерб, наступивший в результате использования данного отчета. АО «Казкоммерц Секьюритиз» не берет на себя ответственности регулярно обновлять данный отчет, а также сообщать обо всех изменениях, произошедших с момента подготовки данного отчета.
									p АО «Казкоммерц Секьюритиз» обращает внимание инвесторов, что доход от их инвестиций в финансовые инструменты зависит от множества рыночных и нерыночных факторов. В частности на фактический доход инвестора могут влиять колебания процентных ставок, изменение норм налогообложения, движение валютных курсов, изменения котировок ценных бумаг, рыночных индексов, изменения производственных и финансовых показателей компаний, а также другие факторы. АО «Казкоммерц Секьюритиз» обращает внимание, что прошлые результаты не всегда указывают на то, какими будут будущие показатели. При этом оценки будущих результатов основаны на предположениях, которые могут не осуществиться. Стоимость любых инвестиций или дохода может понижаться и повышаться, в результате чего инвесторы могут не получить обратно всей инвестированной суммы. В случае инвестиций, для которых не существует общепризнанного рынка, инвесторы могут испытывать трудности с их продажей или получением надежной информации об их стоимости или связанных с ними рисках.
									p Отчет подготовлен без учета индивидуальных финансовых особенностей и целей тех лиц, которые его получают. АО «Казкоммерц Секьюритиз»  рекомендует инвесторам независимо оценивать целесообразность тех или иных инвестиций и стратегий и призывает инвесторов пользоваться услугами финансовых консультантов.
									p АО «Казкоммерц Секьюритиз» указывает на то, что информация и мнения, содержащиеся в настоящей публикации, не рассматривались профессионалами из других подразделений компании и могут не отражать известную им информацию. Представители и сотрудники АО «Казкоммерц Секьюритиз», в том числе должностные лица, могут владеть позициями по любым финансовым инструментам, упоминаемым в этом отчете, и могут время от времени изменять позиции по таким финансовым инструментам. АО «Казкоммерц Секьюритиз»  может выступать в качестве маркет-мейкера или нести обязательства по андеррайтингу финансовых инструментов компаний, обсуждаемых в настоящем отчете, может продавать или покупать их для клиентов в качестве основной стороны сделки.
									p Имя аналитика, подготовившего данный аналитический материал, можно найти на первой странице этого отчета. Все права на отчет принадлежат АО «Казкоммерц Секьюритиз». Частичное или полное воспроизведение и распространение данного аналитического материала не может быть осуществлено без письменного разрешения АО «Казкоммерц Секьюритиз».


									
		//block rewards
		.rewards.default_block
			.container
				.rewards_top(data-aos="fade-up")
					.default_block__title
						span Аналитика, признанная лучшей
					.default_block__text
						span Наши награды - знак высокого признания
				.default_content
					.row
						.col-xs-6.col-sm-6.col-md-3.col-md-offset-3.col-tiny-12
							.rewards_card(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
								.reward_card__date
									span 2017
								.reward_card__logo
									img(src="#{img}/rewards-logo2.png", alt="")
								.reward_card__text
									p Лучшая аналитика по финансовым рынка Казахстана I				

						.col-xs-6.col-sm-6.col-md-3.col-tiny-12
							.rewards_card(data-aos="fade-up" data-aos-delay="300" data-aos-easing="ease")
								.reward_card__date
									span 2017
								.reward_card__logo
									img(src="#{img}/rewards-logo2.png", alt="")
								.reward_card__text
									p Лучшая аналитика по финансовым рынка Казахстана I

		//block	specialists
		.default_block.specialists
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Лучшие специалисты – гарант успеха
				.row
					.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
						.default_block__text
							span Более подробную информацию Вы можете получить у наших специалистов
				.row
					.specialists_cards__wrap					
						.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
							.specialists_photo
								img(src="/images/person10.jpg", alt="")
							.specialists_name
								span Нурлан Ашинов
							.specialists_contact
								span research@kazks.kz вн. 58005

						.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
							.specialists_photo
								img(src="/images/person9.jpg", alt="")
							.specialists_name
								span Динара Танербергенова
							.specialists_contact
								span research@kazks.kz вн. 58022