extends template/template.jade

block content

	#layout_awards.layout_default
		
		//block banner_career
		.full_banner.banner_awards
				.breadcrumbs
					.container
						.breadcrumbs_inset
							a(href="#").breadcrumb_inset__link Главная
							a(href="#").breadcrumb_inset__link О компании
							span.navigation_page Награды
				.row
					.col-xs-12.col-md-6.col-md-offset-3
						.full_banner__content.rellax(data-rellax-speed="2")
							.full_banner__content__title
								span Наши награды
							.full_banner__content__text
								p Наши награды - знак высокого признания, доверия клиентов и результат плодотворной работы
				.scroll_down.arrow
						.scroll_down__line
						a(href="#scroll_awards").scroll_down__icon
		
		//block rewards
		.rewards.default_block#scroll_awards
			.container
				.rewards_top(data-aos="fade-up")
					.default_block__title
						span Награды
					.default_block__text
						span Наши награды - знак высокого признания 
				.default_content
					.row
						.rewards_card__wrap
							.rewards_card(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
								.reward_card__date
									span 2017
								.reward_card__logo
									img(src="#{img}/rewards-logo1.png", alt="")
								.reward_card__text
									p Лучший андеррайтер года

							.rewards_card(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
								.reward_card__date
									span 2017
								.reward_card__logo
									img(src="#{icons}/kase-logo.png", alt="")
								.reward_card__text
									p Лучший андеррайтер года на рынке корпоративных облигаций

							.rewards_card(data-aos="fade-up" data-aos-delay="300"  data-aos-easing="ease")
								.reward_card__date
									span 2017
								.reward_card__logo
									img(src="#{img}/rewards-logo2.png", alt="")
								.reward_card__text
									p Лучшая аналитика по финансовым рынка Казахстана I

							.rewards_card(data-aos="fade-up" data-aos-delay="400"  data-aos-easing="ease")
								.reward_card__date
									span 2017
								.reward_card__logo
									img(src="#{img}/rewards-logo3.png", alt="")
								.reward_card__text
									p Эффективный менеджмент на инвестиционном рынке Казахстана II

							.rewards_card(data-aos="fade-up" data-aos-delay="500"  data-aos-easing="ease")
								.reward_card__date
									span 2017
								.reward_card__logo
									img(src="#{img}/rewards-logo1.png", alt="")
								.reward_card__text
									p Лучший инвестиционный банк Казахстана II

							.rewards_card(data-aos="fade-up" data-aos-delay="600"  data-aos-easing="ease")
								.reward_card__date
									span 2016
								.reward_card__logo
									img(src="#{img}/rewards-logo2.png", alt="")
								.reward_card__text
									p Лучший инвестиционный банк Казахстана 2015 года

							.rewards_card(data-aos="fade-up" data-aos-delay="700"  data-aos-easing="ease")
								.reward_card__date
									span 2017
								.reward_card__logo
									img(src="#{img}/rewards-logo1.png", alt="")
								.reward_card__text
									p Лучший инвестиционный банк Казахстана 2016 года

							.rewards_card(data-aos="fade-up" data-aos-delay="800"  data-aos-easing="ease")
								.reward_card__date
									span 2016
								.reward_card__logo
									img(src="#{img}/rewards-logo2.png", alt="")
								.reward_card__text
									p Лучшая аналитика по финансовым рынкам Казахстана
					.row
						.col-xs-12
							.show_more
								a(href="#").show_more__link Показать все
									.show_more__icon