extends template/template.jade

block content

	#layout_brokerage.layout_default

		//block banner		
		.banner_service.banner
			.banner_service__card.brokerage
				.container
					.breadcrumbs
						.breadcrumbs_inset
							a(href="#").breadcrumb_inset__link Главная
							a(href="#").breadcrumb_inset__link Услуги
							span.navigation_page Брокерское обслуживание
					.banner_service__card__content.rellax(data-rellax-speed="2")
						.banner_service__card__icon
							include ../images/icons/service1.svg
						.banner_service__card__text
							span.banner_card__card__title Брокерское обслуживание
							.banner_card__card__describe
								p Инвестиционные решения на любой вкус	
								
								.scroll_down.arrow
									.scroll_down__line
									a(href="#scroll_brokerage").scroll_down__icon


		//default block
		.default_block#scroll_brokerage
			.container
				.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Откройте новые границы  успешного инвестирования
						.default_block__text
							p Наша компания предоставляет брокерские услуги на рынке ценных бумаг Казахстана с 1997 года, обслуживая широкий круг розничных и корпоративных инвесторов вот уже 20 лет.
		//block services
		.services.default_block
			.services_top
				.container
					.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Физические лица
						.default_block__text
							p Фондовый рынок предлагает вам широкие возможности для инвестирования в различные инструменты. Доходности по банковским депозитам падают, а перспективы дальнейшего падения недвижимости сохраняются. Мы предлагаем более доходные инвестиции, которые уже давно получили ключевую роль в развитых странах. Используйте уже сейчас весь потенциал приумножения капитала, который могут обеспечить вам акции, облигации, золото, промышленные металлы, нефть и т.д.
			.investment_corporate_card
				.row
					.col-md-3.no-padding
						a(href="#classical_brokerage" data-modal-class="custom_popup_wrap_white").investment_corporate_card__item.popup-with-zoom-anim.classical_brokerage
							span.investment_corporate_card__item__content								
								span.investment_corporate_card__item__title
									span Классическое  брокерское  обслуживание
								span.scroll_down
									span.scroll_down__line
									span.scroll_down__icon

					.col-md-3.no-padding
						a(href="#personal_brokerage" data-modal-class="custom_popup_wrap_white").investment_corporate_card__item.popup-with-zoom-anim.personal_brokerage
							span.investment_corporate_card__item__content
								
								span.investment_corporate_card__item__title
									span Персональный  инвестиционный  консультант
									span.scroll_down
										span.scroll_down__line
										span.scroll_down__icon

					.col-md-3.no-padding
						a(href="#kausar_brokerage" data-modal-class="custom_popup_wrap_white").investment_corporate_card__item.popup-with-zoom-anim.kausar_brokerage
							span.investment_corporate_card__item__content
								
								span.investment_corporate_card__item__title
									span «Каусар»  исламские  инвестиции
									span.scroll_down
										span.scroll_down__line
										span.scroll_down__icon

					.col-md-3.no-padding
						a(href="#qtrader_brokerage" data-modal-class="custom_popup_wrap_white").investment_corporate_card__item.popup-with-zoom-anim.qtrader_brokerage
							span.investment_corporate_card__item__content
								
								span.investment_corporate_card__item__title
									span QTrader
									span.scroll_down
										span.scroll_down__line
										span.scroll_down__icon											
		//default block
		.default_block
			.container
				.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
					.default_block__title
						span Ваши инвестиционные потребности  – наш главный приоритет
					.default_block__text
						p Инвестируйте, торгуйте и приумножайте свой капитал

		//block services
		.services.default_block
			.services_top
				.container
					.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Юридические лица
						.default_block__text
							p Новые возможности для бизнеса размещать свои денежные средства в выгодные и ликвидные финансовые инструменты. Мы предоставляем вам инструменты для оперативного управления ликвидностью. Вы можете размещать или привлекать денежные средства на короткий срок под привлекательные ставки и под залог качественных ценных бумаг. Вы можете обеспечить более высокую доходность вашего бизнеса за счет инвестиций в перспективные и недооцененные акции и облигации. 

			.investment_corporate_card
				.row
					.col-md-3.no-padding
						a(href="#classical_brokerage" data-modal-class="custom_popup_wrap_white").investment_corporate_card__item.popup-with-zoom-anim.classical_brokerage
							span.investment_corporate_card__item__content
								
								span.investment_corporate_card__item__title
									span Классическое  брокерское  обслуживание
								span.scroll_down
									span.scroll_down__line
									span.scroll_down__icon

					.col-md-3.no-padding
						a(href="#personal_brokerage" data-modal-class="custom_popup_wrap_white").investment_corporate_card__item.popup-with-zoom-anim.personal_brokerage
							span.investment_corporate_card__item__content
								
								span.investment_corporate_card__item__title
									span Персональный  инвестиционный  консультант
									span.scroll_down
										span.scroll_down__line
										span.scroll_down__icon

					.col-md-3.no-padding
						a(href="#market_brokerage" data-modal-class="custom_popup_wrap_white").investment_corporate_card__item.popup-with-zoom-anim.market_brokerage
							span.investment_corporate_card__item__content
								
								span.investment_corporate_card__item__title
									span Маркет - мейкерство
									span.scroll_down
										span.scroll_down__line
										span.scroll_down__icon

					.col-md-3.no-padding
						a(href="#qtrader_brokerage" data-modal-class="custom_popup_wrap_white").investment_corporate_card__item.popup-with-zoom-anim.qtrader_brokerage
							span.investment_corporate_card__item__content
								
								span.investment_corporate_card__item__title
									span QTrader
									span.scroll_down
										span.scroll_down__line
										span.scroll_down__icon

		//default block
		.default_block
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span С нашими решениями деньги работают всегда
						.default_block__text
							p Мы обеспечиваем клиентов доступом ко всем мировым фондовым площадкам с возможностью осуществить куплю-продажу широкого круга финансовых инструментов
		
		//block info_brokerage
		.info_brokerage.default_block.default_block__light
			.container
				.row
					.col-xs-12(data-aos="fade-up")
						.default_block__title
							span Первый шаг к инвестиционному успеху начинается с выбора надежного и опытного инвестиционного консультанта   
						.default_block__text
							p 7 шагов до Вашего первого дохода от инвестиций на рынке ценных
						ul.info_brokerage__list
							li Открыть брокерский счет в Казком Секьюритиз, посетив наш офис или отправив документы электронной почтой
							li Пополнить счет деньгами через кассу банка наличными, безналичным переводом или через системы онлайн-банкинга
							li Скачать торговую платформу QTrader, получив уникальный логин и установив пароль
							li Подписаться на нашу аналитику и получить актуальные инвестиционные и торговые идеи
							li Посмотреть текущие котировки того или иного финансового инструмента и подать приказ на покупку, указав нужную цену и объем
							li Следите за новостями, рекомендациями и за стоимостью ваших ценных бумаг через торговую платформу
							li Получайте прибыль и приумножайте свой капитал


		//block about_brokerage
		.about_brokerage.default_block
			.container
				.row
					.col-xs-12(data-aos="fade-up")
						.default_block__title
							span С нами вы получаете возможность:
						ul.about_brokerage__list
							li Инвестировать в акции и облигации на локальном рынке без ограничений по сумме
							li Регулярно получать лучшие инвестиционные идеи от аналитиков и управляющих активами, признанных лучшими по версии ряда международных изданий 
							li Стать акционером крупнейших международных компаний, таких как Apple, Facebook, Microsoft, Starbucks, Tesla и т.д. 
							li Легко и выгодно размещать свободные денежные средства на короткий срок или привлекать деньги по залог ваших ценных бумаг
							li Фиксировать доходность, которая превышает ставки по банковским депозитам в тенге или в иностранной валюте
							li Оперативно получать информацию по котировкам в онлайн режиме по всем инструментам торгового списка KASE
							li Сформировать инвестиционный портфель, который обеспечит вас дополнительными источниками стабильных доходов
							li Просматривать историю совершенных сделок, состояние своего счета и получать полные отчеты о вашем инвестиционном счете


		//block qtrader_tariff
		.default_block.qtrader_tariff
			.container
				.row
					.col-xs-12(data-aos="fade-up")
							a(href="#qtrader_tariff" data-toggle="collapse").qtrader_tariff__title Выгодные тарифы на брокерское обслуживание
				.row
					.col-xs-12
						#qtrader_tariff.qtrader_tariff__content.collapse
							.table-responsive
								table.default__table
									tr
										td Наименование услуги
										td Вознаграждение
									tr
										td Открытие счета
										td бесплатно
									tr
										td Ведение счета
										td физическое лицо – бесплатно; <br/> юридическое лицо - 0,01% от среднемесячного остатка на счете по номинальной стоимости (минимум- 2 МРП)
							.table-responsive
								table.default__table.default__table--white
									thead.table_head
										th Операции на KASE:
									tr
										td размещение/выкуп ФИ
										td по договоренности
									tr
										td покупка/продажа ФИ
										td до 10 000 000 тенге – 0,1% от объема сделки, минимум 2 МРП;<br/> до 100 000 000 тенге – 0,07% от объема сделки;<br/> до 200 000 000 тенге – 0,05% от объема сделки;<br/> свыше 200 000 000 тенге – 0,03% от объема сделки.
									tr
										td операции "репо"
										td 0,25%, минимум 2 МРП (от дохода при закрытии)
									
									thead.table_head
										th Операции на международных и российском рынках:
									tr
										td покупка/продажа ФИ copy
										td до 300 000 долларов США - 0,25% от объема сделки, минимум 2 МРП;<br/> свыше 300 000 долларов США – 0,1 % от объема сделки.

									thead.table_head
										th Зачисление ФИ:
									tr
										td внутри РК
										td бесплатно
									tr
										td за пределами РК
										td бесплатно

									thead.table_head
										th Списание ФИ:
									tr
										td внутри РК
										td 2 МРП
									tr
										td за пределами РК
										td 3 МРП

									thead.table_head
										th Отчет по движению ФИ на лицевом счете:
									tr
										td ежемесячно
										td бесплатно
									tr
										td по запросу
										td 3 МРП

									thead.table_head
										th Выписка с лицевого счета:
									tr
										td ежемесячно/при совершении операции на неорганизованном рынке
										td бесплатно
									tr
										td по запросу
										td 1 МРП
							.table-responsive
								table.default__table
									tr
										td Конвертация ФИ
										td 5 тенге за 1 глобальную депозитарную расписку (GDR)
									tr
										td Голосование по доверенности
										td по договоренности
									tr
										td Регистрация залога
										td 5 МРП
									tr
										td Штраф за неисполнение поручения  по вине Клиента * 
										td 1 МРП
									tr
										td Комиссионные ЦДЦБ, KASE, ЕРЦБ,  кастодиана и иных учетных организаций
										td по факту
									tr
										td Оказание консультационных услуг
										td по договоренности
							.table_extra
									p * В  случае неверно указанных реквизитов контрагента.						

		//block info_account
		.default_block
			.container
				.info_account(data-aos="fade-up")
					.row
						.col-xs-12.col-md-8.col-md-offset-2
							.info_account__title
								span Открытие инвестиционного счета бесплатно и требует минимум усилий и времени
							.info_account__text
								p Вы можете открыть счет следующими способами:
								ol
									li Посетив наш офис
									li Скачать необходимые формы и приложения, заполнить их, подписать и отправить в сканированном виде по адресу 
										a(href="#").base_link drb@kazks.kz
									li Заполнить онлайн заявку на открытие счета, и наши менеджеры свяжутся с вами.

		//block open_account
		.default_block.open_account.default_block__blue
			.container
				.row
					.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
						.default_block__title
							span Открыть счет
						.default_block__text
							span Откройте брокерский счет, не посещая офис <br/> Быстро и удобно
						a(href="#open_account_popup").open_account__link.btn.btn--beige.popup-with-move-anim Открыть счет

		//block list_documents
		.default_block.list_documents.default_block__light
			.container
				.row(data-aos="fade-up")
					.col-xs-12.col-md-10.col-md-offset-1
						.default_block__title
							span Перечень документов для открытия счета
						.list_documents__content
							ul.list_documents__type
								li: a(href="#resident" data-toggle="tab") Резиденты РК
								li: a(href="#nonresident" data-toggle="tab") Нерезиденты РК

							.tab-content
								#resident.list_documents__content__tab.tab-pane.fade
									.list_documents__content__wrap
										.list_documents__content__item
											span.list_documents__content__title Физические лица
											p Копия документа, удостоверяющего личность
										.list_documents__content__item
											span.list_documents__content__title Юридические лица
											p Нотариально заверенная копия устава (при наличии) или учредительного договора;<br/>	Нотариально заверенная копия справки или свидетельства о государственной регистрации (перерегистрации) юридического лица<br/> Решение о назначении лица, уполномоченного подписывать документы<br/> Копия удостоверения личности лица, уполномоченного подписывать документы



								#nonresident.list_documents__content__tab.tab-pane.fade
									.list_documents__content__wrap
										.list_documents__content__item
											span.list_documents__content__title Физические лица
											p Копия документа, удостоверяющего личность, апостилированную или легализованную с нотариально заверенным переводом на русский и казахский языки.
										.list_documents__content__item
											span.list_documents__content__title Юридические лица
											p копия устава (при наличии); <br/> копия документа, подтверждающего государственную регистрацию юридического лица, выданного уполномоченным органом государства нерезидента; <br/> документ с образцами подписей (в том числе представителей юридического лица, обладающих правом подписывать клиентские заказы) и оттиска печати юридического лица (при наличии); <br/> доверенность или решение уполномоченного органа юридического лица, выданное в отношении представителя юридического лица, который будет заключать брокерский договор и осуществлять иные действия; <br/> Документы представляются клиентом легализованными или апостилированными в соответствии с требованиями законодательства Республики Казахстан, с нотариально засвидетельствованным переводом на казахский и русский языки.



		//block list_documents
		.default_block.list_documents
			.container
				.row(data-aos="fade-up")
					.col-xs-12
						.default_block__title
							span Формы и приложения для открытия счета
						.list_documents__content
							ul.list_documents__type
								li: a(href="#individual" data-toggle="tab") Физические лица
								li: a(href="#entity" data-toggle="tab") Юридические лица

							.tab-content
								#individual.list_documents__content__tab.tab-pane.fade
									.list_documents__content__wrap
										.report__card
											.col-xs-12.col-sm-6.right-border
												.report__card__item
													span.report__card__item__title Анкета «Знай своего Клиента»
													a(href="#").report__card__item__download Скачать
														span.btn--doc
												.report__card__item
													span.report__card__item__title Договор на оказание брокерских услуг
													a(href="#").report__card__item__download Скачать
														span.btn--doc
												.report__card__item
													span.report__card__item__title Договор на оказание брокерских услуг и номинального держания
													a(href="#").report__card__item__download Скачать
														span.btn--doc
											.col-xs-12.col-sm-6
												.report__card__item
													span.report__card__item__title Документ с образцами подписей и оттиска печати
													a(href="#").report__card__item__download Скачать
														span.btn--doc
												.report__card__item
													span.report__card__item__title Приказ на проведение операции с лицевым счетом
													a(href="#").report__card__item__download Скачать
														span.btn--doc												
												.report__card__item
													span.report__card__item__title Порядок сбора и обработки персональных данных
													a(href="#").report__card__item__download Скачать
														span.btn--doc


								#entity.list_documents__content__tab.tab-pane.fade
									.list_documents__content__wrap
										.report__card
											.col-xs-12.col-sm-6.right-border
												.report__card__item
													span.report__card__item__title Анкета «Знай своего Клиента»
													a(href="#").report__card__item__download Скачать
														span.btn--doc
												.report__card__item
													span.report__card__item__title Договор на оказание брокерских услуг
													a(href="#").report__card__item__download Скачать
														span.btn--doc

											.col-xs-12.col-sm-6
												.report__card__item
													span.report__card__item__title Документ с образцами подписей и оттиска печати
													a(href="#").report__card__item__download Скачать
														span.btn--doc
												.report__card__item
													span.report__card__item__title Приказ на проведение операции с лицевым счетом
													a(href="#").report__card__item__download Скачать
														span.btn--doc												



		//block list_documents
		.default_block.list_documents.default_block__light
			.container
				.row(data-aos="fade-up")
					.col-xs-12
						.default_block__title
							span Налогооблажение
						.list_documents__content
							ul.list_documents__type
								li: a(href="#taxation_individual" data-toggle="tab") Физические лица
								li: a(href="#taxation_entity" data-toggle="tab") Юридические лица

							.tab-content
								#taxation_individual.list_documents__content__tab.tab-pane.fade									
									.list_documents__content__wrap
										.table-responsive
											table.default__table.default__table--white
												thead.table_head
													th Физические лица - резиденты
													th Ставка
												tr
													td Индивидуальный подоходный налог на доход от прироста стоимости при реализации ценных бумаг
													td 0%
												tr
													td Доходы от прироста стоимости при реализации государственных эмиссионных ценных бумаг
													td 0%
												tr
													td Доходы от прироста стоимости при реализации агентских облигаций
													td 0%

												tr
													td Доходы от прироста стоимости при реализации методом открытых торгов на фондовой бирже, функционирующей на территории Республики Казахстан, ценных бумаг, находящихся на день реализации в официальных списках данной фондовой биржи
													td 0%

												tr
													td Доходы от прироста стоимости при реализации акций, долей участия в юридическом лице или консорциуме, при одновременном выполнении следующих условий:
														ul
															li на день реализации акций или долей участия налогоплательщик владеет данными акциями или долями участия более трех лет;
															li юридическое лицо - эмитент или юридическое лицо, доля участия в котором реализуется, или участник консорциума, который реализует долю участия в таком консорциуме, не является недропользователем;
															li имущество лиц (лица), являющихся (являющегося) недропользователями (недропользователем), в стоимости активов юридического лица-эмитента или юридического лица, доля участия в котором реализуется, или общей стоимости активов участников консорциума, доля участия в котором реализуется, на день такой реализации составляет не более 50 процентов.

													td 0%
												tr
													td Вознаграждения по ценным бумагам, находящимся на дату начисления вознаграждений в официальном списке фондовой биржи, функционирующей на территории Республики Казахстан
													td 0%

												tr
													td Вознаграждения по долговым ценным бумагам
													td 0%
												tr
													td Вознаграждения по государственным эмиссионным ценным бумагам, агентским облигациям
													td 0%
												tr
													td Индивидуальный подоходный налог на дивиденды, вознаграждение и доход от прироста стоимости при реализации ценных бумаг в иных случаях
													td 10%
												tr
													td Индивидуальный подоходный налог при получении  дивидендов по ценным бумагам, находящимся на дату начисления таких дивидендов в официальном списке фондовой биржи, функционирующей на территории Республики Казахстан
													td 0%

												tr
													td Дивиденды при одновременном выполнении следующих условий:
														ul
															li на день начисления дивидендов налогоплательщик владеет акциями или долями участия, по которым выплачиваются дивиденды, более трех лет;
															li юридическое лицо, выплачивающее дивиденды, не является недропользователем в течение периода, за который выплачиваются дивиденды;
															li имущество лиц (лица), являющихся (являющегося) недропользователями (недропользователем), в стоимости активов юридического лица, выплачивающего дивиденды, на день выплаты дивидендов составляет не более 50 процентов.
														|Применяются по дивидендам, полученным от юридического лица-резидента в виде:
														ul
															li дохода, подлежащего выплате по акциям, в том числе по акциям, являющимся базовыми активами депозитарных расписок;
															li части чистого дохода, распределяемого юридическим лицом между его учредителями, участниками;
															li дохода от распределения имущества при ликвидации юридического лица или при уменьшении уставного капитала путем пропорционального уменьшения размера вкладов учредителей, участников либо путем полного или частичного погашения долей учредителей, участников, а также при изъятии учредителем, участником доли участия в юридическом лице, за исключением имущества, внесенного учредителем, участником в качестве вклада в уставный капитал.
															li При этом доля имущества лиц (лица), являющихся (являющегося) недропользователями (недропользователем), в стоимости активов юридического лица, выплачивающего дивиденды, определяется в соответствии со статьей 197 Налогового Кодекса.
													td 0%

												tr
													td Дивиденды, выплачиваемые акционерными инвестиционными фондами рискового инвестирования при одновременном выполнении следующих условий:
														ul
															li на день начисления дивидендов налогоплательщик владеет акциями или долями участия такого акционерного инвестиционного фонда рискового инвестирования более трех лет;
															li участие национального института развития в области технологического развития в уставном капитале такого акционерного инвестиционного фонда рискового инвестирования составляет более двадцати пяти процентов
													td 0%

												tr
													td Дивиденды, полученные от юридического лица-нерезидента, указанного в пункте 1 статьи 224 Налогового Кодекса, распределенные из прибыли или ее части, обложенной индивидуальным подоходным налогом в Республике Казахстан в соответствии со статьей 224 Налогового Кодекса;
													td 0%

												tr
													td Дивиденды, полученные от юридического лица, которое производит уменьшение исчисленного в соответствии со статьей 139 Налогового Кодекса корпоративного подоходного налога на сто процентов, в случае начисления таких дивидендов за период, который входит в налоговый период, в котором произведено такое уменьшение
													td 0%

												tr
													td Дивиденды, выплачиваемые закрытыми паевыми инвестиционными фондами рискового инвестирования и акционерными инвестиционными фондами рискового инвестирования
													td 10%

												tr
													td Доходы по паям открытых и интервальных паевых инвестиционных фондов при их выкупе управляющей компанией данного фонда
													td 10%

										.table-responsive
											table.default__table.default__table--white
												thead.table_head
													th Физические лица - нерезиденты
													th Ставка
												tr
													td Подоходный налог у источника выплаты на доход от прироста стоимости при реализации ценных бумаг
													td 0%

												tr
													td Доходы от прироста стоимости при реализации (за исключением доходов лиц, зарегистрированных в государстве с льготным налогообложением):
														ul
															li акций, выпущенных юридическим лицом - резидентом, или долей участия в юридическом лице-резиденте или консорциуме, расположенного в Республике Казахстан;
															li акций, выпущенных нерезидентом, а также долей участия в уставном капитале юридического лица-нерезидента, консорциума, если 50 и более процентов стоимости таких акций, долей участия или активов юридического лица-нерезидента составляет имущество, находящееся в Республике Казахстан; 
														|Применяется при одновременном выполнении следующих условий:
														ul
															li на день реализации акций или долей участия налогоплательщик владеет данными акциями или долями участия более трех лет;
															li юридическое лицо-эмитент или юридическое лицо, доля участия в котором реализуется, или участник консорциума, который реализует долю участия в таком консорциуме, не является недропользователем;
															li имущество лиц (лица), являющихся (являющегося) недропользователями (недропользователем), в стоимости активов юридического лица-эмитента или юридического лица, доля участия в котором реализуется, или общей стоимости активов участников консорциума, доля участия в котором реализуется, на день такой реализации составляет не более 50 процентов.

													td 0%

												tr
													td Доходы от прироста стоимости при реализации методом открытых торгов на фондовой бирже, функционирующей на территории Республики Казахстан, или иностранной фондовой бирже ценных бумаг, находящихся на день реализации в официальных списках данной фондовой биржи
													td 0%

												tr
													td Вознаграждения по государственным эмиссионным ценным бумагам, агентским облигациям и доходы от прироста стоимости при реализации государственных эмиссионных ценных бумаг и агентских облигаций
													td 0%

												tr
													td Суммы накопленных (начисленных) вознаграждений по долговым ценным бумагам, оплаченные при их покупке покупателями - резидентами
													td 0%
												tr
													td Дивиденды и вознаграждения по ценным бумагам, находящимся на дату начисления таких дивидендов и вознаграждений в официальном списке фондовой биржи, функционирующей на территории Республики Казахстан
													td 0%

												tr
													td Дивиденды (за исключением выплачиваемых лицам, зарегистрированным в государстве с льготным налогообложением) при одновременном выполнении следующих условий:
														ul
															li на день начисления дивидендов налогоплательщик владеет акциями или долями участия, по которым выплачиваются дивиденды, более трех лет;
															li юридическое лицо, выплачивающее дивиденды, не является недропользователем в течение периода, за который выплачиваются дивиденды;
															li имущество лиц (лица), являющихся (являющегося) недропользователями (недропользователем), в стоимости активов юридического лица, выплачивающего дивиденды, на день выплаты дивидендов составляет не более 50 процентов.
														|Применяются только к дивидендам, полученным от юридического лица-резидента в виде:
														ul
															li дохода, подлежащего выплате по акциям, в том числе по акциям, являющимся базовыми активами депозитарных расписок;
															li части чистого дохода, распределяемого юридическим лицом между его учредителями, участниками;
															li дохода от распределения имущества при ликвидации юридического лица или при уменьшении уставного капитала путем пропорционального уменьшения размера вкладов учредителей, участников либо путем полного или частичного погашения долей учредителей, участников, а также при изъятии учредителем, участником доли участия в юридическом лице, за исключением имущества, внесенного учредителем, участником в качестве вклада в уставный капитал.
															li При этом доля имущества лиц (лица), являющихся (являющегося) недропользователями (недропользователем), в стоимости активов юридического лица, выплачивающего дивиденды, определяется в соответствии со статьей 197 Налогового Кодекса.

													td 0%

												tr
													td Доходы по паям открытых паевых инвестиционных фондов при их выкупе управляющей компанией данного фонда
													td 0%
												tr
													td Дивиденды, выплачиваемые юридическим лицом, которое производит уменьшение исчисленного в соответствии со статьей 139 Налогового Кодекса корпоративного подоходного налога на 100 процентов, в случае начисления таких дивидендов за период, который входит в налоговый период, в котором произведено такое уменьшение
													td 15%
												tr
													td Подоходный налог на дивиденды, вознаграждение и доход от прироста стоимости при реализации ценных бумаг в иных случаях
													td 15%



								#taxation_entity.list_documents__content__tab.tab-pane.fade									
									.list_documents__content__wrap
										.table-responsive
											table.default__table.default__table--white
												thead.table_head
													th Юридические лица - резиденты
													th Ставка
												tr
													td Корпоративный подоходный налог на доход от прироста стоимости при реализации ценных бумаг
													td 0%
												tr
													td Доходы от прироста стоимости при реализации акций, долей участия в юридическом лице или консорциуме, уменьшенные на убытки, возникшие от реализации акций, долей участия в юридическом лице или консорциуме, при одновременном выполнении следующих условий:
														ul
															li на день реализации акций или долей участия налогоплательщик владеет данными акциями или долями участия более трех лет;
															li юридическое лицо - эмитент или юридическое лицо, доля участия в котором реализуется, или участник консорциума, который реализует долю участия в таком консорциуме, не является недропользователем; 
															li имущество лиц (лица), являющихся (являющегося) недропользователями (недропользователем), в стоимости активов юридического лица - эмитента или юридического лица, доля участия в котором реализуется, или общей стоимости активов участников консорциума, доля участия в котором реализуется, на день такой реализации составляет не более 50 процентов.

													td 0%
												tr
													td Доходы от прироста стоимости при реализации методом открытых торгов на фондовой бирже, функционирующей на территории Республики Казахстан, ценных бумаг, находящихся на день реализации в официальных списках данной фондовой биржи, уменьшенные на убытки, возникшие от реализации методом открытых торгов на фондовой бирже, функционирующей на территории Республики Казахстан, ценных бумаг, находящихся на день реализации в официальных списках данной фондовой биржи
													td 0%

												tr
													td Доходы от прироста стоимости при реализации государственных эмиссионных ценных бумаг, уменьшенные на убытки от реализации государственных эмиссионных ценных бумаг
													td 0%

												tr
													td Доходы от прироста стоимости при реализации агентских облигаций, уменьшенные на убытки, возникшие от реализации агентских облигаций
													td 0%
												tr
													td Вознаграждение по долговым ценным бумагам, находящимся на дату начисления такого вознаграждения в официальном списке фондовой биржи, функционирующей на территории Республики Казахстан
													td 0%

												tr
													td Вознаграждение по государственным эмиссионным ценным бумагам, агентским облигациям
													td 0%
												tr
													td Корпоративный подоходный налог на дивиденды, вознаграждение и доход от прироста стоимости при реализации ценных бумаг в иных случаях
													td 20%

												tr
													td Корпоративный подоходный налог при получении  дивидендов по ценным бумагам, находящимся на дату начисления таких дивидендов в официальном списке фондовой биржи, функционирующей на территории Республики Казахстан
													td 0%

												tr
													td Дивиденды, выплачиваемые акционерными инвестиционными фондами рискового инвестирования при одновременном выполнении следующих условий:
														ul
															li на день начисления дивидендов налогоплательщик владеет акциями или долями участия такого акционерного инвестиционного фонда рискового инвестирования более трех лет;
															li участие национального института развития в области технологического развития в уставном капитале такого акционерного инвестиционного фонда рискового инвестирования составляет более двадцати пяти процентов

													td 0%

												tr
													td Дивиденды, выплачиваемые юридическим лицом, которое производит уменьшение исчисленного в соответствии со статьей 139 Налогового Кодекса корпоративного подоходного налога на 100 процентов (за исключением организации, реализующей инвестиционный приоритетный проект, в рамках инвестиционного контракта, заключенного в соответствии с законодательством Республики Казахстан об инвестициях), в случае начисления таких дивидендов за период, который входит в налоговый период, в котором произведено такое уменьшение
													td 20%

												tr
													td Дивиденды, выплачиваемые закрытыми паевыми инвестиционными фондами рискового инвестирования и акционерными инвестиционными фондами рискового инвестирования
													td 20%

												tr
													td Доходы по паям открытых и интервальных паевых инвестиционных фондов при их выкупе управляющей компанией данного фонда
													td 20%

										.table-responsive
											table.default__table.default__table--white
												thead.table_head
													th Юридические лица - нерезиденты
													th Ставка
												tr
													td Подоходный налог у источника выплаты на доход от прироста стоимости при реализации ценных бумаг
													td 0%	

												tr
													td Доходы от прироста стоимости при реализации (за исключением доходов лиц, зарегистрированных в государстве с льготным налогообложением):
														ul
															li акций, выпущенных юридическим лицом - резидентом, или долей участия в юридическом лице-резиденте или консорциуме, расположенного в Республике Казахстан;
															li акций, выпущенных нерезидентом, а также долей участия в уставном капитале юридического лица-нерезидента, консорциума, если 50 и более процентов стоимости таких акций, долей участия или активов юридического лица-нерезидента составляет имущество, находящееся в Республике Казахстан; 
														|Применяется при одновременном выполнении следующих условий:
														ul
															li на день реализации акций или долей участия налогоплательщик владеет данными акциями или долями участия более трех лет;
															li юридическое лицо-эмитент или юридическое лицо, доля участия в котором реализуется, или участник консорциума, который реализует долю участия в таком консорциуме, не является недропользователем;
															li имущество лиц (лица), являющихся (являющегося) недропользователями (недропользователем), в стоимости активов юридического лица-эмитента или юридического лица, доля участия в котором реализуется, или общей стоимости активов участников консорциума, доля участия в котором реализуется, на день такой реализации составляет не более 50 процентов.
													td 0%
												tr
													td Доходы от прироста стоимости при реализации методом открытых торгов на фондовой бирже, функционирующей на территории Республики Казахстан, или иностранной фондовой бирже ценных бумаг, находящихся на день реализации в официальных списках данной фондовой биржи
													td 0%

												tr
													td Вознаграждения по государственным эмиссионным ценным бумагам, агентским облигациям и доходы от прироста стоимости при реализации государственных эмиссионных ценных бумаг и агентских облигаций
													td 0%

												tr
													td Суммы накопленных (начисленных) вознаграждений по долговым ценным бумагам, оплаченные при их покупке покупателями - резидентами
													td 0%

												tr
													td Дивиденды и вознаграждения по ценным бумагам, находящимся на дату начисления таких дивидендов и вознаграждений в официальном списке фондовой биржи, функционирующей на территории Республики Казахстан
													td 0%

												tr
													td Дивиденды (за исключением выплачиваемых лицам, зарегистрированным в государстве с льготным налогообложением) при одновременном выполнении следующих условий:
														ul															
															li на день начисления дивидендов налогоплательщик владеет акциями или долями участия, по которым выплачиваются дивиденды, более трех лет;
															li юридическое лицо, выплачивающее дивиденды, не является недропользователем в течение периода, за который выплачиваются дивиденды;
															li имущество лиц (лица), являющихся (являющегося) недропользователями (недропользователем), в стоимости активов юридического лица, выплачивающего дивиденды, на день выплаты дивидендов составляет не более 50 процентов.
														|Применяются только к дивидендам, полученным от юридического лица-резидента в виде:
														ul
															li дохода, подлежащего выплате по акциям, в том числе по акциям, являющимся базовыми активами депозитарных расписок;
															li части чистого дохода, распределяемого юридическим лицом между его учредителями, участниками;
															li дохода от распределения имущества при ликвидации юридического лица или при уменьшении уставного капитала путем пропорционального уменьшения размера вкладов учредителей, участников либо путем полного или частичного погашения долей учредителей, участников, а также при изъятии учредителем, участником доли участия в юридическом лице, за исключением имущества, внесенного учредителем, участником в качестве вклада в уставный капитал.
															li При этом доля имущества лиц (лица), являющихся (являющегося) недропользователями (недропользователем), в стоимости активов юридического лица, выплачивающего дивиденды, определяется в соответствии со статьей 197 Налогового Кодекса.

													td 0%

												tr
													td Дивиденды, выплачиваемые юридическими лицами-недропользователями (за исключением выплачиваемых лицам, зарегистрированным в государстве с льготным налогообложением) при одновременном выполнении следующих условий:
														ul													
															li на день начисления дивидендов налогоплательщик владеет акциями или долями участия, по которым выплачиваются дивиденды, более трех лет
															li юридическое лицо-недропользователь, выплачивающее дивиденды, осуществляет в течение 12 месяцев, предшествовавших дате начисления дивидендов, последующую переработку (после первичной переработки) не менее 35 процентов добытого в течение указанного периода минерального сырья на собственных производственных мощностях
														|Применяются только к дивидендам, полученным от юридического лица-резидента в виде:
														ul
															li дохода, подлежащего выплате по акциям, в том числе по акциям, являющимся базовыми активами депозитарных расписок, но не более 30 процентов от нераспределенной прибыли на последнюю отчетную дату, согласно подтвержденной аудитом финансовой отчетности
															li части чистого дохода, распределяемого юридическим лицом между его учредителями, участниками
															li дохода от распределения имущества при ликвидации юридического лица или при уменьшении уставного капитала путем пропорционального уменьшения размера вкладов учредителей, участников либо путем полного или частичного погашения долей учредителей, участников, а также при изъятии учредителем, участником доли участия в юридическом лице, за исключением имущества, внесенного учредителем, участником в качестве вклада в уставный капитал

													td 0%

												tr
													td Доходы по паям открытых паевых инвестиционных фондов при их выкупе управляющей компанией данного фонда
													td 0%

												tr
													td Дивиденды, выплачиваемые юридическим лицом, которое производит уменьшение исчисленного в соответствии со статьей 139 Налогового Кодекса корпоративного подоходного налога на 100 процентов, в случае начисления таких дивидендов за период, который входит в налоговый период, в котором произведено такое уменьшение
													td 15%

												tr
													td Подоходный налог на дивиденды, вознаграждение и доход от прироста стоимости при реализации ценных бумаг в иных случаях
													td 15%
																		


		//block specialists
		.specialists.default_block
			.container
				.row
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Наши специалисты с заботой о Вас
						.default_block__text
							span В случае возникновения вопросов по открытию счета или работе торговой платформы просим обращаться к нашим специалистам:
				include particals/specialists
				.row
					.col-xs-12(data-aos="fade-up")
						.specialists_callback
							p Так же Вы можете оставить свои личные данные, и мы свяжемся с вами:
							a(href="#qtrader_callback_popup").specialists_callback__link.btn.btn--light.popup-with-move-anim Заказать звонок


		//block popup_pages
		#classical_brokerage.popup_pages.zoom-anim-dialog.mfp-hide
			.popup_pages__banner
				a(href="#").popup_pages__close
				.popup_pages____title
					span Классическое брокерское обслуживание
				.scroll_down.arrow
						.scroll_down__line
						a(href="#layout_popup_pages").scroll_down__icon

			.default_block#layout_popup_pages
				.container
					.row(data-aos="fade-up")
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span Правильный выбор брокера на фондовом рынке – один из гарантов успеха и защиты ваших инвестиций
							.default_block__text
								p Наша компания предлагает вам возможность инвестировать в широкий круг финансовых инструментов. Клиенты Казком Секьюритиз регулярно получают качественную аналитику по наиболее перспективным ценным бумагам

			.default_block.qtrader-slider
				.container
					.qtrader_slide(data-aos="fade-up")
							.qtrader_slide__content.popup_parallax
								.qtrader_slide__title
									span Предоставление брокерских услуг с 1997 года
								.qtrader_slide__text
									p Выбор брокера для инвестирования и управления своим капиталом – важное и ответственное решение. С нами вы можете быть уверены, что Ваши потребности – наш главный приоритет.
							.qtrader_slide__img
								img(src="/images/classical_brokerage-popup-img.jpg", alt="")

			//block about_brokerage
			.about_brokerage.default_block.default_block__light
				.container
					.row
						.col-xs-12(data-aos="fade-up")
							.default_block__title
								span Локальный рынок
							ul.about_brokerage__list
								li Передовая торговая платформа позволит вам осуществлять сделки всего в несколько кликов
								li Вы можете инвестировать на локальном рынке акций и облигаций без ограничений по сумме 
								li Открыв счет, вы может купить долю в таких крупных национальных компаниях, стать акционером ведущих коммерческих банков и мобильных операторов страны, приобрести акции промышленных предприятий в нефтегазовой отрасли и в секторе металлургии. 
								li Многие казахстанские «голубые фишки», которые входят в индекс KASE регулярно выплачивают своим акционерам хорошую дивиденды, доходность которых может превышать ставки по депозитам.
								li Инвестиции на казахстанской фондовой бирже освобождены от налогов

			//block about_brokerage
			.about_brokerage.default_block
				.container
					.row
						.col-xs-12(data-aos="fade-up")
							.default_block__title
								span Международный рынок   
							ul.about_brokerage__list
								li Мы имеем прямой доступ на различные мировые биржи, где вы можете без труда приобрести различные акции.
								li Получите возможность торговать на биржах США, Великобритании, Германии, России и т.д.
								li Открыв счет, вы можете купить доли в таких гигантах как Apple, Facebook, Microsoft, Starbucks, Tesla, Coca-Cola, McDonald’s и т.д.
								li Приобретайте различные ETF с привязкой к ключевым биржевым индексам, золоту, нефти и прочим активам.
								li Нет минимальных требований по объему покупок акций или ETF на международных площадках
								li Покупка еврооблигаций и облигаций зарубежных эмитентов предполагает требования по минимальной сумме
								li Долларовые облигации с доходностью вдвое выше депозитов

			//block about_brokerage
			.about_brokerage.default_block.default_block__light
				.container
					.row
						.col-xs-12(data-aos="fade-up")
							.default_block__title
								span Управление ликвидностью
							ul.about_brokerage__list
								li У вас есть возможность выгодно размещать свободные денежные средства на короткий срок под залог качественных ценных бумаг
								li У вас есть возможность выгодно привлекать финансирование на короткий срок под залог имеющихся ценных бумаг
								li Доходность на уровне базовой ставки НацБанка.
								li Вы можете легко осуществлять операции РЕПО сроком до одного месяца.
								li Возможность размещать денежные средства через торговую платформу
								li Оперативный выгон денежных средств на текущие счета

			.popup_pages__footer
				a(href="#").popup_pages__close								


		//block popup_pages
		#personal_brokerage.popup_pages.zoom-anim-dialog.mfp-hide
			.popup_pages__banner
				a(href="#").popup_pages__close
				.popup_pages____title
					span Персональный инвестиционный консультант
				.scroll_down.arrow
						.scroll_down__line
						a(href="#layout_popup_pages").scroll_down__icon

			.default_block#layout_popup_pages
				.container
					.row(data-aos="fade-up")
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span Мы предоставляем вам личного менеджера,который поможет сформировать для себя персональный инвестиционный портфель
							.default_block__text
								p Включает в себя стратегию постоянного дохода, как основную часть портфеля, и стратегию высокого дохода, как дополнительную 

			.default_block.qtrader-slider
				.container
					.qtrader_slide(data-aos="fade-up")
							.qtrader_slide__content.popup_parallax
								.qtrader_slide__title
									p В рамках услуги «персональный консультант» вам будут предоставляться отдельные инвестиционные рекомендации, которые недоступны в рамках классического брокерского обслуживания.

							.qtrader_slide__img
								img(src="/images/personal-brokerage-popup-img.jpg", alt="")

					.row(data-aos="fade-up")
						.col-xs-12.col-md-8.col-md-offset-2
							.default_block__text
								p В течение данного тренинга  Вы сможете получить ответы на волнующие Вас вопросы по инвестированию, узнаете про современные способы инвестирования, приобретете дополнительные полезные знания и навыки, как торговать на фондовой бирже, как заработать, сохранить и приумножить личный капитал.

			//block about_brokerage
			.about_brokerage.default_block.default_block__light
				.container
					.row
						.col-xs-12(data-aos="fade-up")
							.default_block__title
								span Ваши преимущества:
							ul.about_brokerage__list
								li Эффективные решения от личного менеджера
								li Разработанный под вас инвестиционный портфель
								li Индивидуальные и всегда актуальные рекомендации
								li Встречи с аналитиками и портфельными управляющими
								li Экономия времени и отсутствие необходимости постоянно следить за рынком
								li Оперативное реагирование на важные события и новости
								li Сохранение непосредственного контроля за портфелем  
			.popup_pages__footer
				a(href="#").popup_pages__close																													

		//block popup_pages
		#kausar_brokerage.popup_pages.zoom-anim-dialog.mfp-hide
			.popup_pages__banner
				a(href="#").popup_pages__close
				.popup_pages____title
					span Каусар
				.scroll_down.arrow
						.scroll_down__line
						a(href="#layout_popup_pages").scroll_down__icon

			.default_block#layout_popup_pages
				.container(data-aos="fade-up")
					.row
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span Инвестиционный продукт для тех, кто придерживается норм Шариата
							.default_block__text
								p В рамках нашего продукта «Каусар» мы предлагаем брокерские услуги по исламским финансовым инструментам с оказанием качественных консультаций в выборке ценных бумаг, соответствующих нормам Шариата

			.default_block.qtrader-slider
				.container
					.qtrader_slide(data-aos="fade-up")
							.qtrader_slide__content.popup_parallax
								.qtrader_slide__title
									p Целью «Каусар» является защита и сохранение вашего капитала
								.qtrader_slide__text
									p Наше решение рассчитано на тех клиентов, кто не может размещать денежные средства в банковские депозиты и прочие инструменты под проценты.

							.qtrader_slide__img
								img(src="/images/kausar-brokerage-popup-img.jpg", alt="")

			//block about_brokerage
			.about_brokerage.default_block.default_block__light
				.container
					.row
						.col-xs-12(data-aos="fade-up")
							.default_block__title
								span Недопустимыми считаются инвестиции:
							ul.about_brokerage__list.about_brokerage__list__cross
								li В компании, основная деятельность которых идет в разрез с основными принципами ислама, в том числе производство или сбыт алкоголя, основанные на ссудном проценте финансовые услуги, производство свинины и продуктов из свинины, организация азартных игр и осуществление спекулятивных действий
								li в облигации, так как они относятся к долговым ценным бумагам на процентной основе 
								li в акции компаний с высокой долей заемных средств
								li во взаимные фонды или хедж-фонды
								li в производные ценные бумаги, такие как форварды, опционы и фьючерсы и т.д.

			//block about_brokerage
			.about_brokerage.default_block
				.container
					.row
						.col-xs-12(data-aos="fade-up")
							.default_block__title
								span Мы предлагаем клиентам следующие Исламские инструменты:   
							ul.about_brokerage__list.about_brokerage__list__arrow
								li Сукуки
								li Исламские фонды
								li Акции компаний, деятельность которых не противоречит принципам


			.default_block.default_block__light
				.container
					.row
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span Сукук - идеальный инструмент с точки зрения исламских инвесторов
							.default_block__text
								p Так как он является долей в реальных активах (обеспечивается ими), торгуется на вторичном рынке, не является прямым долгом, а выпускать его могут только суверенные эмитенты и компании, деятельность которых не противоречит Шариату.	

			.popup_pages__footer
				a(href="#").popup_pages__close																																	


		//block popup_pages
		#qtrader_brokerage.popup_pages.zoom-anim-dialog.mfp-hide
			.popup_pages__banner
				a(href="#").popup_pages__close
				.popup_pages____title
					span QTrader
				.scroll_down.arrow
						.scroll_down__line
						a(href="#layout_popup_pages").scroll_down__icon

			.default_block#layout_popup_pages
				.container(data-aos="fade-up")
					.row
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span Передовая торговая платформа
							.default_block__text
								p Позволяет осуществлять сделки здесь и сейчас в любом удобном для вас месте

			.default_block.qtrader-slider
				.container
					.qtrader_slide(data-aos="fade-up")
							.qtrader_slide__content.popup_parallax
								.qtrader_slide__title
									p Заключайте сделки, сидя дома, будучи в офисе или просто гуляя по улице
								.qtrader_slide__text
									p Возможности для оперативного инвестирования и управления инвестиционным счетом через мобильные устройства. Интуитивный дизайн, оптимально подобранная структура и простота установки позволяют использовать платформу каждому.

							.qtrader_slide__img
								img(src="/images/qtrader-brokerage-popup-img.jpg", alt="")

			.default_block
				.container
					.row
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span Наша платформа обеспечивает высокий уровень безопасности и защищенности ваших данных и активов
							.default_block__text
								p Вся информация отображается в режиме реального времени. Вы всегда в курсе актуальных котировок и последних новостей, получая преимущество перед другими инвесторами и осуществляя наиболее выгодные сделки.

					a(href="/ru/qtrader").statement(data-aos="fade-up")
						span Подробнее о QTrader

			.popup_pages__footer
				a(href="#").popup_pages__close						

		//block popup_pages
		#market_brokerage.popup_pages.zoom-anim-dialog.mfp-hide
			.popup_pages__banner
				a(href="#").popup_pages__close
				.popup_pages____title
					span Маркет-мейкерство
				.scroll_down.arrow
						.scroll_down__line
						a(href="#layout_popup_pages").scroll_down__icon

			.default_block#layout_popup_pages
				.container(data-aos="fade-up")
					.row
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span Казком Секьюритиз – один из ведущих  маркет-мейкеров
							.default_block__text
								p Инвесторы и эксперты рынка оценивают успех выпуска и размещения любой ценной бумаги не только через призму успеха первичного размещения, но также по активности обращения финансового инструмента на вторичном рынке

			.default_block.qtrader-slider
				.container
					.qtrader_slide(data-aos="fade-up")
							.qtrader_slide__content.popup_parallax
								.qtrader_slide__title
									p Ключевым критерием успешности вторичного обращения является адекватный уровень ликвидности:
								.qtrader_slide__text
									p Инвесторы должны иметь возможность свободно продать или купить бумагу на организованном рынке в любой момент времени и без ограничения объемов.
							.qtrader_slide__img
								img(src="/images/market-page-img.jpg", alt="")

					.row(data-aos="fade-up")
						.col-xs-12.col-md-8.col-md-offset-2
							.default_block__text
								p Функцию стабилизации и поддержания цены на финансовый инструмент, а также обеспечения ликвидности на вторичном рынке исполняет маркет-мейкер (ММ).

					a(href="/ru/market-making").statement(data-aos="fade-up")
						span Подробнее о Маркет-мейкерство

			.popup_pages__footer
				a(href="#").popup_pages__close						