extends template/template.jade

block content

	#layout_career.layout_default
		
		//block banner_career
		.full_banner.banner_career
				.breadcrumbs
					.container
						.breadcrumbs_inset
							a(href="#").breadcrumb_inset__link Главная
							a(href="#").breadcrumb_inset__link О компании
							span.navigation_page Карьера
				.row
					.col-xs-12.col-md-6.col-md-offset-3
						.full_banner__content.rellax(data-rellax-speed="2")
							.full_banner__content__title
								span Карьера
							.full_banner__content__text
								p Мы открыты для талантливых, энергичных, творческих и преданных делу людей, способных внести существенный вклад в развитие компании и финансовой отрасли
				.scroll_down.arrow
						.scroll_down__line
						a(href="#scroll_career").scroll_down__icon
		
		//block default
		.default_block#scroll_career
			.container
				.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Вы растете и развиваетесь вместе с Казком Секьюритиз
						.default_block__text
							p Работа в ведущем инвестиционном банке страны позволит вам открыть широкий спектр возможностей для профессионального роста и новых карьерных высот

		//block vacancy
		.vacancy(data-aos="fade-up")
			.container
				.row
					.col-xs-12
						.vacancy_title
							span Текущие вакансии
						.vacancy_content
							.vacancy_card
								.vacancy_card__title
									span.btn--arrow-right
									span Департамент информационных технологий
									span.vacancy_counter 3
								.vacancy_card__active
									.vacancy_item
										.vacancy_item__profession
											span Системный аналитик
										.vacancy_item__city
											span Алматы
									.vacancy_item
										.vacancy_item__profession
											span Ведущий Java Разработчик
										.vacancy_item__city
											span Алматы

									.vacancy_item
										.vacancy_item__profession
											span Ведущий программист
										.vacancy_item__city
											span Алматы
									
							.vacancy_card
								.vacancy_card__title
									span.btn--arrow-right
									span Департамент информационных технологий
									span.vacancy_counter 2
								.vacancy_card__active
									.vacancy_item
										.vacancy_item__profession
											span Системный аналитик
										.vacancy_item__city
											span Алматы
									.vacancy_item
										.vacancy_item__profession
											span Ведущий Java Разработчик
										.vacancy_item__city
											span Алматы

									.vacancy_item
										.vacancy_item__profession
											span Ведущий программист
										.vacancy_item__city
											span Алматы
							.vacancy_card
								.vacancy_card__title
									span.btn--arrow-right
									span Департамент информационных технологий
									span.vacancy_counter 6
								.vacancy_card__active
									.vacancy_item
										.vacancy_item__profession
											span Системный аналитик
										.vacancy_item__city
											span Алматы
									.vacancy_item
										.vacancy_item__profession
											span Ведущий Java Разработчик
										.vacancy_item__city
											span Алматы

									.vacancy_item
										.vacancy_item__profession
											span Ведущий программист
										.vacancy_item__city
											span Алматы

		//block vacancy_form
		.vacancy_form(data-aos="fade-up")
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1
						.vacancy_form__wrap.default_block
							.row
								.col-xs-12.col-md-8.col-md-offset-2
									.default_block__title
										span Хотите работать у нас?
									.default_block__text
										span Давайте познакомимся - заполните пожалуйста, форму ниже
									form(action="#" method="#")
										.flex-wrap
											input(type="text" placeholder="Имя" required)
											input(type="text" placeholder="Фамилия" required)
											input(type="text" placeholder="Отчество" required)
											input(type="tel" placeholder="Мобильный" required)
											input(type="email" placeholder="E-mail" required)
											input(type="text" placeholder="Ссылка на резюме" required)
											textarea(name="#" placeholder="Сопроводительное письмо" minlength="6" required)
										.flex-wrap.flex-center.input_file
											label(for="file") Прикрепить файл резюме
											span.btn--doc
											input(type="file" id="file")
										.flex-wrap.flex-center
											input(type="checkbox" id="checkbox" required)
											label(for="checkbox") Согласен на обработку персональных данных
										button.btn.btn--beige Отправить

		//block	specialists
		
		.default_block.specialists(data-aos="fade-up")
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1
						<hr/>
				.row
					.col-xs-12.col-md-6.col-md-offset-3
						.default_block__text
							span Если есть дополнительные вопросы, просьба обращаться к нашим сотрудникам
				.row
					.specialists_cards__wrap
							.specialists_cards__item
								.specialists_photo
									img(src="../images/manager2.jpg", alt="")
								.specialists_name
									span Дилара Абдрахманова
								.specialists_contact
									span info@kazks.kz <br/>
									span +7 (727) 244 65 05






