extends template/template.jade

block content

	#layout_contact.layout_default

		//block banner		
		.banner_service.banner
				.banner_service__card.contact
					.container
						.breadcrumbs
							.breadcrumbs_inset
								a(href="#").breadcrumb_inset__link Главная
								span.navigation_page Контакты						
					.banner_service__card__content.rellax(data-rellax-speed="2")
							span.banner_card__title Контакты								
				.scroll_down.arrow
						.scroll_down__line
						a(href="#layout_scroll").scroll_down__icon

		//default block#layout_scroll
		.default_block#layout_scroll
			.container
				.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span АО "Казкоммерц Секьюритиз"
						.default_block__text
							p дочерняя организация АО "Казкоммерцбанк"

		.contact-data
			.container
				.col-xs-12(data-aos="fade-up")
					.default_block__text
							.table-responsive
								table.default__table
									tr
										td Адрес
										td г. Алматы, ул.Фурманова 240 Г, БЦ «CDC ONE», 10-11 этаж.
									tr
										td Почтовый индекс
										td 050059

									tr
										td Департамент по работе с клиентами
										td 10 этаж
									tr
										td Телефон
										td +7 727 244-65-05

									tr
										td E-mail
										td info@kazks.kz
									tr
										td Время работы
										td 09:00-18:00, Пн-Пт


		//block statement
		.statement_accordion
			a(href="#statement" data-toggle="collapse").statement(data-aos="fade-up")
				.container
					span Наши реквизиты
			.statement_content#statement.collapse
				.container
						.default_block__text
							.table-responsive
								table.default__table
									tr
										td РНН
										td 600500052282
									tr
										td БИИН
										td 971040000210

									tr
										td Юридический адрес
										td 050059, г.Алматы, пр. Аль-Фараби, 34
									tr
										td ИИК
										td KZ849261802101924000

									tr
										td Банк
										td АО  "Казкоммерцбанк"
									tr
										td БИК
										td KZKOKZKX

									tr
										td Код
										td 15


		//block open_account
		.default_block.open_account.default_block__blue
			.container
				.row
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Напишите нам
						.default_block__text
							span Общение с клиентами имеет для нас особое значение, поскольку позволяет получить реальную оценку качества оказываемых услуг и сервисов
						a(href="#contact_page_popup").open_account__link.btn.btn--beige.popup-with-move-anim Написать	

		//block map
		.default_block.map
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Как нас найти
						.default_block__text
							#map																				