extends template/template.jade

block content

	#layout_corporate.layout_default
		
		//block banner_career
		.full_banner.banner_corporate
				.breadcrumbs
					.container
						.breadcrumbs_inset
							a(href="#").breadcrumb_inset__link Главная
							a(href="#").breadcrumb_inset__link О компании
							span.navigation_page Корпоративное управление
				.row
					.col-xs-12.col-md-6.col-md-offset-3
						.full_banner__content.rellax(data-rellax-speed="2")
							.full_banner__content__title
								span Корпоративное управление
							.full_banner__content__text
								p Применение лучшей международной практики корпоративного управления
				.scroll_down.arrow
						.scroll_down__line
						a(href="#scroll_corporate").scroll_down__icon

		//block corporate
		.default_block#scroll_corporate.corporate(data-aos="fade-up")
			.container
				.col-xs-12.col-md-8.col-md-offset-2
						.default_block__title
							span Лицензии
						.default_block__text
							p АО «Казкоммерц Секьюритиз» имеет следующие лицензии профессионального участника рынка ценных бумаг
				.corporate_license
					.row
						.col-xs-12.col-sm-6
							.corporate_license__item
								.corporate_license__img
									img(src="#{img}/license1.jpg", alt="")
								.corporate_license__text
									p Лицензия на осуществление деятельности по управлению инвестиционным портфелем без права привлечения добровольных пенсионных взносов
									span.corporate_license__number Номер 0403200439
									span.corporate_license__date Дата выдачи 24 июня 2014 года
						.col-xs-12.col-sm-6
							.corporate_license__item
								.corporate_license__img
									img(src="#{img}/license1.jpg", alt="")
								.corporate_license__text
									p Лицензия на занятие брокерской и дилерской деятельностью на рынке ценных бумаг с правом ведения счетов клиентов в качестве номинального держателя 
									span.corporate_license__number  Номер 0401201207
									span.corporate_license__date Дата выдачи 17 мая 2006 года

		//block corporate_report
		.default_block.corporate_report(data-aos="fade-up")
			.container
				.col-xs-12.col-md-8.col-md-offset-2
						.default_block__title
							span Отчетность
						.default_block__text
							p Максимальная открытость и прозрачность - один из ключевых столпов корпоративного управления
				
			.container
				.swiper-container.corporate_report__years
					.swiper-wrapper
						.swiper-slide
							.report__card
								span.year 2016
								span.dot
						.swiper-slide
							.report__card
								span.year 2015
								span.dot
						.swiper-slide
							.report__card
								span.year 2014
								span.dot
					.swiper_button__wrap
						.swiper-button-prev.btn--arrow-left
						.swiper-button-next.btn--arrow-right
				.swiper-container.corporate_report__content
					.swiper-wrapper
						.swiper-slide
							.report__card
									.col-xs-12.col-sm-6.right-border
										.report__card__item
											span.report__card__item__title Бухгалтерский баланс I квартал
											a(href="#").report__card__item__download Скачать
												span.btn--doc
										.report__card__item
											span.report__card__item__title Отчет о прибылях и убытках I квартал
											a(href="#").report__card__item__download Скачать
												span.btn--doc
										.report__card__item
											span.report__card__item__title Бухгалтерский баланс и отчет о прибылях и убытках II квартал
											a(href="#").report__card__item__download Скачать
												span.btn--doc
									.col-xs-12.col-sm-6
										.report__card__item
											span.report__card__item__title Бухгалтерский баланс и отчет о прибылях и убытках III квартал
											a(href="#").report__card__item__download Скачать
												span.btn--doc
										.report__card__item
											span.report__card__item__title Бухгалтерский баланс и отчет о прибылях и убытках IV квартал
											a(href="#").report__card__item__download Скачать
												span.btn--doc
						.swiper-slide
							.report__card
									.col-xs-12.col-sm-6.right-border
										.report__card__item
											span.report__card__item__title Бухгалтерский баланс I квартал
											a(href="#").report__card__item__download Скачать
												span.btn--doc
										
									.col-xs-12.col-sm-6
										.report__card__item
											span.report__card__item__title Бухгалтерский баланс и отчет о прибылях и убытках III квартал
											a(href="#").report__card__item__download Скачать
												span.btn--doc

						.swiper-slide
							.report__card
									.col-xs-12.col-sm-6.right-border
										.report__card__item
											span.report__card__item__title Бухгалтерский баланс I квартал
											a(href="#").report__card__item__download Скачать
												span.btn--doc
										.report__card__item
											span.report__card__item__title Отчет о прибылях и убытках I квартал
											a(href="#").report__card__item__download Скачать
												span.btn--doc
										
									.col-xs-12.col-sm-6
										.report__card__item
											span.report__card__item__title Бухгалтерский баланс и отчет о прибылях и убытках III квартал
											a(href="#").report__card__item__download Скачать
												span.btn--doc


		//block corporate_news
		.default_block.corporate_news(data-aos="fade-up")
			.container
				.col-xs-12.col-md-8.col-md-offset-2
						.default_block__title
							span Корпоративные новости
						.default_block__text
							p Будьте в курсе наших последних ключевых событий и решений
				.clearfix
				.corporate_news__content

								.corporate_news__card
									.corporate_news__card__title
										a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
									.corporate_news__card__type
										a(href="#") Обзор рынка
									.corporate_news__card__text
										p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
									.corporate_news__card__date
										span 06.02.17

								.corporate_news__card
									.corporate_news__card__title
										a(href="#") Обзор банковского сектора Казахстана
									.corporate_news__card__type
										a(href="#") Макроэкономика
									.corporate_news__card__text
										p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
									.corporate_news__card__date
										span 06.02.17

								.corporate_news__card
									.corporate_news__card__title
										a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
									.corporate_news__card__type
										a(href="#") Инвестиционные идеи
									.corporate_news__card__text
										p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
									.corporate_news__card__date
										span 06.02.17
							
						
								.corporate_news__card
									.corporate_news__card__title
										a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
									.corporate_news__card__type
										a(href="#") Обзор рынка
									.corporate_news__card__text
										p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
									.corporate_news__card__date
										span 06.02.17

								.corporate_news__card
									.corporate_news__card__title
										a(href="#") Обзор банковского сектора Казахстана
									.corporate_news__card__type
										a(href="#") Макроэкономика
									.corporate_news__card__text
										p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
									.corporate_news__card__date
										span 06.02.17

								.corporate_news__card
									.corporate_news__card__title
										a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
									.corporate_news__card__type
										a(href="#") Инвестиционные идеи
									.corporate_news__card__text
										p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
									.corporate_news__card__date
										span 06.02.17
				.show_more
						a(href="#").show_more__link Показать все
							.show_more__icon