extends template/template.jade

block content

	#layout_dealings.layout_default
		
		//block banner_career
		.full_banner.banner_dealings
				.breadcrumbs
					.container
						.breadcrumbs_inset
							a(href="#").breadcrumb_inset__link Главная
							a(href="#").breadcrumb_inset__link О компании
							span.navigation_page Сделки
				.row
					.col-xs-12.col-md-6.col-md-offset-3
						.full_banner__content.rellax(data-rellax-speed="2")
							.full_banner__content__title
								span Наши сделки
							.full_banner__content__text
								p Эффективные решения для частного бизнеса и компаний с государственным участием на рынках долевого и долгового капитала
				.scroll_down.arrow
						.scroll_down__line
						a(href="#scroll_dealings").scroll_down__icon
		
		//block dealings
		.dealings.default_block#scroll_dealings(data-aos="fade-up")
			.container
				.dealings_top
					.default_block__title
						span Наши сделки - знак высокого доверия
					.default_block__text
						span Избранные примеры работ
				.default_content
					.row
						.col-xs-6.col-sm-6.col-md-3.col-tiny-12
							.dealings_card
								.dealings_card__date
										span 2017
								.dealings_card__logo
										img(src="#{icons}/bank-logo.png", alt="")
								.dealings_card__text
										span АО «Банк развития Казастана»
										span.dealings_domain Квази-государственный сектор
										span.dealings_summ 37 100 000 000 т
										span.dealings_years 15-летние облигации
										span.dealings_describe Финансовый консультант и андеррайтер

						.col-xs-6.col-sm-6.col-md-3.col-tiny-12
							.dealings_card
								.dealings_card__date
										span 2017
								.dealings_card__logo
										img(src="#{icons}/bank-logo.png", alt="")
								.dealings_card__text
										span АО «Банк развития Казастана»
										span.dealings_domain Квази-государственный сектор
										span.dealings_summ 37 100 000 000 т
										span.dealings_years 15-летние облигации
										span.dealings_describe Финансовый консультант и андеррайтер

						.col-xs-6.col-sm-6.col-md-3.col-tiny-12
							.dealings_card
								.dealings_card__date
										span 2016
								.dealings_card__logo
										img(src="#{icons}/kazagro-logo.png", alt="")
								.dealings_card__text
										span АО «НК» КазАГРО»
										span.dealings_domain Сельское хозяйство
										span.dealings_summ 37 100 000 000 т
										span.dealings_years 15-летние облигации
										span.dealings_describe Финансовый консультант и андеррайтер

						.col-xs-6.col-sm-6.col-md-3.col-tiny-12
							.dealings_card
								.dealings_card__date
										span 2016
								.dealings_card__logo
										img(src="#{icons}/istkomtrans.png", alt="")
								.dealings_card__text
										span АО «Исткомтранс»
										span.dealings_domain Грузовые перевозки
										span.dealings_summ 37 100 000 000 т
										span.dealings_years 15-летние облигации
										span.dealings_describe Финансовый консультант и андеррайтер
					.row
						.col-xs-6.col-sm-6.col-md-3.col-tiny-12
							.dealings_card
								.dealings_card__date
										span 2015
								.dealings_card__logo
										img(src="#{icons}/istkomtrans.png", alt="")
								.dealings_card__text
										span АО «ФНБ «Самрук - Казына»
										span.dealings_domain Услуги по транспортировке нефти
										span.dealings_summ 37 100 000 000 т
										span.dealings_years 15-летние облигации
										span.dealings_describe Финансовый консультант и андеррайтер

						.col-xs-6.col-sm-6.col-md-3.col-tiny-12
							.dealings_card
								.dealings_card__date
										span 2015
								.dealings_card__logo
										img(src="#{icons}/emblem.png", alt="")
								.dealings_card__text
										span Министерство финансов РК
										span.dealings_domain Государственные финансы
										span.dealings_summ 37 100 000 000 т
										span.dealings_years 15-летние облигации
										span.dealings_describe Финансовый консультант и андеррайтер

						.col-xs-6.col-sm-6.col-md-3.col-tiny-12
							.dealings_card
								.dealings_card__date
										span 2016
								.dealings_card__logo
										img(src="#{icons}/telecom.png", alt="")
								.dealings_card__text
										span АО «Казахтелеком»
										span.dealings_domain Телекоммуникационный сектор
										span.dealings_summ 37 100 000 000 т
										span.dealings_years 15-летние облигации
										span.dealings_describe Финансовый консультант и андеррайтер

						.col-xs-6.col-sm-6.col-md-3.col-tiny-12
							.dealings_card
								.dealings_card__date
										span 2016
								.dealings_card__logo
										img(src="#{icons}/kazmunaygaz.png", alt="")
								.dealings_card__text
										span АО «НК «КазМунайГаз»
										span.dealings_domain Нефтегазовая отрасль
										span.dealings_summ 37 100 000 000 т
										span.dealings_years 15-летние облигации
										span.dealings_describe Финансовый консультант и андеррайтер

					.row
						.col-xs-6.col-sm-6.col-md-3.col-tiny-12
							.dealings_card
								.dealings_card__date
										span 2015
								.dealings_card__logo
										img(src="#{icons}/istkomtrans.png", alt="")
								.dealings_card__text
										span АО «ФНБ «Самрук - Казына»
										span.dealings_domain Услуги по транспортировке нефти
										span.dealings_summ 37 100 000 000 т
										span.dealings_years 15-летние облигации
										span.dealings_describe Финансовый консультант и андеррайтер

						.col-xs-6.col-sm-6.col-md-3.col-tiny-12
							.dealings_card
								.dealings_card__date
										span 2015
								.dealings_card__logo
										img(src="#{icons}/vtb-logo.png", alt="")
								.dealings_card__text
										span ДО АО «ВТБ Банк» (Казахстан)
										span.dealings_domain Государственные финансы
										span.dealings_summ 37 100 000 000 т
										span.dealings_years 15-летние облигации
										span.dealings_describe Финансовый консультант и андеррайтер

						.col-xs-6.col-sm-6.col-md-3.col-tiny-12
							.dealings_card
								.dealings_card__date
										span 2016
								.dealings_card__logo
										img(src="#{icons}/ktzh-logo.png", alt="")
								.dealings_card__text
										span Kazakhstan Temir Zholy finance B.V.
										span.dealings_domain Железнодорожные перевозки
										span.dealings_summ 37 100 000 000 т
										span.dealings_years 15-летние облигации
										span.dealings_describe Финансовый консультант и андеррайтер

						.col-xs-6.col-sm-6.col-md-3.col-tiny-12
							.dealings_card
								.dealings_card__date
										span 2016
								.dealings_card__logo
										img(src="#{icons}/kaztransoil.png", alt="")
								.dealings_card__text
										span АО «КазТрансОйл»
										span.dealings_domain Услуги по транспортировке нефти
										span.dealings_summ 37 100 000 000 т
										span.dealings_years 15-летние облигации
										span.dealings_describe Финансовый консультант и андеррайтер