extends template/template.jade

block content

	#layout_home.layout_default
		//block slider
		.slider
			.container
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.slider_card(style="background: url('#{img}/slider1.jpg') center center no-repeat; background-size:cover;")
								.slider_card__content__wrap.rellax(data-rellax-speed="2")
									.slider_card__content
										.text-wrap
											.slider_card__content__title
												span.slider_card__content__title__beige 
													span.slider_card__content__title__number 20
													|лет
												|на вершине успеха
										.text-wrap
											span.slider_card__content__tagline Открытый мир инвестиций
								.square_back.rellax(data-rellax-speed="1.5")
						.swiper-slide
							.slider_card(style="background: url('#{img}/slider2.jpg') center center no-repeat; background-size:cover;")
								.slider_card__content__wrap.rellax(data-rellax-speed="2")
									.slider_card__content
										.text-wrap
											.slider_card__content__title
												span.slider_card__content__title__beige Лучший
												|инвестиционный банк
										.text-wrap
											span.slider_card__content__tagline Наши последние награды
								.square_back.rellax(data-rellax-speed="1.5")
						.swiper-slide
							.slider_card(style="background: url('#{img}/slider3.jpg') center center no-repeat; background-size:cover;")
								.slider_card__content__wrap.rellax(data-rellax-speed="2")
									.slider_card__content
										.text-wrap
											.slider_card__content__title
												span.slider_card__content__title__beige QTrader
										.text-wrap
											span.slider_card__content__tagline Удобный процесс инвестирования
								.square_back.rellax(data-rellax-speed="1.5")
					.swiper-pagination

					.swiper_button__wrap
						.swiper-button-prev
						.swiper-button-next
				.scroll_down.arrow
						.scroll_down__line
						a(href="#scroll_index").scroll_down__icon

						

		//block services
		.services.default_block#scroll_index
			.services_top
				.container
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Предоставляем лучшие финансовые решения для роста сегодня и уcпеха в будущем
						.default_block__text
							p Мы заключаем, сопровождаем и структурируем сделки любой сложности в интересах наших клиентов
			.services_card
				.col-md-4.no-padding
					a(href="#").services_card__item.brokerage_service
						.services_card__item__content
							.services_card__item__icon
								include ../images/icons/service1.svg
							.services_card__item__text
								span.services_card__item__title Брокерское обслуживание
								span.services_card__item__describe Инвестиционные решения на любой вкус
							.scroll_down
								.scroll_down__line
								.scroll_down__icon

				.col-md-4.no-padding
					a(href="#").services_card__item.management_service
						.services_card__item__content
							.services_card__item__icon
								include ../images/icons/service2.svg
							.services_card__item__text
								span.services_card__item__title Управление активами
								span.services_card__item__describe Экспертное управление инвестиционным портфелем
								.scroll_down
									.scroll_down__line
									.scroll_down__icon

				.col-md-4.no-padding
					a(href="#").services_card__item.investment_banking
						.services_card__item__content
							.services_card__item__icon
								include ../images/icons/service3.svg
							.services_card__item__text
								span.services_card__item__title Инвестиционный банкинг
								span.services_card__item__describe Качественные и эффективные решения для бизнесса
								.scroll_down
									.scroll_down__line
									.scroll_down__icon
				.clearfix

		//block qtrader
		.default_block.qtrader(data-aos="fade-up")
			.container
				.col-xs-12.col-md-8.col-md-offset-2
						.default_block__title
							span Наши партнерские отношения  строятся вокруг ваших  потребностей
						.default_block__text
							p Многолетний опыт и финансовая экспертиза дают нам все возможноcти для того, чтобы помочь в достижении ваших целей
				.row
					.col-xs-12.col-md-10.col-md-offset-1
							.qtrader__content
								.qtrader__content__img.rellax(data-rellax-speed="1.4")
									img(src="#{img}/block_qtrader.jpg", alt="")
								.qtrader__content__card.rellax(data-rellax-speed="1.8")
									.qtrader__content__title
										span Торговая платформа
											span.qtrader__content__logo Trader
									.qtrader__content__text
										p Оперативность, безопасность и простота инвестирования
										a(href="#").link_more.default_link Подробнее
										a(href="#").btn.btn--default Скачать



		//block services
		.default_block.tab_block
			.container
				.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Мы всегда держим руку на пульсе и осуществляем постоянный мониторинг рынка
						.default_block__text
							p Наши клиентами первыми узнают обо всех важных событиях и получают оперативную аналитику
				.clearfix
				.default_content(data-aos="fade-up")
					ul.tab_block__nav
						li.col-xs-4.col-sm-4.no-padding
								a(href="#analytics").tab_block__title
									.tab_block__title__icon
										include ../images/icons/analytics.svg
									.tab_block__title__link
										span Аналитика
						li.col-xs-4.col-sm-4.no-padding
								a(href="#news").tab_block__title
									.tab_block__title__icon.news
										
										//- include ../images/icons/newspaper-folded.svg
									.tab_block__title__link
										span Новости
						li.col-xs-4.col-sm-4.no-padding
								a(href="#massmedia").tab_block__title
									.tab_block__title__icon
										include ../images/icons/masmedia.svg
									.tab_block__title__link
										span Мы в СМИ
						.clearfix

					.tab_block__content__analytics#analytics

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
									.tab_block__content__card__type
										a(href="#") Обзор рынка
									.tab_block__content__card__text
										p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
									.tab_block__content__card__date
										span 06.02.17

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Обзор банковского сектора Казахстана
									.tab_block__content__card__type
										a(href="#") Макроэкономика
									.tab_block__content__card__text
										p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
									.tab_block__content__card__date
										span 06.02.17

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
									.tab_block__content__card__type
										a(href="#") Инвестиционные идеи
									.tab_block__content__card__text
										p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
									.tab_block__content__card__date
										span 06.02.17
							
						
								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
									.tab_block__content__card__type
										a(href="#") Обзор рынка
									.tab_block__content__card__text
										p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
									.tab_block__content__card__date
										span 06.02.17

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Обзор банковского сектора Казахстана
									.tab_block__content__card__type
										a(href="#") Макроэкономика
									.tab_block__content__card__text
										p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
									.tab_block__content__card__date
										span 06.02.17

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
									.tab_block__content__card__type
										a(href="#") Инвестиционные идеи
									.tab_block__content__card__text
										p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
									.tab_block__content__card__date
										span 06.02.17

								.show_more
									a(href="#").show_more__link Показать все
										.show_more__icon										
					.tab_block__content__news#news

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Обзор банковского сектора Казахстана
									.tab_block__content__card__type
										a(href="#") Макроэкономика
									.tab_block__content__card__text
										p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
									.tab_block__content__card__date
										span 06.02.17

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
									.tab_block__content__card__type
										a(href="#") Обзор рынка
									.tab_block__content__card__text
										p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
									.tab_block__content__card__date
										span 06.02.17

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
									.tab_block__content__card__type
										a(href="#") Инвестиционные идеи
									.tab_block__content__card__text
										p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
									.tab_block__content__card__date
										span 06.02.17

							
								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
									.tab_block__content__card__type
										a(href="#") Обзор рынка
									.tab_block__content__card__text
										p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
									.tab_block__content__card__date
										span 06.02.17

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
									.tab_block__content__card__type
										a(href="#") Инвестиционные идеи
									.tab_block__content__card__text
										p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
									.tab_block__content__card__date
										span 06.02.17

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Обзор банковского сектора Казахстана
									.tab_block__content__card__type
										a(href="#") Макроэкономика
									.tab_block__content__card__text
										p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
									.tab_block__content__card__date
										span 06.02.17

								.show_more
									a(href="#").show_more__link Показать все
										.show_more__icon								

					.tab_block__content__massmedia#massmedia
								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
									.tab_block__content__card__type
										a(href="#") Обзор рынка
									.tab_block__content__card__text
										p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
									.tab_block__content__card__date
										span 06.02.17

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Обзор банковского сектора Казахстана
									.tab_block__content__card__type
										a(href="#") Макроэкономика
									.tab_block__content__card__text
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, distinctio.
									.tab_block__content__card__date
										span 18.02.17

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
									.tab_block__content__card__type
										a(href="#") Инвестиционные идеи
									.tab_block__content__card__text
										p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
									.tab_block__content__card__date
										span 06.03.17
							
								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
									.tab_block__content__card__type
										a(href="#") Обзор рынка
									.tab_block__content__card__text
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit enim aut ut ipsam molestias accusantium?
									.tab_block__content__card__date
										span 12.02.17

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Обзор банковского сектора Казахстана
									.tab_block__content__card__type
										a(href="#") Макроэкономика
									.tab_block__content__card__text
										p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
									.tab_block__content__card__date
										span 06.02.17

								.tab_block__content__card
									.tab_block__content__card__title
										a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
									.tab_block__content__card__type
										a(href="#") Инвестиционные идеи
									.tab_block__content__card__text
										p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
									.tab_block__content__card__date
										span 06.02.17

								.show_more
									a(href="#").show_more__link Показать все
										.show_more__icon

		//block subscribe_analytics
		.subscribe_analytics.default_block
			.container
				.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
					.default_block__title
						span Вы можете подписаться на аналитику
					.default_content
						form(action="#" name="subscribe_analytics__form").subscribe_analytics__form
								input(type="email" placeholder="Введите свой E-mail")
								button.btn--arrow Подписаться

		//block rewards
		.rewards.default_block
			.container
				.rewards_top(data-aos="fade-up")
					.default_block__title
						span Награды
					.default_block__text
						span Наши награды - знак высокого признания 
				.default_content
						.owl-carousel
								.swiper-slide
									.rewards_card(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
										.reward_card__date
											span 2017
										.reward_card__logo
											img(src="#{img}/rewards-logo1.png", alt="")
										.reward_card__text
											p Лучший инвестиционный банк Казахстана 2015 года

								.swiper-slide
									.rewards_card(data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease")
										.reward_card__date
											span 2016
										.reward_card__logo
											img(src="#{img}/rewards-logo2.png", alt="")
										.reward_card__text
											p Лучший инвестиционный банк Казахстана 2016 года

								.swiper-slide
									.rewards_card(data-aos="fade-up" data-aos-delay="300" data-aos-easing="ease")
										.reward_card__date
											span 2015
										.reward_card__logo
											img(src="#{img}/rewards-logo2.png", alt="")
										.reward_card__text
											p Лучшая аналитика по финансовым рынкам Казахстана

								.swiper-slide
									.rewards_card(data-aos="fade-up" data-aos-delay="400" data-aos-easing="ease")
										.reward_card__date
											span 2014
										.reward_card__logo
											img(src="#{img}/rewards-logo3.png", alt="")
										.reward_card__text
											p Лучший суверенный выпуск облигации в регионе Европы, ближнего Востока и Азии

								.swiper-slide
									.rewards_card(data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease")
										.reward_card__date
											span 2017
										.reward_card__logo
											img(src="#{img}/rewards-logo1.png", alt="")
										.reward_card__text
											p Лучший инвестиционный банк Казахстана 2015 года

								.swiper-slide
									.rewards_card(data-aos="fade-up" data-aos-delay="600" data-aos-easing="ease")
										.reward_card__date
											span 2016
										.reward_card__logo
											img(src="#{img}/rewards-logo2.png", alt="")
										.reward_card__text
											p Лучший инвестиционный банк Казахстана 2016
