extends template/template.jade

block content

	#layout_investment.layout_default

		//block banner		
		.banner_service.banner
				.banner_service__card.investment
					.container
						.breadcrumbs
								.breadcrumbs_inset
									a(href="#").breadcrumb_inset__link Главная
									a(href="#").breadcrumb_inset__link Услуги
									span.navigation_page Инвестиционный банкинг					
						.banner_service__card__content.rellax(data-rellax-speed="2")
							.banner_service__card__icon
								include ../images/icons/service3.svg
							.banner_service__card__text
								span.banner_card__card__title Инвестиционный банкинг
								.banner_card__card__describe
									p Эффективные решения для вашего бизнеса									
									.scroll_down.arrow
										.scroll_down__line
										a(href="#scroll_investment").scroll_down__icon

		//default block
		.default_block#scroll_investment
			.container
				.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Сегодня мы занимаем лидирующую позицию на долговом рынке капитала среди казахстанских андеррайтеров
						.default_block__text
							p Благодаря обширному и успешному многолетнему опыту работы в сочетании с профессионализмом и клиентоориентированным подходом, Казком Секьюритиз имеет репутацию инвестиционного банка, способного предложить наиболее эффективные решения в реализации поставленных клиентами задач и постоянно стремится искать новые точки роста в развитии инвестиционного банкинга в Казахстане.

		//block services
		.services
			.services_top
				.container
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Корпоративное финансирование
						.default_block__text
							p Мы подберем наилучшие инструменты фондирования на локальном и зарубежных рынках. Богатый опыт и тесное сотрудничество позволят обеспечить оптимальную структуру финансирования и качественную инвесторскую базу
			.investment_corporate_card
				.row
					.col-md-4.no-padding
						a(href="#bonds_card__item" data-modal-class="custom_popup_wrap").investment_corporate_card__item.bonds_card__item.popup-with-zoom-anim
							.investment_corporate_card__item__content
								
								.investment_corporate_card__item__title
									span Выпуск и размещение облигаций
								.scroll_down
									.scroll_down__line
									.scroll_down__icon

					.col-md-4.no-padding
						a(href="#ipo_card__item" data-modal-class="custom_popup_wrap").investment_corporate_card__item.ipo_card__item.popup-with-zoom-anim
							.investment_corporate_card__item__content
								
								.investment_corporate_card__item__title
									span Проведение <br/> IPO
									.scroll_down
										.scroll_down__line
										.scroll_down__icon

					.col-md-4.no-padding
						a(href="#capital_card__item" data-modal-class="custom_popup_wrap").investment_corporate_card__item.capital_card__item.popup-with-zoom-anim
							.investment_corporate_card__item__content
								
								.investment_corporate_card__item__title
									span Привлечение  акционерного  капитала
									.scroll_down
										.scroll_down__line
										.scroll_down__icon

		//default block beige
		.container(data-aos="fade-up")
			.default_block__beige
				.row		
					.col-xs-12.col-md-8.col-md-offset-2
						.default_block__title__blue.uppercase
							span Откройте новые возможности  для вашего бизнеса

		//block services
		.services
			.services_top
				.container
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Финансовый консалтинг
						.default_block__text
							p Мы создаем условия для роста вашего бизнеса и повышения его статусности, предлагаем решения по оптимизации, реорганизации и оздоровлению предприятий, осуществляем привлечение зарубежных прямых и портфельных инвестиций в Казахстан.
			.investment_corporate_card
				.row
					.col-md-4.no-padding
						a(href="#merger_card__item" data-modal-class="custom_popup_wrap").investment_corporate_card__item.merger_card__item.popup-with-zoom-anim
							.investment_corporate_card__item__content
								
								.investment_corporate_card__item__title
									span Слияния и поглощения (M&A)
								.scroll_down
									.scroll_down__line
									.scroll_down__icon

					.col-md-4.no-padding
						a(href="#rate_card__item" data-modal-class="custom_popup_wrap").investment_corporate_card__item.popup-with-zoom-anim.rate_card__item
							.investment_corporate_card__item__content
								
								.investment_corporate_card__item__title
									span Рейтинговое консультирование
									.scroll_down
										.scroll_down__line
										.scroll_down__icon

					.col-md-4.no-padding
						a(href="#foreign_card__item" data-modal-class="custom_popup_wrap").investment_corporate_card__item.foreign_card__item.popup-with-zoom-anim
							.investment_corporate_card__item__content
								
								.investment_corporate_card__item__title
									span Работа с иностранными  инвесторами
									.scroll_down
										.scroll_down__line
										.scroll_down__icon

		//default block beige
		.container(data-aos="fade-up")
			.default_block__beige
				.row		
					.col-xs-12.col-md-10.col-md-offset-1
						.default_block__title__blue
							span Качественные и эффективные решения по привлечению фондирования, слияниям и поглощениям, структурированию и оптимизации бизнеса

			//block dealings
			.dealings.default_block(data-aos="fade-up")
				.container
					.row		
						.col-xs-12.col-md-8.col-md-offset-2
							.dealings_top
								.default_block__title
									span Наши сделки - знак высокого доверия
								.default_block__text
									p Казком Секьюритиз имеет крепкие парнерские отношения с крупнейшими национальными компаниями и холдингами, ведущими банками, ведущими представителями частного бизнеса. Высокое доверие нам оказали Министерство финансов РК и ФНБ "Самрук-Казына"
					.default_content
						.row
							.col-xs-6.col-sm-6.col-md-3.col-tiny-12
								.dealings_card
									.dealings_card__date
											span 2017
									.dealings_card__logo
											img(src="#{icons}/bank-logo.png", alt="")
									.dealings_card__text
											span АО «Банк развития Казастана»
											span.dealings_domain Квази-государственный сектор
											span.dealings_summ 37 100 000 000 т
											span.dealings_years 15-летние облигации
											span.dealings_describe Финансовый консультант и андеррайтер

							.col-xs-6.col-sm-6.col-md-3.col-tiny-12
								.dealings_card
									.dealings_card__date
											span 2017
									.dealings_card__logo
											img(src="#{icons}/bank-logo.png", alt="")
									.dealings_card__text
											span АО «Банк развития Казастана»
											span.dealings_domain Квази-государственный сектор
											span.dealings_summ 37 100 000 000 т
											span.dealings_years 15-летние облигации
											span.dealings_describe Финансовый консультант и андеррайтер

							.col-xs-6.col-sm-6.col-md-3.col-tiny-12
								.dealings_card
									.dealings_card__date
											span 2016
									.dealings_card__logo
											img(src="#{icons}/kazagro-logo.png", alt="")
									.dealings_card__text
											span АО «НК» КазАГРО»
											span.dealings_domain Сельское хозяйство
											span.dealings_summ 37 100 000 000 т
											span.dealings_years 15-летние облигации
											span.dealings_describe Финансовый консультант и андеррайтер

							.col-xs-6.col-sm-6.col-md-3.col-tiny-12
								.dealings_card
									.dealings_card__date
											span 2016
									.dealings_card__logo
											img(src="#{icons}/istkomtrans.png", alt="")
									.dealings_card__text
											span АО «Исткомтранс»
											span.dealings_domain Грузовые перевозки
											span.dealings_summ 37 100 000 000 т
											span.dealings_years 15-летние облигации
											span.dealings_describe Финансовый консультант и андеррайтер
						.row
							.col-xs-6.col-sm-6.col-md-3.col-tiny-12
								.dealings_card
									.dealings_card__date
											span 2015
									.dealings_card__logo
											img(src="#{icons}/istkomtrans.png", alt="")
									.dealings_card__text
											span АО «ФНБ «Самрук - Казына»
											span.dealings_domain Услуги по транспортировке нефти
											span.dealings_summ 37 100 000 000 т
											span.dealings_years 15-летние облигации
											span.dealings_describe Финансовый консультант и андеррайтер

							.col-xs-6.col-sm-6.col-md-3.col-tiny-12
								.dealings_card
									.dealings_card__date
											span 2015
									.dealings_card__logo
											img(src="#{icons}/emblem.png", alt="")
									.dealings_card__text
											span Министерство финансов РК
											span.dealings_domain Государственные финансы
											span.dealings_summ 37 100 000 000 т
											span.dealings_years 15-летние облигации
											span.dealings_describe Финансовый консультант и андеррайтер

							.col-xs-6.col-sm-6.col-md-3.col-tiny-12
								.dealings_card
									.dealings_card__date
											span 2016
									.dealings_card__logo
											img(src="#{icons}/telecom.png", alt="")
									.dealings_card__text
											span АО «Казахтелеком»
											span.dealings_domain Телекоммуникационный сектор
											span.dealings_summ 37 100 000 000 т
											span.dealings_years 15-летние облигации
											span.dealings_describe Финансовый консультант и андеррайтер

							.col-xs-6.col-sm-6.col-md-3.col-tiny-12
								.dealings_card
									.dealings_card__date
											span 2016
									.dealings_card__logo
											img(src="#{icons}/kazmunaygaz.png", alt="")
									.dealings_card__text
											span АО «НК «КазМунайГаз»
											span.dealings_domain Нефтегазовая отрасль
											span.dealings_summ 37 100 000 000 т
											span.dealings_years 15-летние облигации
											span.dealings_describe Финансовый консультант и андеррайтер

						.row
							.col-xs-6.col-sm-6.col-md-3.col-tiny-12
								.dealings_card
									.dealings_card__date
											span 2015
									.dealings_card__logo
											img(src="#{icons}/istkomtrans.png", alt="")
									.dealings_card__text
											span АО «ФНБ «Самрук - Казына»
											span.dealings_domain Услуги по транспортировке нефти
											span.dealings_summ 37 100 000 000 т
											span.dealings_years 15-летние облигации
											span.dealings_describe Финансовый консультант и андеррайтер

							.col-xs-6.col-sm-6.col-md-3.col-tiny-12
								.dealings_card
									.dealings_card__date
											span 2015
									.dealings_card__logo
											img(src="#{icons}/vtb-logo.png", alt="")
									.dealings_card__text
											span ДО АО «ВТБ Банк» (Казахстан)
											span.dealings_domain Государственные финансы
											span.dealings_summ 37 100 000 000 т
											span.dealings_years 15-летние облигации
											span.dealings_describe Финансовый консультант и андеррайтер

							.col-xs-6.col-sm-6.col-md-3.col-tiny-12
								.dealings_card
									.dealings_card__date
											span 2016
									.dealings_card__logo
											img(src="#{icons}/ktzh-logo.png", alt="")
									.dealings_card__text
											span Kazakhstan Temir Zholy finance B.V.
											span.dealings_domain Железнодорожные перевозки
											span.dealings_summ 37 100 000 000 т
											span.dealings_years 15-летние облигации
											span.dealings_describe Финансовый консультант и андеррайтер

							.col-xs-6.col-sm-6.col-md-3.col-tiny-12
								.dealings_card
									.dealings_card__date
											span 2016
									.dealings_card__logo
											img(src="#{icons}/kaztransoil.png", alt="")
									.dealings_card__text
											span АО «КазТрансОйл»
											span.dealings_domain Услуги по транспортировке нефти
											span.dealings_summ 37 100 000 000 т
											span.dealings_years 15-летние облигации
											span.dealings_describe Финансовый консультант и андеррайтер

			//block	specialists
			
			.default_block.specialists
				.container
					.row
						.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
							.default_block__title
								span Лучшие специалисты – гарант успеха
							.default_block__text
								p Более подробную информацию Вы можете получить у наших специалистов
					.row
						.specialists_cards__wrap
								.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person9.jpg", alt="")
									.specialists_name
										span Айнура Джумадилова 
									.specialists_contact
										span AJumadilova@kazks.kz <br/> вн. 58051

								.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person8.jpg", alt="")
									.specialists_name
										span Асель Акбарова
									.specialists_contact
										span AAkbarova@kkb.kz <br/> вн. 58025
		
		//block popup_pages
		#bonds_card__item.popup_pages.zoom-anim-dialog.mfp-hide
			.popup_pages__banner.bonds_card__item
				a(href="#").popup_pages__close				
				.popup_pages____title
					span Выпуск и размещение облигаций
				.scroll_down.arrow
						.scroll_down__line
						a(href="#layout_popup_pages").scroll_down__icon
			.default_block#layout_popup_pages
				.container
					.row
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span Казком Секьюритиз предлагает воспользоваться альтернативным источником корпоративного финансирования — размещением облигаций
							.default_block__text
								p Размещение облигаций на рынке ценных бумаг — это один из наиболее популярных и эффективных способов получения компанией дополнительные финансовых средств. 
								p Любой динамичной компании для успешного развития бизнеса необходимо привлечение дополнительного финансирования для расширения производства, закупа оборудования, пополнения оборотных средств и многих других целей. Кредиты банков при этом не всегда доступны, а зачастую и дороги.

			//block about_qtrader
			.default_block.about_qtrader
				.container(data-aos="fade-up")
					.row
						.col-xs-12.col-md-6.col-md-offset-3
							.default_block__title
								span Выпуск облигаций является формой долгового финансирования и имеет ряд преимуществ перед банковскими займами:
							
					.row
						ul.about_qtrader__list
							li Эмитент сам определяет периодичность выплаты вознаграждения по облигационному займу
							li Погашение основного долга в конце срока обращения облигаций
							li Срок обращения определяется эмитентом самостоятельно с учетом рекомендаций Казком Секьюритиз в качестве финансового консультанта
							li Возможность выпуска облигаций без обеспечения/залога
							li Упрощенная процедура выпуска облигаций для эмитентов, чьи ценные бумаги уже включены в официальный список фондовой биржи			
			
			.default_block.qtrader-slider
				.container
					.qtrader_slide(data-aos="fade-up")
							.qtrader_slide__content.popup_parallax(data-rellax-speed="1.5")
								.qtrader_slide__title
									span Компании, осуществившие выпуски облигаций с Казком Секьюритиз, становятся узнаваемыми среди инвесторов
								.qtrader_slide__text
									p А поскольку бумагам присваивается рейтинг, это обеспечивает удешевление дальнейших выпусков облигаций через более низкую процентную ставку.
							.qtrader_slide__img
								img(src="/images/qtrader-slider-1.jpg", alt="")

			//block	specialists
			
			.default_block.specialists
				.container(data-aos="fade-up")
					.row
						.col-xs-12.col-md-8.col-md-offset-2
							.default_block__text
								p Более подробную информацию Вы можете получить у наших специалистов
					.row
						.specialists_cards__wrap
								.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person9.jpg", alt="")
									.specialists_name
										span Айнура Джумадилова 
									.specialists_contact
										span AJumadilova@kazks.kz <br/> вн. 58051

								.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person8.jpg", alt="")
									.specialists_name
										span Асель Акбарова
									.specialists_contact
										span AAkbarova@kkb.kz <br/> вн. 58025
			.popup_pages__footer
				a(href="#").popup_pages__close


		//block popup_pages
		#ipo_card__item.popup_pages.zoom-anim-dialog.mfp-hide
			.popup_pages__banner.ipo_card__item
				a(href="#").popup_pages__close				
				.popup_pages____title
					span Проведение IPO
				.scroll_down.arrow
						.scroll_down__line
						a(href="#layout_popup_pages").scroll_down__icon

			.default_block#layout_popup_pages
				.container
					.row
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span IPO (Initial Public Offering) — первичное публичное размещение ценных бумаг на бирже широкому кругу инвесторов
							.default_block__text
								p Компании, чьи акции уже размещены, также могут провести аналогичную процедуру - SPO (Secondary Public Offering), в ходе которой уже существующие акционеры компании могут продать принадлежащие им акции неограниченному кругу лиц.
								p Поступления от размещения получают либо сама компания, осуществляя дополнительную эмиссию своих акций, либо акционеры, в случае реализации ими своих долей. 

			//block about_qtrader
			.default_block.about_qtrader
				.container
					.row(data-aos="fade-up")
						.col-xs-12.col-md-6.col-md-offset-3
							.default_block__title
								span Приобретение компанией статуса публичной после проведения IPO имеет ряд преимуществ:
					.row(data-aos="fade-up")
						ul.about_qtrader__list
							li Возможность привлечения денег на более выгодных условиях
							li Повышение узнаваемости компании и ее бренда
							li Максимизация стоимости компании
							li Повышение степени доверия со стороны кредиторов и партнеров
							li Наличие рыночной оценки компании			
							li Повышение прозрачности		
			
			.default_block.qtrader-slider
				.container(data-aos="fade-up")
					.qtrader_slide
							.qtrader_slide__content.popup_parallax(data-rellax-speed="1.5")
								.qtrader_slide__title
									span Публичное предложение акций является сложным и многоэтапным процессом
								.qtrader_slide__text
									p Основными недостатками в данном случае являются необходимость проведения сложной подготовительной работы, высокая стоимость работы консультантов и необходимость соблюдения ряда требований после проведения IPO или SPO. В связи с этим огромное значение имеет правильный выбор финансового консультанта.

							.qtrader_slide__img
								img(src="/images/qtrader-slider-2.jpg", alt="")
					.row
						.col-xs-12.col-md-8.col-md-offset-2
							.default_block__text
								p Учитывая это, в своей работе Казком Секьюритиз  всегда делает акцент на максимальную реализацию преимуществ по итогам завершения процесса размещения и на снижение для эмитента влияния недостатков, присущих IPO/ SPO, путем оптимизации работ всех участников процесса
								p Листинг компании на бирже предоставляет действующим акционерам/партнерам возможность получить налоговые преференции при выплате дивидендов или продаже своих долей
			//block	specialists
			
			.default_block.specialists
				.container
					.row
						.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
							.default_block__text
								p Более подробную информацию Вы можете получить у наших специалистов
					.row
						.specialists_cards__wrap
								.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person9.jpg", alt="")
									.specialists_name
										span Айнура Джумадилова 
									.specialists_contact
										span AJumadilova@kazks.kz <br/> вн. 58051

								.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person8.jpg", alt="")
									.specialists_name
										span Асель Акбарова
									.specialists_contact
										span AAkbarova@kkb.kz <br/> вн. 58025

			.popup_pages__footer
				a(href="#").popup_pages__close										
		
		//block popup_pages
		#capital_card__item.popup_pages.zoom-anim-dialog.mfp-hide
			.popup_pages__banner.capital_card__item
				a(href="#").popup_pages__close
				.popup_pages____title
					span Привлечение акционерного капитала
				.scroll_down.arrow
						.scroll_down__line
						a(href="#layout_popup_pages").scroll_down__icon

			.default_block#layout_popup_pages
				.container
					.row
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span Одним из важных условий успешной деятельности компании является оптимальная структура ее капитала

			.default_block.qtrader-slider
				.container(data-aos="fade-up")
					.qtrader_slide
							.qtrader_slide__content.popup_parallax(data-rellax-speed="1.5")
								.qtrader_slide__title
									span На определенном этапе развития компания может столкнуться с тем, что привлечение дополнительного финансирования через долговые инструменты или банковские займы уже не эффективно
								.qtrader_slide__text
									p В данном случае компания может рассмотреть возможность привлечения инвестиций через частные размещения своих акций или привлечение стратегических или финансовых инвесторов.
							.qtrader_slide__img
								img(src="/images/qtrader-slider-4.jpg", alt="")
					.row
						.col-xs-12.col-md-10.col-md-offset-1
							.default_block__text
								p Для принятия компанией взвешенного решения об осуществлении данного шага, а также сопровождения компании на следующих этапах реализации сделки, Казком Секьюритиз предлагает сотрудничество, в рамках которого наша компания может провести оценку текущего состояния вашей компании, подготовить заключение об оптимальных вариантах решения возможных проблем, а также осуществлять контроль над всем процессом реализации процесса привлечения акционерного капитала для вашей компании с исполнением основных задач.
			//block	specialists			
			.default_block.specialists
				.container
					.row
						.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
							.default_block__text
								p Более подробную информацию Вы можете получить у наших специалистов
					.row
						.specialists_cards__wrap
								.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person9.jpg", alt="")
									.specialists_name
										span Айнура Джумадилова 
									.specialists_contact
										span AJumadilova@kazks.kz <br/> вн. 58051

								.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person8.jpg", alt="")
									.specialists_name
										span Асель Акбарова
									.specialists_contact
										span AAkbarova@kkb.kz <br/> вн. 58025

			.popup_pages__footer
				a(href="#").popup_pages__close										
	
		//block popup_pages
		#merger_card__item.popup_pages.zoom-anim-dialog.mfp-hide
			.popup_pages__banner.merger_card__item
				a(href="#").popup_pages__close
				.popup_pages____title
					span Сделки слияний и поглощений
				.scroll_down.arrow
						.scroll_down__line
						a(href="#layout_popup_pages").scroll_down__icon

			.default_block#layout_popup_pages
				.container
					.row
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span Сделки слияний и поглощений (M&A сделки) – это инструмент, направленный на формирование единой производственно-хозяйственной деятельности двух и более компаний
							.default_block__text
								p C целью увеличения прибыли за счет оптимизации затрат, а также увеличения эффективности и продуктивности предприятия

			.default_block.qtrader-slider
				.container(data-aos="fade-up")
					.qtrader_slide
							.qtrader_slide__content.popup_parallax(data-rellax-speed="1.5")
								.qtrader_slide__title
									span Однако само по себе проведение M&A сделок не является гарантом достижения положительного эффекта
								.qtrader_slide__text
									p Данная процедура является достаточно сложной и требует проведения тщательной подготовительной работы по анализу состояния компаний, являющихся предметом сделки, а также оценки возможных вариантов эффекта, который может быть достигнут по завершению сделки слияния и поглощения.
							.qtrader_slide__img
								img(src="/images/qtrader-slider-6.jpg", alt="")
					.row
						.col-xs-12.col-md-10.col-md-offset-1
							.default_block__text
								p Казком Секьюритиз, обладая обширным опытом по организации и исполнению сделок купли-продажи акций и реструктуризации бизнеса, может выступить в качестве консультанта вашей компании для разработки оптимальной структуры M&A сделки
			//block	specialists			
			.default_block.specialists
				.container
					.row
						.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
							.default_block__text
								p Более подробную информацию Вы можете получить у наших специалистов
					.row
						.specialists_cards__wrap
								.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person9.jpg", alt="")
									.specialists_name
										span Айнура Джумадилова 
									.specialists_contact
										span AJumadilova@kazks.kz <br/> вн. 58051

								.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person8.jpg", alt="")
									.specialists_name
										span Асель Акбарова
									.specialists_contact
										span AAkbarova@kkb.kz <br/> вн. 58025

			.popup_pages__footer
				a(href="#").popup_pages__close										

		//block popup_pages
		#rate_card__item.popup_pages.zoom-anim-dialog.mfp-hide
			.popup_pages__banner.rate_card__item
				a(href="#").popup_pages__close
				.popup_pages____title
					span Рейтинговое консультирование
				.scroll_down.arrow
						.scroll_down__line
						a(href="#layout_popup_pages").scroll_down__icon

			.default_block#layout_popup_pages
				.container
					.row
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span Главная цель кредитных рейтингов заключается в предоставлении информации инвесторам, вкладывающим капитал в долговые ценные бумаги
							.default_block__text
								p Рейтинг является ориентиром для оценки инвестиционного риска. Он характеризует возможность того, что инвесторы полностью и вовремя получат платежи процентов на вложенный капитал, а также основную сумму долга с наступлением срока погашения

			//block about_qtrader
			.default_block.about_qtrader
				.container
					.row(data-aos="fade-up")
						.col-xs-12.col-md-6.col-md-offset-3
							.default_block__title
								span Наличие международного кредитного рейтинга позволит Вам:
					.row(data-aos="fade-up")
						ul.about_qtrader__list
							li Получить независимую оценку бизнес-профиля и кредитного качества Вашей организации
							li Иметь существенное преимущество при размещении корпоративных облигаций и поможет усилить переговорную позицию с Вашими кредиторами
							li Повысить привлекательность Вашей компании и расширить Ваши возможности доступа к заемным средствам
							li Повысить прозрачность Вашей компании, что может привести к расширению инвесторской базы
							li Раскрывать потенциально меньше коммерческой информации в процессе ведения деловых переговоров		
							li Создать привлекательную кредитную историю Вашей компании
			
			.default_block.qtrader-slider
				.container(data-aos="fade-up")
					.qtrader_slide
							.qtrader_slide__content.popup_parallax(data-rellax-speed="1.5")
								
								.qtrader_slide__title
									p Рейтинговый подход, реализуемый международными агентствами, требует учета не только внутренней управленческой информации, но и проведения обследования рейтингуемой организации
							.qtrader_slide__img
								img(src="/images/qtrader-slider-5.jpg", alt="")

			//block about_qtrader
			.default_block.about_qtrader
				.container
					.row(data-aos="fade-up")
						.col-xs-12.col-md-8.col-md-offset-2
							.default_block__title
								span Во избежание возникновения определенных трудностей для Вашей компании при выборе и  последующей работе с рейтинговыми агентствами Казком Секьюритиз предлагает Вам:
					.row(data-aos="fade-up")
						ul.about_qtrader__list
							li Помощь в выборе и организацию сотрудничества с рейтинговым агентством
							li Помощь в определении потенциально негативных факторов, способных оказать влияние на рейтинг
							li Содействие и организация построения рабочего диалога с выбранным рейтинговым агентством
							li Формирование плана мероприятий по долгосрочной поддержке кредитного рейтинга
							li Помощь при организации встреч менеджмента компании с аналитиками рейтингового агентства
							li Содействие в разработке долгосрочной стратегии взаимодействия с рейтинговым агентством
							li Предоставление пояснений и комментариев к методологиям рейтинговых агентств, применяемым при кредитном анализе компании

			//block	specialists
			
			.default_block.specialists
				.container
					.row
						.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
							.default_block__text
								p Более подробную информацию Вы можете получить у наших специалистов
					.row
						.specialists_cards__wrap
								.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person9.jpg", alt="")
									.specialists_name
										span Айнура Джумадилова 
									.specialists_contact
										span AJumadilova@kazks.kz <br/> вн. 58051

								.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person8.jpg", alt="")
									.specialists_name
										span Асель Акбарова
									.specialists_contact
										span AAkbarova@kkb.kz <br/> вн. 58025

			.popup_pages__footer
				a(href="#").popup_pages__close										

		//block popup_pages
		#foreign_card__item.popup_pages.zoom-anim-dialog.mfp-hide
			.popup_pages__banner.foreign_card__item
				a(href="#").popup_pages__close
				.popup_pages____title
					span Работа с иностранными инвесторами
				.scroll_down.arrow
						.scroll_down__line
						a(href="#layout_popup_pages").scroll_down__icon

			.default_block#layout_popup_pages
				.container
					.row
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span Привлечение внешних инвестиций в экономику страны является объективно необходимым процессом для ее успешного развития 
							.default_block__text
								p Иностранные инвестиции благоприятно воздействуют на развитие и укрепление частного предпринимательства в стране. Инвестиции могут быть привлечены для реализации серьезных стратегических проектов, создания совместных предприятий и рынка ссудного капитала

			.default_block.qtrader-slider
				.container(data-aos="fade-up")
					.qtrader_slide
							.qtrader_slide__content.popup_parallax(data-rellax-speed="1.5")
								.qtrader_slide__title
									span Мы уже имеем обширный опыт сотрудничества с крупнейшими инвестиционными фондами США,     Европы  и Азии
								.qtrader_slide__text
									p Только за 2016 г. были организованы встречи с десятками инвестиционных фондов Малайзии и Сингапура. Также наша компания имеет обширную базу иностранных инвесторов, которые готовы финансировать казахстанские проекты на основании инвестиционного анализа нашей аналитической группы.
							.qtrader_slide__img
								img(src="/images/qtrader-slider-3.jpg", alt="")
					.row(data-aos="fade-up")
						.col-xs-12.col-md-8.col-md-offset-2
							.default_block__title
								span Многие компании испытывают дефицит финансирования, а различные перспективные проекты приостановлены, тогда как есть иностранные инвесторы, которые готовы финансировать казахстанские предприятия
					.row(data-aos="fade-up")
						.col-xs-12.col-md-6
							.default_block__text
								p Иностранные инвесторы заинтересованы в новых источниках доходов, которые могут быть обеспечены за счет обширного внутреннего рынка Казахстана, природных богатств, квалифицированной и недорогой рабочей силы, активного роста и развития регионов.  Но, к сожалению, большинство средних и даже крупных компаний не имеют доступ к иностранному капиталу.
						.col-xs-12.col-md-6
							.default_block__text
								p Казком Секьюритиз в рамках общей стратегии по позиционированию в качестве локального представителя ряда иностранных инвестиционных фондов и бутиков может выступить в качестве посредника между иностранными инвесторами и казахстанскими компаниями, нуждающимися в дополнительном финансировании.

			//block	specialists			
			.default_block.specialists
				.container
					.row
						.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
							.default_block__text
								p Более подробную информацию Вы можете получить у наших специалистов
					.row
						.specialists_cards__wrap
								.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person9.jpg", alt="")
									.specialists_name
										span Айнура Джумадилова 
									.specialists_contact
										span AJumadilova@kazks.kz <br/> вн. 58051

								.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
									.specialists_photo
										img(src="../images/person8.jpg", alt="")
									.specialists_name
										span Асель Акбарова
									.specialists_contact
										span AAkbarova@kkb.kz <br/> вн. 58025

			.popup_pages__footer
				a(href="#").popup_pages__close										