extends template/template.jade

block content

	#layout_market.layout_default

		//block banner		
		.banner_service.banner_market.banner
				.banner_service__card.market
					.container
						.breadcrumbs
								.breadcrumbs_inset
									a(href="#").breadcrumb_inset__link Главная
									a(href="#").breadcrumb_inset__link Услуги
									span.navigation_page Маркет-мейкерство						
						.banner_service__card__content.rellax(data-rellax-speed="2")
							.banner_service__card__icon
								include ../images/icons/market-banner-icon.svg
							.banner_service__card__text
								.banner_card__card__title 
									span Маркет-мейкерство
								.banner_card__card__describe
									p Казком Секьюритиз – один из ведущих маркет-мейкеров
									.scroll_down.arrow
										.scroll_down__line
										a(href="#scroll_market").scroll_down__icon

		//default block
		.default_block#scroll_market
			.container
				.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Казком Секьюритиз – один из ведущих  маркет-мейкеров
						.default_block__text
							p Инвесторы и эксперты рынка оценивают успех выпуска и размещения любой ценной бумаги не только через призму успеха первичного размещения, но также по активности обращения финансового инструмента на вторичном рынке
		//parallax block
		.parallax_block
			.container
				.parallax_block__wrap(data-aos="fade-up")
						.parallax_block__content.rellax(data-rellax-speed="1.5")
							.parallax_block__title
								span Ключевым критерием успешности вторичного обращения является адекватный уровень ликвидности:
							.parallax_block__text
								p Инвесторы должны иметь возможность свободно продать или купить бумагу на организованном рынке в любой момент времени и без ограничения объемов.
						.parallax_block__img
							img(src="/images/market-page-img.jpg", alt="")

		//block info_list
		.info_list.default_block.about_qtrader
			.container
				.row(data-aos="fade-up")
					.col-xs-12.col-md-10.col-md-offset-1										
						.info_list__title
							span Функцию стабилизации и поддержания цены на финансовый инструмент, а также обеспечения ликвидности на вторичном рынке исполняет маркет-мейкер (ММ) Вам:					
						ul.info_list__content
							li Активность на вторичном рынке
							li Минимизация резких отклонений и стабилизация цен
							li Обеспечение высокой ликвидности
							li Поддержание котировок и спрэда
							li Выставление котировок с собственного счета ММ
							li Выставление котировок с собственного счета эмитента						

		//block list_documents
		.default_block.list_documents
			.container
				.row(data-aos="fade-up")
					.col-xs-12.col-md-10.col-md-offset-1
						.default_block__title
							span Схема выставления ММ-котировок
						.default_block__text
							p В течение торговой сессии ММ обязан выставлять и поддерживать как минимум 5 котировок на продажу или покупку. В случае удовлетворения всех обязательных котировок в течение сессии ММ вправе прекратить выставление котировок или продолжать их поддержание по собственной инициативе.
			
					
				.list_documents__content(data-aos="fade-up")
					ul.list_documents__type
						li: a(href="#schema1" data-toggle="tab") Схема 1
						li: a(href="#schema2" data-toggle="tab") Схема 2

					.tab-content
						#schema1.list_documents__content__tab.tab-pane.fade.table-responsive
							table.default__table.default__table--white
								thead.table_head
									th Финансовые инструменты:
								thead.table_head__sub
									th Объем наилучших обязательных котировок на покупку (продажу), МРП
								tr
									td Долевые ценные бумаги
									td 2.000 - кратный размер
								tr
									td Долевые ценные бумаги
									td 1.000 - кратный размер
								tr
									td Государственные ценные бумаги
									td 50.000 - кратный размер
								thead.table_head__sub
									th Максимальное значение спрэда
								tr
									td Долевые ценные бумаги
									td 3,0 %
								tr
									td Долевые ценные бумаги
									td 2,0 процентных пункта между значениями доходностей обязательных котировок или 3,0 % от цены обязательной котировки на покупку для обязательных котировок по долговым, торгуемым в “грязных ценах”
								tr
									td Государственные ценные бумаги
									td 2,0 процентных пункта между значениями доходностей обязательных котировок или 3,0 % от цены обязательной котировки на покупку для обязательных котировок по долговым, торгуемым в “грязных ценах”

					
						#schema2.list_documents__content__tab.tab-pane.fade.table-responsive
							table.default__table.default__table--white
								thead.table_head
									th Финансовые инструменты:
								thead.table_head__sub
									th Объем наилучших обязательных котировок на покупку (продажу), МРП
								tr
									td Долевые ценные бумаги
									td 2.000 - кратный размер
								tr
									td Долевые ценные бумаги
									td -
								tr
									td Государственные ценные бумаги
									td 100.000 - кратный размер
								thead.table_head__sub
									th Максимальное значение спрэда
								tr
									td Долевые ценные бумаги
									td 1,0 %
								tr
									td Долевые ценные бумаги
									td -
								tr
									td Государственные ценные бумаги
									td 1,0 процентных пункта между значениями доходностей обязательных котировок или 3,0 % от цены обязательной котировки на покупку для обязательных котировок по долговым, торгуемым в “грязных ценах”
									

		//default block beige
		.container
			.default_block__beige(data-aos="fade-up")
				.row		
					.col-xs-12.col-md-6.col-md-offset-3
						.default_block__title__blue
							span Мы обеспечиваем активность рынка  по 19 финансовым инструментам

		//clients
		.clients.default_block
			.container(data-aos="fade-up")
				.row		
					.col-xs-12.col-md-6.col-md-offset-3
						.default_block__title
							span Наши клиенты
						.default_block__text
							p Свои ценные бумаги нам доверили такие уважаемые компании как:
				.clients_wrap
					.clients_item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
						img(src="/images/icons/kaztransoil.png", alt="")
					.clients_item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
						img(src="/images/icons/telecom.png", alt="")
					.clients_item(data-aos="fade-up" data-aos-delay="300"  data-aos-easing="ease")
						img(src="/images/icons/ktzh-logo.png", alt="")
					.clients_item(data-aos="fade-up" data-aos-delay="400"  data-aos-easing="ease")
						img(src="/images/icons/ica-logo.png", alt="")
					.clients_item(data-aos="fade-up" data-aos-delay="500"  data-aos-easing="ease")
						img(src="/images/icons/sberbank.png", alt="")
					.clients_item(data-aos="fade-up" data-aos-delay="600"  data-aos-easing="ease")
						img(src="/images/icons/vtb-logo.png", alt="")

		//block	specialists
		
		.default_block.specialists
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Лучшие специалисты – гарант успеха			
				.row
					.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
						.default_block__text
							span Более подробную информацию Вы можете получить у наших специалистов
				.row
					.specialists_cards__wrap
							.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
								.specialists_photo
									img(src="../images/person10.jpg", alt="")
								.specialists_name
									span Артем Шакиров
								.specialists_contact
									span ashakirov@kazks.kz вн. 58023




