extends template/template.jade

block content

	#layout_massmedia.layout_default

		//block banner		
		.banner_service.banner
				.banner_service__card.massmedia
					.container
						.breadcrumbs
								.breadcrumbs_inset
									a(href="#").breadcrumb_inset__link Главная
									span.navigation_page Мы в СМИ					
						.banner_service__card__content.rellax(data-rellax-speed="2")
							.banner_service__card__icon
								include ../images/icons/masmedia.svg
							.banner_service__card__text
								span.banner_card__card__title Мы в СМИ
								.banner_card__card__describe
									p Наши клиенты первыми узнают обо всех важных событиях и получают оперативную аналитику
									
									.scroll_down.arrow
										.scroll_down__line
										a(href="#scroll_massmedia").scroll_down__icon

		//block corporate_news
		.default_block.news#scroll_massmedia
			.container
				.row
					.col-xs-12(data-aos="fade-up")
						.news__content
							.news__card
								.news__card__title
									a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
								.news__card__type
									a(href="#") Обзор рынка
								.news__card__text
									p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Обзор банковского сектора Казахстана
								.news__card__type
									a(href="#") Макроэкономика
								.news__card__text
									p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
								.news__card__type
									a(href="#") Инвестиционные идеи
								.news__card__text
									p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
								.news__card__date
									span 06.02.17
						
					
							.news__card
								.news__card__title
									a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
								.news__card__type
									a(href="#") Обзор рынка
								.news__card__text
									p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Обзор банковского сектора Казахстана
								.news__card__type
									a(href="#") Макроэкономика
								.news__card__text
									p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
								.news__card__type
									a(href="#") Инвестиционные идеи
								.news__card__text
									p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
								.news__card__type
									a(href="#") Обзор рынка
								.news__card__text
									p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Обзор банковского сектора Казахстана
								.news__card__type
									a(href="#") Макроэкономика
								.news__card__text
									p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
								.news__card__type
									a(href="#") Инвестиционные идеи
								.news__card__text
									p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
								.news__card__date
									span 06.02.17
						
					
							.news__card
								.news__card__title
									a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
								.news__card__type
									a(href="#") Обзор рынка
								.news__card__text
									p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Обзор банковского сектора Казахстана
								.news__card__type
									a(href="#") Макроэкономика
								.news__card__text
									p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
								.news__card__type
									a(href="#") Инвестиционные идеи
								.news__card__text
									p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
								.news__card__date
									span 06.02.17									

		//block	specialists
		
		.default_block.specialists
			.container
				.row
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Лучшие специалисты – гарант успеха
						.default_block__text
							p Более подробную информацию Вы можете получить у наших специалистов
				.row
					.specialists_cards__wrap
						.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
							.specialists_photo
								img(src="../images/manager1.jpg", alt="")
							.specialists_name
								span Нурлан Ашинов 
							.specialists_contact
								span research@kazks.kz вн. 58005

						.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
							.specialists_photo
								img(src="../images/person8.jpg", alt="")
							.specialists_name
								span Асель Акбарова
							.specialists_contact
								span AAkbarova@kkb.kz вн. 58025