extends template/template.jade

block content

	#layout_pdo.layout_default

		//block banner
		.banner_service.banner
				.banner_service__card.pdo
					.container
						.breadcrumbs
							.breadcrumbs_inset
								a(href="#").breadcrumb_inset__link Главная
								a(href="#").breadcrumb_inset__link Услуги
								span.navigation_page Пдо
						.banner_service__card__content.rellax(data-rellax-speed="2")
							.banner_service__card__icon
								include ../images/icons/pdo-banner-icon.svg
							.banner_service__card__text
								.banner_card__card__title 
									span Представитель держателей облигаций
								.banner_card__card__describe
									p Контроль над исполнением эмитентом своих обязательств
									.scroll_down.arrow
										.scroll_down__line
										a(href="#scroll_pdo").scroll_down__icon

		//default block
		.default_block#scroll_pdo
			.container
				.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Представитель держателей облигаций <br/> (ПДО)
						.default_block__text
							p С целью защиты интересов инвесторов и обеспечения более высокой прозрачности деятельности эмитентов Законом РК «О рынке ценных бумаг» предусмотрена норма о том, что при выпуске и размещении корпоративных облигаций необходимо обязательное наличие представителя держателей облигаций

		//parallax block
		.parallax_block
			.container(data-aos="fade-up")
				.parallax_block__wrap
						.parallax_block__content.rellax(data-rellax-speed="1.5")
							.parallax_block__title
								span Выбор ПДО эмитент осуществляет самостоятельно из числа профессиональных участников рынка ценных бумаг, осуществляющих кастодиальную и (или) брокерскую и дилерскую деятельность на рынке ценных бумаг 
							
						.parallax_block__img
							img(src="/images/pdo-page-img.jpg", alt="")
				.row
					.col-xs-12.col-md-8.col-md-offset-2
						.parallax_block__describe
							span Свои функции представитель осуществляет в течение всего срока обращения облигаций и до момента полного погашения задолженности

		//block info_list
		.info_list.default_block.about_qtrader
			.container
				.row(data-aos="fade-up")
					.col-xs-12
						.info_list__title
							span Функции ПДО
						ul.info_list__content
							li Контроль над исполнением эмитентом своих обязательств
							li Контроль своевременных выплат купонного вознаграждения и основного долга
							li Мониторинг и анализ финансового состояния эмитента
							li Контроль состояния залогового обеспечения
							li Регулярное информирование держателей облигаций и уполномоченного органа
							li Защита интересов держателей облигаций при возникновении споров в суде и других инстанциях
							li Контроль целевого использования денег
							li Активное участие в процессах реструктуризации и банкротства
							li Оценка корпоративных событий
									

		//block	specialists			
		.default_block.specialists
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Лучшие специалисты – гарант успеха
				.row
					.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
						.default_block__text
							span Более подробную информацию Вы можете получить у наших специалистов
				.row
					.specialists_cards__wrap
						.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
							.specialists_photo
								img(src="/images/person10.jpg", alt="")
							.specialists_name
								span Нурлан Ашинов
							.specialists_contact
								span research@kazks.kz вн. 58005

						.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
							.specialists_photo
								img(src="/images/person9.jpg", alt="")
							.specialists_name
								span Динара Танербергенова
							.specialists_contact
								span research@kazks.kz вн. 58022




