extends template/template.jade

block content

	#layout_qtrader.layout_default
		
		//block banner_career
		.full_banner.banner_qtrader
				.breadcrumbs
					.container
						.breadcrumbs_inset
							a(href="#").breadcrumb_inset__link Главная
							span.navigation_page QTrader
				
				.banner_qtrader__wrap
					.full_banner__content
						.banner_qtrader__logo.rellax(data-rellax-speed="1.5")
							img(src="/images/icons/banner-qtrader-logo.jpg", alt="")
						.banner_qtrader__card
							.banner_qtrader__card__title
								span QTrader
							.banner_qtrader__card__text
								p Оперативность, безопасность и простота инвестирования
								
				.scroll_down.arrow
						.scroll_down__line
						a(href="#scroll_qtrader").scroll_down__icon

		//block qtrader-slider
		.default_block.qtrader-slider#scroll_qtrader(data-aos="fade-up")
			.container_custom
					.container
						.row
							.col-xs-12.col-md-8.col-md-offset-2
								.default_block__title
									span Все преимущества в одном приложении
								.default_block__text
									p Наша передовая торговая платформа позволяет осуществлять сделки здесь и сейчас в любом удобном для вас месте
					.row
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.container
										.qtrader_slide
											.qtrader_slide__content.rellax(data-rellax-speed="1.5")
												.qtrader_slide__title
													span Удобно и оперативно
												.qtrader_slide__text
													p Заключайте сделки, сидя дома, будучи в офисе или просто гуляя по улице. Возможности для оперативного инвестирования и управления инвестиционным счетом через мобильные устройства в любом месте и в любое время.
											.qtrader_slide__img
												img(src="/images/qtrader-slider-1.jpg", alt="")
								.swiper-slide
									.container
										.qtrader_slide
											.qtrader_slide__content.rellax(data-rellax-speed="1.5")
												.qtrader_slide__title
													span Безопасно
												.qtrader_slide__text
													p Наша платформа обеспечивает высокий уровень безопасности и защищенности ваших данных, денег, бумаг и всех проводимых операций. Передовые системы, процесс аутентификации и интеграция вашей электронной цифровой подписи предупреждают любые виды мошенничества и попыток взлома счета.
											.qtrader_slide__img
												img(src="/images/qtrader-slider-2.jpg", alt="")
								.swiper-slide
									.container
										.qtrader_slide
											.qtrader_slide__content.rellax(data-rellax-speed="1.5")
												.qtrader_slide__title
													span Легко и просто
												.qtrader_slide__text
													p QTrader был разработан с акцентом на то, чтобы процесс инвестирования был максимально простым и понятным. Интуитивный дизайн, оптимально подобранная структура и простота установки позволяют использовать платформу каждому.
											.qtrader_slide__img
												img(src="/images/qtrader-slider-3.jpg", alt="")
								.swiper-slide
									.qtrader_slide
										.container
											.qtrader_slide__content.rellax(data-rellax-speed="1.5")
												.qtrader_slide__title
													span Актуально
												.qtrader_slide__text
													p Вся информация отображается в режиме реального времени. Вы всегда в курсе актуальных котировок и последних новостей, получая преимущество перед другими инвесторами и осуществляя наиболее выгодные сделки.

											.qtrader_slide__img
												img(src="/images/qtrader-slider-4.jpg", alt="")
								.swiper-slide
									.qtrader_slide
										.container
											.qtrader_slide__content.rellax(data-rellax-speed="1.5")
												.qtrader_slide__title
													span Экономно
												.qtrader_slide__text
													p Экономия денег: для инвесторов, торгующих через торговую платформу, предусматриваются льготные комиссии - вдвое ниже стандартных.
													p Экономия времени: при торговле с использованием ЭЦП у вас не будет необходимости приходить в офис компании и предоставлять оригиналы подписанных приказов на осуществление сделок.
											.qtrader_slide__img
												img(src="/images/qtrader-slider-5.jpg", alt="")
								.swiper-slide
									.qtrader_slide
										.container
											.qtrader_slide__content.rellax(data-rellax-speed="1.5")
												.qtrader_slide__title
													span Заботливо
												.qtrader_slide__text
													p Наши сотрудники делают все для того, чтобы обеспечить максимальный комфорт и высокое качество оказания услуг.
													p Мы осуществляем постоянный мониторинг всех процессов и в случае необходимости оперативно устраняем имеющиеся проблемы. Любые вопросы по работе платформы вы можете направлять нашим специалистам.
											.qtrader_slide__img
												img(src="/images/qtrader-slider-6.jpg", alt="")

							.swiper-pagination
							.swiper_button__wrap
								.swiper-button-prev
								.swiper-button-next
		//block about_qtrader
		.default_block.about_qtrader
			.container
				.row(data-aos="fade-up")
					.col-xs-12.col-md-8.col-md-offset-2
						.default_block__title
							span Торговая платформа QTrader позволит Вам:
						
				.row(data-aos="fade-up")
					ul.about_qtrader__list
						li Оперативно получать информацию по котировкам в онлайн режиме по всем инструментам торгового списка KASE.
						li Просматривать историю совершенных сделок, состояние своего счета и получать полные отчеты о всех движениях по инвестиционному счету.
						li Подавать заказы на покупку-продажу ценных бумаг, а также приказы на их отмену, подписывая их при помощи ЭЦП.
						li Оперативно получать аналитические обзоры и комментарии по ключевым макроэкономическим и корпоративным событиям.
						li Подавать приказы на перевод денежных средств и списание-зачисление ценных бумаг, подписывая их при помощи ЭЦП.
		//block qtrader_tariff
		.default_block.qtrader_tariff
			.container
				.row
					.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
							a(href="#qtrader_tariff" data-toggle="collapse").qtrader_tariff__title Тарифы на брокерское обслуживание при работе через QTrader
				.row
					.col-xs-12
						#qtrader_tariff.qtrader_tariff__content.collapse
							.table-responsive
								table.default__table
									tr
										td Наименование услуги
										td Вознаграждение
									tr
										td Открытие счета
										td бесплатно
									tr
										td Ведение счета
										td физическое лицо – бесплатно; <br/> юридическое лицо - 0,01% от среднемесячного остатка на счете по номинальной стоимости (минимум- 2 МРП)

							.table-responsive
								table.default__table.default__table--white
									thead.table_head
										th Операции на KASE:
									tr
										td размещение/выкуп ФИ
										td по договоренности
									tr
										td покупка/продажа ФИ
										td до 10 000 000 тенге – 0,1% от объема сделки, минимум 2 МРП; до 100 000 000 тенге – 0,07% от объема сделки; до 200 000 000 тенге – 0,05% от объема сделки; свыше 200 000 000 тенге – 0,03% от объема сделки.
									tr
										td операции "репо"
										td 0,25%, минимум 2 МРП (от дохода при закрытии)
									
									thead.table_head
										th Операции на международных и российском рынках:
									tr
										td покупка/продажа ФИ copy
										td до 300 000 долларов США - 0,25% от объема сделки, минимум 2 МРП; свыше 300 000 долларов США – 0,1 % от объема сделки.
									tr
										td операции "репо"
										td 0,25%, минимум 2 МРП (от дохода при закрытии)

									thead.table_head
										th Зачисление ФИ:
									tr
										td внутри РК
										td бесплатно
									tr
										td за пределами РК
										td бесплатно

									thead.table_head
										th Списание ФИ:
									tr
										td внутри РК
										td 2 МРП
									tr
										td за пределами РК
										td 3 МРП

									thead.table_head
										th Отчет по движению ФИ на лицевом счете:
									tr
										td ежемесячно
										td бесплатно
									tr
										td по запросу
										td 3 МРП

									thead.table_head
										th Выписка с лицевого счета:
									tr
										td ежемесячно/при совершении операции на неорганизованном рынке
										td бесплатно
									tr
										td по запросу
										td 1 МРП
							.table-responsive
								table.default__table
									tr
										td Конвертация ФИ
										td 5 тенге за 1 глобальную депозитарную расписку (GDR)
									tr
										td Голосование по доверенности
										td по договоренности
									tr
										td Регистрация залога
										td 5 МРП
									tr
										td Штраф за неисполнение поручения  по вине Клиента * 
										td 1 МРП
									tr
										td Комиссионные ЦДЦБ, KASE, ЕРЦБ,  кастодиана и иных учетных организаций
										td по факту
									tr
										td Оказание консультационных услуг
										td по договоренности
							.table_extra
									p * В  случае неверно указанных реквизитов контрагента.

		//block application
		.default_block.application(data-aos="fade-up")
			.container
				.row
					.col-xs-12.col-md-8.col-md-offset-2
						.default_block__title
							span Торговая платформа QTrader
						.default_block__text
							span Обеспечивает наиболее выгодные и комфортные условия торговли
				.row
					.application_version
						a(href="#").application_version__web.default_link Веб версия
						a(href="#").application_version__instruction Инструкция
				
					.application_web__wrap
						.application_web
							.application_web__icon
								img(src="/images/icons/android.png", alt="android")
							.application_web__title
								span QTrader для Android
							a(href="#").application_web__button
								img(src="/images/icons/google-play.png", alt="")
					
						.application_web
							.application_web__icon
								img(src="/images/icons/apple.png", alt="apple")
							.application_web__title
								span QTrader для IOS
							a(href="#").application_web__button
								img(src="/images/icons/app-store.png", alt="")
					
						.application_web
							.application_web__icon
								img(src="/images/icons/desktop-icon.png", alt="desktop-icon")
							.application_web__title
								span QTrader для ПК
							a(href="#").application_web__button.btn Скачать

		//block info_account
		.default_block(data-aos="fade-up")
			.container
				.info_account
					.row
						.col-xs-12.col-md-8.col-md-offset-2
							.info_account__title
								span Чтобы получить доступ к торговой платформе, вам необходимо открыть инвестиционный счет, после чего вам будут предоставлены уникальный логин и пароль.
							.info_account__text
								p Вы можете открыть счет следующими способами:
								ol
									li Посетив наш офис
									li Скачать необходимые формы и приложения, заполнить их, подписать и отправить в сканированном виде по адресу 
										a(href="#").base_link drb@kazks.kz
									li Заполнить онлайн заявку на открытие счета, и наши менеджеры свяжутся с вами.

		//block open_account
		.default_block.open_account.default_block__blue
			.container
				.row
					.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
						.default_block__title
							span Открыть счет
						.default_block__text
							span Откройте брокерский счет, не посещая офис <br/> Быстро и удобно
						a(href="#open_account_popup").open_account__link.btn.btn--beige.popup-with-move-anim Открыть счет

		//block list_documents
		.default_block.list_documents
			.container
				.row(data-aos="fade-up")
					.col-xs-12.col-md-6.col-md-offset-3
						.default_block__title
							span Перечень документов  для резидентов РК
				.row(data-aos="fade-up")
					.col-xs-12.col-md-8.col-md-offset-2
						.list_documents__content
							ul.list_documents__type
								li: a(href="#individual" data-toggle="tab") Физические лица
								li: a(href="#entity" data-toggle="tab") Юридические лица

							.tab-content
								#individual.list_documents__content__tab.tab-pane.fade
									p Копия документа, удостоверяющего личность
								#entity.list_documents__content__tab.tab-pane.fade
									ul
										li Нотариально заверенная копия устава (при наличии) или учредительного договора;
										li Нотариально заверенная копия справки или свидетельства о государственной регистрации (перерегистрации) юридического лица
										li Решение о назначении лица, уполномоченного подписывать документы
										li Копия удостоверения личности лица, уполномоченного подписывать документы

		//block specialists
		.specialists.default_block
			.container
				.row
					.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
						.default_block__text
							span Более подробную информацию Вы можете получить у наших специалистов:
				.row
					.specialists_cards__wrap
							.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
								.specialists_photo
									img(src="../images/manager2.jpg", alt="")
								.specialists_name
									span Жанна Нуралина
								.specialists_contact
									span drb@kazks.kz <br/>
									span вн. 58016
						
							.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
								.specialists_photo
									img(src="../images/manager2.jpg", alt="")
								.specialists_name
									span Карлыгаш Абишева
								.specialists_contact
									span drb@kazks.kz <br/>
									span вн. 58016
						
							.specialists_cards__item(data-aos="fade-up" data-aos-delay="300"  data-aos-easing="ease")
								.specialists_photo
									img(src="../images/manager2.jpg", alt="")
								.specialists_name
									span Тогжан Дауренбекова
								.specialists_contact
									span drb@kazks.kz <br/>
									span вн. 58016

							.specialists_cards__item(data-aos="fade-up" data-aos-delay="300"  data-aos-easing="ease")
								.specialists_photo
									img(src="../images/manager2.jpg", alt="")
								.specialists_name
									span Тогжан Дауренбекова
								.specialists_contact
									span drb@kazks.kz <br/>
									span вн. 58016									
				.row
					.col-xs-12(data-aos="fade-up")
						.specialists_callback
							p Так же Вы можете оставить свои личные данные, и мы свяжемся с вами:
							a(href="#qtrader_callback_popup").specialists_callback__link.btn.btn--light.popup-with-move-anim Заказать звонок