extends template/template.jade

block content

	#layout_search.layout_default

		//block result_search
		.default_block.result_search
			.container
					.default_block__title
						span Результат поиска
					.default_block__text
						.result_search__item
							a(href="#").result_search__title Инвестиционный банкинг
							.result_search__text
								p Благодаря обширному и успешному многолетнему опыту работы в сочетании с профессионализмом и клиентоориентированным подходом, Казком Секьюритиз имеет репутацию инвестиционного банка, способного предложить наиболее эффективные

						.search-not-found
							p К сожалению, по запросу <span class="search-data">ррпо</span>  ничего не найдено.