extends template/template.jade

block content

	#layout_services.layout_default

		//block banner
		
		.banner_service.banner
				.banner_service__card.services-assets
					.container
						.breadcrumbs
							.breadcrumbs_inset
								a(href="#").breadcrumb_inset__link Главная
								a(href="#").breadcrumb_inset__link Услуги
								span.navigation_page Управление активами
						.banner_service__card__content.rellax(data-rellax-speed="2")
							.banner_service__card__icon
								include ../images/icons/service2.svg
							.banner_service__card__text
								span.banner_card__card__title Управление активами
								.banner_card__card__describe
									p Экспертное управление инвестиционным портфелем.	
									p Наша задача — обеспечить вас  наилучшими решениями с учетом  всех ваших инвестиционных предпочтений
									.scroll_down.arrow
										.scroll_down__line
										a(href="#scroll_services").scroll_down__icon

		
		//block services_tab_panel

		.container
			.services_tab__block#scroll_services
				ul.services_tab_panel
					li.active: a(href="#advantage" data-toggle="tab") Преимущества
					li: a(href="#investment" data-toggle="tab") Инвестиционные стратегии
					li: a(href="#islam" data-toggle="tab") Исламский портфель
					li: a(href="#tariff" data-toggle="tab") Тарифы

				.tab-content
					#advantage.services_tab_content.tab-pane.fade.in.active
						.services_tab_content__title(data-aos="fade-up")
							span Вы доверяете свои инвестиционные решения  профессионалам Казком Секьюритиз
						.services_tab_content__text
							.advantages_block
								.advantages_block__item
									.advantages_block__item__icon
										img(src="../images/icons/advantage1.svg", alt="")
									.advantages_block__item__describe
										p Подбор индивидуальной инвестиционной стратегии

								.advantages_block__item
									.advantages_block__item__icon
										img(src="../images/icons/advantage2.svg", alt="")
									.advantages_block__item__describe
										p Освобождение клиента от постоянного мониторинга рынков

								.advantages_block__item
									.advantages_block__item__icon
										img(src="../images/icons/advantage3.svg", alt="")
									.advantages_block__item__describe
										p Оперативность исполнения сделок в зависимости от ситуации

								.advantages_block__item
									.advantages_block__item__icon
										img(src="../images/icons/advantage4.svg", alt="")
									.advantages_block__item__describe
										p Опытная команда высококлассных управляющих активами

								.advantages_block__item
									.advantages_block__item__icon
										img(src="../images/icons/advantage5.svg", alt="")
									.advantages_block__item__describe
										p Инвестиционные решения принимаются инвестиционным комитетом

								.advantages_block__item
									.advantages_block__item__icon
										img(src="../images/icons/advantage6.svg", alt="")
									.advantages_block__item__describe
										p Регулярный мониторинг и ребалансировка портфеля 

								.advantages_block__item
									.advantages_block__item__icon
										img(src="../images/icons/advantage7.svg", alt="")
									.advantages_block__item__describe
										p Полное аналитическое покрытие

								.advantages_block__item
									.advantages_block__item__icon
										img(src="../images/icons/advantage8.svg", alt="")
									.advantages_block__item__describe
										p Торговые идеи на локальном и международных рынках 

								.advantages_block__item
									.advantages_block__item__icon
										img(src="../images/icons/advantage9.svg", alt="")
									.advantages_block__item__describe
										p Прямой доступ к управляющим и аналитикам
						
					#investment.services_tab_content.tab-pane.fade
						.col-xs-12.col-md-8.col-md-offset-2
							.services_tab_content__title(data-aos="fade-up")
								span Инвестиционную стратегию  вы выбираете сами
						.services_tab_content__text
							.row
								.col-xs-12.col-sm-4
									.tab_card.investment_card
										.tab_card__top
											span.tab_card__title Консервативная
											span.tab_card__item Низкая толерантность к риску
											.separator
											span.tab_card__item Защита и сохранение капитала
											.separator
											span.tab_card__item Высокая надежность - низкая доходность
										.tab_card__financial
											span.tab_card__title Финансовые инструменты
											span.tab_card__item Государственные облигации
											span.tab_card__item Корпоративные облигации с высоким рейтингом
											span.tab_card__item Депозиты
											span.tab_card__item Денежный рынок
										.tab_card__currency
											span.tab_card__title KZT/USD/EUR/GBP
											small.tab_card__small Валюты инвестирования
											.separator
											span.tab_card__title $200 тыс. / 65 млн.тг.
											small.tab_card__small Минимальный объем инвестиций
										.tab_card__tariff
											a(href="#tariff") Тарифы
										.tab_card__button
											a(href="#investment-popup").btn.btn--light.popup-with-move-anim Выбрать

								.col-xs-12.col-sm-4
									.tab_card.investment_card
										.tab_card__top
											span.tab_card__title Сбалансированная
											span.tab_card__item Умеренный риск по портфелю
											.separator
											span.tab_card__item Формирование источников стабильного дохода
											.separator
											span.tab_card__item Сбалансированные риски – умеренная доходность
										.tab_card__financial
											span.tab_card__title Финансовые инструменты
											span.tab_card__item Корпоративные облигации с умеренным риском
											span.tab_card__item Дивидендные акции
											span.tab_card__item Акции роста
											span.tab_card__item Депозиты
											span.tab_card__item Денежный рынок
										.tab_card__currency
											span.tab_card__title KZT/USD/EUR/GBP
											small.tab_card__small Валюты инвестирования
											.separator
											span.tab_card__title $200 тыс. / 65 млн.тг.
											small.tab_card__small Минимальный объем инвестиций
										.tab_card__tariff
											a(href="#tariff") Тарифы
										.tab_card__button
											a(href="#investment-popup").btn.btn--light.popup-with-move-anim Выбрать
								.col-xs-12.col-sm-4
									.tab_card.investment_card
										.tab_card__top
											span.tab_card__title Агрессивная
											span.tab_card__item Готовность принимать высокие риски
											.separator
											span.tab_card__item Максимизация доходности и преумножение капитала
											.separator
											span.tab_card__item Высокая доходность – высокие риски
										.tab_card__financial
											span.tab_card__title Финансовые инструменты
											span.tab_card__item Акции роста
											span.tab_card__item Дивидендные акции
											span.tab_card__item ETF
											span.tab_card__item Корпоративные облигации с высокой доходностью
											span.tab_card__item Депозиты
											span.tab_card__item Денежный рынок
										.tab_card__currency
											span.tab_card__title KZT/USD/EUR/GBP
											small.tab_card__small Валюты инвестирования
											.separator
											span.tab_card__title $200 тыс. / 65 млн.тг.
											small.tab_card__small Минимальный объем инвестиций
										.tab_card__tariff
											a(href="#tariff") Тарифы
										.tab_card__button
											a(href="#investment-popup").btn.btn--light.popup-with-move-anim Выбрать

					#islam.services_tab_content.tab-pane.fade
						.col-xs-12.col-md-10.col-md-offset-1
							.services_tab_content__title(data-aos="fade-up")
								span Казком Секьюритиз предлагает Исламские инвестиционные портфели для тех, кто придерживается норм Шариата
						.services_tab_content__text
							.col-xs-12.col-md-8.col-md-offset-2
								.tab_card.islam_card
										.tab_card__top
											span.tab_card__title Исламский портфель
											span.tab_card__item Защита и сохранение капитала
											.separator
											span.tab_card__item Высокая надежность – низкая доходность
											.separator
											span.tab_card__item Отсутствие спекулятивных инструментов
										.tab_card__financial
											span.tab_card__title Финансовые инструменты
											span.tab_card__item Сукуки
											span.tab_card__item Исламские фонды
											span.tab_card__item Акции компаний, деятельность которых не противоречит принципам ислама										
										.tab_card__currency
											span.tab_card__title USD/MYR/KZT/GBP/AED
											small.tab_card__small Валюты инвестирования
											.separator
											span.tab_card__title $200 тыс. / 65 млн.тг.
											small.tab_card__small Минимальный объем инвестиций
										.tab_card__tariff
											span.tab_card__title Тарифы
											.tab_card__tariff__describe__wrap
												.tab_card__tariff__describe
													span.tab_card__title 1,5% от активов
													small.tab_card__small Комиссия за управление*
												.tab_card__tariff__describe
													span.tab_card__title 20%
													small.tab_card__small Комиссия за успех**
												.tab_card__tariff__describe
													span.tab_card__title >3%
													small.tab_card__small Целевая доходность***
										.tab_card__button
											a(href="#investment-popup").btn.btn--light.popup-with-move-anim Выбрать
							.col-md-12
								.islam_describe
									p * % годовых от чистых активов портфеля (активы с учетом дебиторской задолженности за минусом обязательств/издержек, связанных с осуществлением сделок), комиссия начисляется и оплачивается ежемесячно, все расходы, связанные с осуществлением сделок, производятся из активов инвестиционного портфеля
									p ** % за сверхдоход или от разницы между фактической доходностью портфеля и пороговой доходностью в годовом выражении, оплата раз в год по завершению календарного года. 
									p Пороговая доходность для расчета комиссии за сверхдоход - 3%. Пороговая доходность может пересматриваться в зависимости от ситуации на рынке.
									p *** Целевая доходность не гарантируется и зависит от ситуации на рынках. 
									p Примечание: Вышеуказанные комиссии могут быть пересмотрены и не представляют собой официальную оферту.

					#tariff.services_tab_content.tab-pane.fade
						.col-xs-12.col-md-8.col-md-offset-2
							.services_tab_content__title(data-aos="fade-up")
								span Тарифы <br/> под Ваши предпочтения
						.services_tab_content__text
							.row
								.col-xs-12.col-sm-4
									.tab_card.tariff_card
										.tab_card__top
											span.tab_card__title Консервативная
										.tab_card__tariff__describe
												span.tab_card__title 1,5% от активов
												small.tab_card__small Комиссия за управление*
										.tab_card__tariff__describe
												span.tab_card__title 20%
												small.tab_card__small Комиссия за успех**
										.tab_card__tariff__describe
												span.tab_card__title 10%
												small.tab_card__small Целевая доходность в тенге***
										.tab_card__tariff__describe
												span.tab_card__title 4%
												small.tab_card__small Целевая доходность в валюте***

								.col-xs-12.col-sm-4
									.tab_card.tariff_card
										.tab_card__top
											span.tab_card__title Сбалансированная
										.tab_card__tariff__describe
												span.tab_card__title 1,0% от активов
												small.tab_card__small Комиссия за управление*
										.tab_card__tariff__describe
												span.tab_card__title 20%
												small.tab_card__small Комиссия за успех**
										.tab_card__tariff__describe
												span.tab_card__title 15%
												small.tab_card__small Целевая доходность в тенге***
										.tab_card__tariff__describe
												span.tab_card__title 7%
												small.tab_card__small Целевая доходность в валюте***

								.col-xs-12.col-sm-4
									.tab_card.tariff_card
										.tab_card__top
											span.tab_card__title Агрессивная
										.tab_card__tariff__describe
												span.tab_card__title 1,0% от активов
												small.tab_card__small Комиссия за управление*
										.tab_card__tariff__describe
												span.tab_card__title 20%
												small.tab_card__small Комиссия за успех**
										.tab_card__tariff__describe
												span.tab_card__title 20%
												small.tab_card__small Целевая доходность в тенге***
										.tab_card__tariff__describe
												span.tab_card__title 10%
												small.tab_card__small Целевая доходность в валюте***
								.col-md-12
									.tariff_describe
										a(href="#investment").statement
											span Инвестиционные стратегии
										.statement_content
											p * % годовых от чистых активов портфеля (активы с учетом дебиторской задолженности за минусом обязательств/издержек, связанных с осуществлением сделок), комиссия начисляется и оплачивается ежемесячно, все расходы, связанные с осуществлением сделок, производятся из активов инвестиционного портфеля
											p ** % за сверхдоход или от разницы между фактической доходностью портфеля и пороговой доходностью в годовом выражении, оплата раз в год по завершению календарного года. 
											p Пороговая доходность для расчета комиссии за сверхдоход - 3%. Пороговая доходность может пересматриваться в зависимости от ситуации на рынке.
											p *** Целевая доходность не гарантируется и зависит от ситуации на рынках. 
											p Примечание: Вышеуказанные комиссии могут быть пересмотрены и не представляют собой официальную оферту.

		//block service-inform
		
		.default_block.default_block__blue.service-inform
			.container
				.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
					.default_block__title
						span Ваше дело - сделать выбор,  наша миссия - довести Вас до цели.
					.default_block__text
						p Наши индивидуальные решения рассчитаны как на корпоративных, так и на частных клиентов, которые стремятся улучшить финансовое положение бизнеса, а также обеспечить прирост и защиту своих активов.

		//block service-inform
		
		.default_block(data-aos="fade-up")
			.container
				.row
					.col-xs-12.col-md-8.col-md-offset-2
						.default_block__title
							span Многолетний успешный опыт  управления активами
						.default_block__text
							p Команда высококвалифицированных экспертов в области инвестирования, партнерство с ведущими зарубежными инвестиционными домами позволят обеспечить лучшие результаты для вашего портфеля, минимизируя риски, но сохраняя высокий уровень доходности.
				.row
					.col-xs-12.col-md-10.col-md-offset-1
						.assets__content
								.assets__content__img.hidden-sm.hidden-xs.rellax(data-rellax-speed="1.4")
									img(src="#{img}/assets.jpg", alt="")
								.assets__content__card.rellax(data-rellax-speed="1.8")
									.assets__content__text
										p Сегодня под управлением <span class="extra-bold">Казком Секьюритиз</span> находится активов стоимостью свыше <span class="beige-color extra-bold">70 млрд.</span>

		//block	specialists
		
		.default_block.specialists
			.container
				.row
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Наш опыт + наша экспертиза =  ваш эффективный индивидуальный портфель
						.default_block__text
							p Более подробную информацию Вы можете получить у наших специалистов
				.row
					.specialists_cards__wrap
						.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
							.specialists_photo
								img(src="/images/manager1.jpg", alt="")
							.specialists_name
								span Айвар Байкенов
							.specialists_contact
								span amd@kazks.kz вн. 58029

						.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
							.specialists_photo
								img(src="/images/manager2.jpg", alt="")
							.specialists_name
								span Алтынай Сагиндыкова
							.specialists_contact
								span amd@kazks.kz вн. 58006

		//block statement
		.statement_accordion
			a(href="#statement" data-toggle="collapse").statement
				.container
					span Заявление об ограничении ответственности
			.statement_content#statement.collapse
				.container
					p  Информация  и  мнения,  содержащиеся  в  настоящем материале,  были  подготовлены  АО  «Казкоммерц Секьюритиз»  и  предназначаются  исключительно  для  сведения  клиентов  компании. 			Ни АО «Казкоммерц Секьюритиз», ни кто-либо из его представителей или сотрудников не  несет  ответственности  за  любой  прямой  или  косвенный  ущерб,  наступивший  в  результате  использования данной информации. 
					p АО «Казкоммерц Секьюритиз» не берет на себя ответственности регулярно обновлять данный материал, а также сообщать обо всех изменениях, произошедших с момента его подготовки. АО  «Казкоммерц  Секьюритиз»  обращает  внимание  инвесторов,  что  доход  от инвестиций  в  финансовые инструменты  зависит  от  множества  рыночных  и  нерыночных  факторов.  В  частности  на  фактический  доход инвестора могут влиять колебания процентных ставок, изменение норм налогообложения, движение валютных курсов,  изменения  котировок  ценных  бумаг,  рыночных  индексов,  изменения  производственных  и  финансовых показателей  компаний,  а  также  другие  факторы. 
					p АО  «Казкоммерц  Секьюритиз»  обращает  внимание,  что прошлые результаты не всегда указывают на то, какими будут будущие показатели. При этом оценки будущих результатов основаны на предположениях, которые могут не осуществиться. Стоимость любых инвестиций или дохода  может  понижаться  и  повышаться,  в  результате  чего  инвесторы  могут  не  получить  обратно  всей инвестированной суммы. В случае инвестиций, для которых не существует общепризнанного рынка, инвесторы могут  испытывать  трудности  с  их  продажей  или  получением  надежной  информации  об  их  стоимости  или связанных с ними рисках. Материал подготовлен  без  учета  индивидуальных  финансовых  особенностей  и  целей  тех  лиц,  которые  его получают.  
					p АО  «Казкоммерц  Секьюритиз»   рекомендует  инвесторам  независимо  оценивать  целесообразность тех  или  иных  инвестиций  и  стратегий  и  призывает  инвесторов  пользоваться  услугами  финансовых консультантов. Представители  и  сотрудники  АО  «Казкоммерц  Секьюритиз»,  в  том  числе должностные  лица,  могут  владеть  позициями  по  любым  финансовым  инструментам и  могут  время  от  времени  изменять  позиции  по  таким  финансовым  инструментам. АО  « Казкоммерц Секьюритиз»   может  выступать  в  качестве  маркет-мейкера  или  нести  обязательства  по  андеррайтингу финансовых инструментов компаний, может продавать или покупать их долговые или долевые бумаги для клиентов в качестве основной стороны сделки. Все  права  на  отчеты и материалы  принадлежат  АО  «Казкоммерц  Секьюритиз».  Частичное  или  полное воспроизведение  и  распространение  данной информации не  может  быть  осуществлено без письменного разрешения АО «Казкоммерц Секьюритиз».
					p © 2017. Все права защищены