extends template/template.jade

block content

	#layout_news.layout_default
		//block breadcrumb
		.breadcrumbs
			.container
				.breadcrumbs_inset
					a(href="#").breadcrumb_inset__link Главная
					a(href="#").breadcrumb_inset__link Новости
					span.navigation_page АО «Казахстанская Ипотечная Компания» разместило облигации на KASE

		.single-new
			.container
				.row
					.col-xs-12(data-aos="fade-up")
						a(href="#").button_prev Новости
						.default_block__title
							span АО «Казахстанская Ипотечная Компания» разместило облигации на KASE
						.single-new__date
							span 07.04.2017
						.default_block__text
							p 03 апреля 2017 года в торговой системе АО «Казахстанская фондовая биржа» (далее – «KASE») состоялось долгожданное первичное размещение обеспеченных купонных облигаций 11-го выпуска АО «Ипотечная организация «Казахстанская Ипотечная Компания» (далее – «КИК» или «Эмитент») на общую сумму 5,8 млрд. тенге.
							p Андеррайтером при размещении облигаций Эмитента выступило АО «Казкоммерц Секьюритиз». Данное размещение является первым для КИК с начала 2014 года, доходность к погашению составила 10,75% годовых, оставшийся срок обращения – три года, рейтинг облигаций от Fitch находится на уровне ВВВ-.
							p По мнению Председателя Правления АО «Казкоммерц Секьюритиз» Жаксыбек Чингиза, сегодня существует высокая потребность в инструментах качественных эмитентов на фоне низких процентных ставок на рынке и переизбытка тенговой ликвидности у инвесторов. Размещение облигаций КИК является ярким подтверждением высокого спроса со стороны инвесторов к тенговым инструментам. По итогам закрытия специализированных торгов суммарный объём заявок превысил предложение более чем в два раза.
							p Данное размещение стало первым рыночным размещением корпоративных облигаций в этом году и может стать бэнчмарком для тех эмитентов, которые планируют выпускать долговые ценные бумаги в ближайшем будущем.
							p В настоящее время выпуск облигаций на KASE является отличной возможностью для привлечения ликвидности в тенге, как краткосрочной, так и долгосрочной, под привлекательную ставку вознаграждения. В свою очередь АО «Казкоммерц Секьюритиз» прилагает максимум усилий в обеспечении доступности фондового рынка для перспективных эмитентов, выступая не только в качестве финансового консультанта, но и андеррайтера, гарантирующего успешное размещение.
