extends template/template.jade

block content

	#layout_studyroom.layout_default
		
		//block banner_career
		.full_banner.banner_studyroom
				.breadcrumbs
					.container
						.breadcrumbs_inset
							a(href="#").breadcrumb_inset__link Главная
							span.navigation_page Study room
				
				.banner_studyroom__wrap
					.full_banner__content
						.banner_studyroom__card.rellax(data-rellax-speed="1.5")
							.banner_studyroom__card__title
								span Study room
							.banner_studyroom__card__text
								p Знания - гарант успеха <br/> Ваших инвестиций
								
				.scroll_down.arrow
						.scroll_down__line
						a(href="#scroll_studyroom").scroll_down__icon


		.default_block#scroll_studyroom
			.container
				.row
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Добро пожаловать в Study Room
						.default_block__text
							p Данный обучающий раздел поможет Вам сделать первые шаги на рынке ценных бумаг и разобраться в основах инвестиционного процесса

		//block studyroom_tabs
		.studyroom_tabs
			.container(data-aos="fade-up")

				ul.top_tabs__control
						li.active: a(href="#top_tabs__content__1" data-toggle="tab") Все об акциях
						li: a(href="#top_tabs__content__2" data-toggle="tab") Все об облигациях
						li: a(href="#top_tabs__content__3" data-toggle="tab") Другие инструменты
						li: a(href="#top_tabs__content__4" data-toggle="tab") Финансовые показатели
						li: a(href="#top_tabs__content__5" data-toggle="tab") Макроэкономика
						li: a(href="#top_tabs__content__6" data-toggle="tab") Рыночные мультипликаторы
						li: a(href="#top_tabs__content__7" data-toggle="tab") Технический анализ
						li: a(href="#top_tabs__content__8" data-toggle="tab") Полезные источники

				select.studyroom_tabs__select
					option(value='0') Все об акциях
					option(value='1') Все об облигациях
					option(value='2') Другие инструменты
					option(value='3') Финансовые показатели
					option(value='4') Макроэкономика
					option(value='5') Рыночные мультипликаторы
					option(value='6') Технический анализ
					option(value='7') Полезные источники

				.tab-content
					#top_tabs__content__1.tab-pane.fade.in.active
							span.tab-content__title Все об акциях
							ul.studyroom_accordion
								li 
									span.studyroom_accordion__title Акция
									.studyroom_accordion__content
										p - ценная бумага, закрепляющая права ее владельца (акционера) на получение части прибыли акционерного общества в виде дивидендов, на участие в управлении и на часть имущества. Держатель акции является совладельцем АО с вытекающими из этого правами.
								li 
									span.studyroom_accordion__title Привлекательность акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse vitae ab voluptas dignissimos, odit vel tenetur maiores quos adipisci repellat!
								li 
									span.studyroom_accordion__title Срочность акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam veniam voluptatum, optio eaque dicta ea temporibus qui accusantium numquam.
								li 
									span.studyroom_accordion__title Количество акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum ab quaerat reiciendis repellat quos eaque architecto, iusto corporis non.
								li 
									span.studyroom_accordion__title Основные виды акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi non in itaque illo, error est asperiores debitis tempora pariatur sit.
								li 
									span.studyroom_accordion__title Простые акции
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae iure omnis fugiat ducimus esse officiis molestias doloribus maxime, obcaecati numquam.
								li 
									span.studyroom_accordion__title Привилегированные акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tenetur temporibus consequuntur nam pariatur eum atque praesentium eveniet. Unde, inventore.
								li 
									span.studyroom_accordion__title Типы привилегированных акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa praesentium perspiciatis veniam magni consequatur, unde commodi facilis ad illum dolore.
								li 
									span.studyroom_accordion__title Дивиденды
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas nihil facere rerum nesciunt officia sapiente cumque itaque vitae molestiae possimus.
								li 
									span.studyroom_accordion__title Коэффициент выплаты дивидендов
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In doloribus fuga sequi ab. Non minima molestias magnam explicabo a, deleniti.
								li 
									span.studyroom_accordion__title Дивиденды - ключывые даты
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quaerat, eaque eum. Fugiat optio velit labore culpa similique inventore sequi!
								li 
									span.studyroom_accordion__title Диведендная доходность
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi accusamus laborum aperiam officia culpa temporibus perferendis rerum cum, consequuntur sequi.

					#top_tabs__content__2.tab-pane.fade
							span.tab-content__title Все об облигациях
							ul.studyroom_accordion
								li 
									span.studyroom_accordion__title Облигация
									.studyroom_accordion__content
										p - ценная бумага, закрепляющая права ее владельца (акционера) на получение части прибыли акционерного общества в виде дивидендов, на участие в управлении и на часть имущества. Держатель акции является совладельцем АО с вытекающими из этого правами.
								li 
									span.studyroom_accordion__title Привлекательность акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse vitae ab voluptas dignissimos, odit vel tenetur maiores quos adipisci repellat!
								li 
									span.studyroom_accordion__title Срочность акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam veniam voluptatum, optio eaque dicta ea temporibus qui accusantium numquam.
								li 
									span.studyroom_accordion__title Количество акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum ab quaerat reiciendis repellat quos eaque architecto, iusto corporis non.
								li 
									span.studyroom_accordion__title Основные виды акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi non in itaque illo, error est asperiores debitis tempora pariatur sit.
								li 
									span.studyroom_accordion__title Простые акции
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae iure omnis fugiat ducimus esse officiis molestias doloribus maxime, obcaecati numquam.
								li 
									span.studyroom_accordion__title Привилегированные акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tenetur temporibus consequuntur nam pariatur eum atque praesentium eveniet. Unde, inventore.
								li 
									span.studyroom_accordion__title Типы привилегированных акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa praesentium perspiciatis veniam magni consequatur, unde commodi facilis ad illum dolore.

					#top_tabs__content__3.tab-pane.fade
							span.tab-content__title Другие инструменты
							ul.studyroom_accordion
								li 
									span.studyroom_accordion__title Акция
									.studyroom_accordion__content
										p - ценная бумага, закрепляющая права ее владельца (акционера) на получение части прибыли акционерного общества в виде дивидендов, на участие в управлении и на часть имущества. Держатель акции является совладельцем АО с вытекающими из этого правами.
								li 
									span.studyroom_accordion__title Привлекательность акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse vitae ab voluptas dignissimos, odit vel tenetur maiores quos adipisci repellat!
								li 
									span.studyroom_accordion__title Срочность акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam veniam voluptatum, optio eaque dicta ea temporibus qui accusantium numquam.
								li 
									span.studyroom_accordion__title Количество акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorum ab quaerat reiciendis repellat quos eaque architecto, iusto corporis non.
								li 
									span.studyroom_accordion__title Основные виды акций
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi non in itaque illo, error est asperiores debitis tempora pariatur sit.
								li 
									span.studyroom_accordion__title Простые акции
									.studyroom_accordion__content
										p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae iure omnis fugiat ducimus esse officiis molestias doloribus maxime, obcaecati numquam.						



		.default_block.default_block__light
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Наша база знаний постоянно обновляется, попольнясь новыми терминами и показателями
						.default_block__text
							p Вы можете также внести свой вклад в наш Study room, отправив свои доролнения и предложения нашим специалистам, указав соответствующий раздел из предложенных выше

		//block qtrader
		.default_block.qtrader
			.container(data-aos="fade-up")
				.col-xs-12.col-md-10.col-md-offset-1
						.default_block__title
							span Воспользуйтесь уникальной возможностью  торговать прямо сейчас
						.default_block__text
							p Уже сегодня вы можете начать практиковать свои инвестиционные и торговые навыки через нашу передовую платформу.
				.row
					.col-xs-12.col-md-10.col-md-offset-1
							.qtrader__content
								.qtrader__content__img.rellax(data-rellax-speed="1.4")
									img(src="#{img}/block_qtrader.jpg", alt="")
								.qtrader__content__card.rellax(data-rellax-speed="1.8")
									.qtrader__content__title
										span Торговая платформа
											span.qtrader__content__logo Trader
									.qtrader__content__text
										p Оперативность, безопасность и простота инвестирования
										a(href="#").link_more.default_link Подробнее
										a(href="#").btn.btn--default Скачать


		.default_block.training
			.container
				.row
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span У Вас есть уникальная возможность  пройти тренинг-интенсив
						.default_block__text
							p Основы инвестирования и торговли на фондовом рынке, который позволит сделать более уверенные шаги в мир ценных бумаг
						a(href="#training_popup").link__more.popup-with-zoom-anim(data-modal-class="custom_popup_wrap_white") Подробнее

		.default_block
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Набравшись необходимых знаний и опыта, Вы можете присутпить к настоящим инвестициям и зарабатывать реальные деньги
						.default_block__text
							p Специально для вас мы открываем виртуальный демо-счет, на котором вы сможете торговать в режиме реального времени, тем самым набираясь необходимого опыта и совершенствую ваше мастерство инвестирования.


		//block open_account
		.default_block.open_account.default_block__blue
			.container
				.row
					.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
						.default_block__title
							span Открыть счет
						.default_block__text
							span Откройте брокерский счет, не посещая офис <br/> Быстро и удобно
						a(href="#open_account_popup").open_account__link.btn.btn--beige.popup-with-move-anim Открыть счет


		//block specialists
		.specialists.default_block
			.container
				.row
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Лучшие специалисты – гарант успеха
						.default_block__text
							span В случае возникновения вопросов по открытию счета или работе торговой платформы просим обращаться к нашим специалистам:
				include particals/specialists


		//block popup_pages
		#training_popup.popup_pages.zoom-anim-dialog.mfp-hide
			.popup_pages__banner
				a(href="#").popup_pages__close
				.popup_pages____title
					span Тренинг-интенсив
				.scroll_down.arrow
						.scroll_down__line
						a(href="#layout_popup_pages").scroll_down__icon

			.default_block#layout_popup_pages
				.container
					.row
						.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
							.default_block__title
								span Тренинг-интенсив «Основы инвестирования  и торговли на фондовом рынке»
							.default_block__text
								p Наша компания предлагает вам возможность инвестировать в широкий круг финансовых инструментов. Клиенты Казком Секьюритиз регулярно получают качественную аналитику по наиболее перспективным ценным бумагам

			.default_block.qtrader-slider
				.container(data-aos="fade-up")
					.qtrader_slide
							.qtrader_slide__content.popup_parallax
								.qtrader_slide__title
									span Базовый теоретический курс вкупе с практическими кейсами позволят Вам начать инвестировать самостоятельно!
								.qtrader_slide__text
									p Данный курс рассчитан на потенциальных инвесторов, желающих освоить основы биржевой торговли и инвестирования в ценные бумаги.
							.qtrader_slide__img
								img(src="/images/training-popup-img-1.jpg", alt="")
					.row(data-aos="fade-up")
						.col-xs-12.col-md-8.col-md-offset-2
							.default_block__text
								span В течение данного тренинга  Вы сможете получить ответы на волнующие Вас вопросы по инвестированию, узнаете про современные способы инвестирования, приобретете дополнительные полезные знания и навыки, как торговать на фондовой бирже, как заработать, сохранить и приумножить личный капитал.

			//block	сourse
			.default_block.course
				.container(data-aos="fade-up")
					.row
						.col-xs-12.col-md-8.col-md-offset-2
							.course_card
								.course_card__title
									span Стоимость курса:
									span.course__price 45000 тенге
								.course_card__text
									table
										tr
											td Время проведения:
											td 13.00 – 15.00
										tr
											td Место проведения:
											td офис Казком Секьюритиз
										tr
											td Длительность мероприятия:
											td 4 рабочих дня по 2 часа
							.scroll_down.arrow
									.scroll_down__line
									a(href="#course_programm").scroll_down__icon

							.course_programm#course_programm
								.course_programm__title
									span Краткая программа:
								.course_programm__text
									table
										tr
											td: span Лекция 1.
											td Понятие, цели, задачи и функции рынка ценных бумаг
										tr
											td: span Лекция 2.
											td Государственные ценные бумаги

										tr
											td: span Лекция 3.
											td Рынок корпоративных долговых ценных бумаг
										tr
											td: span Лекция 4.
											td Рынок акций

										tr
											td: span Лекция 5.
											td Ценообразование на рынке ценных бумаг

										tr
											td: span Лекция 6.
											td Инвестиционный анализ на рынке ценных бумаг

										tr
											td: span Лекция 7.
											td Основы технического анализа

										tr
											td: span Лекция 8.
											td Психология трейдинга

			//block	specialists
			.default_block.specialists
				.container
					.row
						.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
							.default_block__text
								span Просим Вас подтвердить участие по указанным контактам:
					.row
						.specialists_cards__wrap
							.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
								.specialists_photo
									img(src="/images/manager2.jpg", alt="")
								.specialists_name
									span Ольга Эм  
								.specialists_contact
									span вн. 58017 +7 702 215 0265