extends template/template.jade

block content

	#layout_team.layout_default
		
		//block banner_career
		.full_banner.banner_team
				.breadcrumbs
					.container
						.breadcrumbs_inset
							a(href="#").breadcrumb_inset__link Главная
							a(href="#").breadcrumb_inset__link О компании
							span.navigation_page Наша команда
				.row
					.col-xs-12.col-md-6.col-md-offset-3
						.full_banner__content.rellax(data-rellax-speed="2")
							.full_banner__content__title
								span Наша команда
							.full_banner__content__text
								p Вы много работали, чтобы достичь успеха <br/> Наши специалисты помогут Вам достичь еще большего
				.scroll_down.arrow
						.scroll_down__line
						a(href="#scroll_team").scroll_down__icon

		//block board_directors
		.default_block#scroll_team.board_directors
			.container
				.row
					.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
							.default_block__title
								span Совет директоров
				.specialists_cards.default_block__text
					.row
						.specialists_cards__wrap
							a(href="#").specialists_cards__item(data-effect="mfp-zoom-in"  data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease")
								.specialists_photo
									img(src="../images/person4.jpg", alt="")
								.specialists_name
									span Рашид Амиров
								.specialists_position
									span Председатель Правления
							#specialists_popup.specialists_cards__popup.popup.zoom-anim-dialog.mfp-hide
								.specialists_photo(style='background:url("/images/person4.jpg") top center no-repeat; background-size:cover;')
								.specialists_name
									span Рашид Амиров
								.specialists_position
									span Председатель Совета директоров
								.specialists_describe
									p	Присоединился к команде АО «Казкоммерц Секьюритиз» в 2016 году.
									p Общий стаж работы в финансовой сфере 6 лет. Карьеру на фондовом рынке начал с должности аналитика-макроэкономиста в АО «БТА Секьюритис». До прихода в ККС был директором департамента аналитики в АО «Асыл-Инвест».
									p	Имеет богатый и успешный опыт инвестиционного анализа и оценки ценных бумаг, управления собственными активами компаний, паевыми фондами и портфелями крупных розничных клиентов. Является одним из ведущих экспертов страны на информационном поле страны, предоставляя комментарии ведущим местным и зарубежным бизнес изданиям.
									p С отличием закончил University of Essex (Великобритания), получив степень BA “Economics and Politics”. Стипендиат программы «Болашак».
									p Награжден орденом “Заслуженный финансист”
							
							a(href="#").specialists_cards__item(data-effect="mfp-zoom-in" data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease")
								.specialists_photo
									img(src="../images/person4.jpg", alt="")
								.specialists_name
									span Чингиз Жаксыбек
								.specialists_position
									span Председатель Правления
							#specialists_popup.specialists_cards__popup.popup.zoom-anim-dialog.mfp-hide
								.specialists_photo(style='background:url("/images/person4.jpg") top center no-repeat; background-size:cover;')
								.specialists_name
									span Чингиз Жаксыбек
								.specialists_position
									span Председатель Совета директоров
								.specialists_describe
									p	Присоединился к команде АО «Казкоммерц Секьюритиз» в 2016 году.
									p Общий стаж работы в финансовой сфере 6 лет. Карьеру на фондовом рынке начал с должности аналитика-макроэкономиста в АО «БТА Секьюритис». До прихода в ККС был директором департамента аналитики в АО «Асыл-Инвест».
									p	Имеет богатый и успешный опыт инвестиционного анализа и оценки ценных бумаг, управления собственными активами компаний, паевыми фондами и портфелями крупных розничных клиентов. Является одним из ведущих экспертов страны на информационном поле страны, предоставляя комментарии ведущим местным и зарубежным бизнес изданиям.
									p С отличием закончил University of Essex (Великобритания), получив степень BA “Economics and Politics”. Стипендиат программы «Болашак».
									p Награжден орденом “Заслуженный финансист”
							a(href="#").specialists_cards__item(data-effect="mfp-zoom-in" data-aos="fade-up" data-aos-delay="300" data-aos-easing="ease")
								.specialists_photo
									img(src="../images/person3.jpg", alt="")
								.specialists_name
									span Тимур Найзабеков
								.specialists_position
									span Независимый директор
							#specialists_popup.specialists_cards__popup.popup.zoom-anim-dialog.mfp-hide
								.specialists_photo(style='background:url("/images/person3.jpg") top center no-repeat; background-size:cover;')
								.specialists_name
									span Тимур Найзабеков
								.specialists_position
									span Председатель Совета директоров
								.specialists_describe
									p	Присоединился к команде АО «Казкоммерц Секьюритиз» в 2016 году.
									p Общий стаж работы в финансовой сфере 6 лет. Карьеру на фондовом рынке начал с должности аналитика-макроэкономиста в АО «БТА Секьюритис». До прихода в ККС был директором департамента аналитики в АО «Асыл-Инвест».
									p	Имеет богатый и успешный опыт инвестиционного анализа и оценки ценных бумаг, управления собственными активами компаний, паевыми фондами и портфелями крупных розничных клиентов. Является одним из ведущих экспертов страны на информационном поле страны, предоставляя комментарии ведущим местным и зарубежным бизнес изданиям.
									p С отличием закончил University of Essex (Великобритания), получив степень BA “Economics and Politics”. Стипендиат программы «Болашак».
									p Награжден орденом “Заслуженный финансист”

		//block governing
		.default_block#scroll_team.governing
			.container
				.row
					.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
							.default_block__title
								span Правление
				.specialists_cards.default_block__text
					.row
						.specialists_cards__wrap
							a(href="#").specialists_cards__item(data-effect="mfp-zoom-in" data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease")
								.specialists_photo
									img(src="../images/person3.jpg", alt="")
								.specialists_name
									span Рашид Амиров
								.specialists_position
									span Председатель Совета директоров
							#specialists_popup.specialists_cards__popup.popup.zoom-anim-dialog.mfp-hide
								.specialists_photo(style='background:url("/images/person3.jpg") top center no-repeat; background-size:cover;')
								.specialists_name
									span Рашид Амиров
								.specialists_position
									span Председатель Совета директоров
								.specialists_describe
									p	Присоединился к команде АО «Казкоммерц Секьюритиз» в 2016 году.
									p Общий стаж работы в финансовой сфере 6 лет. Карьеру на фондовом рынке начал с должности аналитика-макроэкономиста в АО «БТА Секьюритис». До прихода в ККС был директором департамента аналитики в АО «Асыл-Инвест».
									p	Имеет богатый и успешный опыт инвестиционного анализа и оценки ценных бумаг, управления собственными активами компаний, паевыми фондами и портфелями крупных розничных клиентов. Является одним из ведущих экспертов страны на информационном поле страны, предоставляя комментарии ведущим местным и зарубежным бизнес изданиям.
									p С отличием закончил University of Essex (Великобритания), получив степень BA “Economics and Politics”. Стипендиат программы «Болашак».
									p Награжден орденом “Заслуженный финансист”
							a(href="#").specialists_cards__item(data-effect="mfp-zoom-in" data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease")
								.specialists_photo
									img(src="../images/person4.jpg", alt="")
								.specialists_name
									span Тимур Салимов
								.specialists_position
									span Управляющий директор
							#specialists_popup.specialists_cards__popup.popup.zoom-anim-dialog.mfp-hide
								.specialists_photo(style='background:url("/images/person4.jpg") top center no-repeat; background-size:cover;')
								.specialists_name
									span Тимур Салимов
								.specialists_position
									span Председатель Совета директоров
								.specialists_describe
									p	Присоединился к команде АО «Казкоммерц Секьюритиз» в 2016 году.
									p Общий стаж работы в финансовой сфере 6 лет. Карьеру на фондовом рынке начал с должности аналитика-макроэкономиста в АО «БТА Секьюритис». До прихода в ККС был директором департамента аналитики в АО «Асыл-Инвест».
									p	Имеет богатый и успешный опыт инвестиционного анализа и оценки ценных бумаг, управления собственными активами компаний, паевыми фондами и портфелями крупных розничных клиентов. Является одним из ведущих экспертов страны на информационном поле страны, предоставляя комментарии ведущим местным и зарубежным бизнес изданиям.
									p С отличием закончил University of Essex (Великобритания), получив степень BA “Economics and Politics”. Стипендиат программы «Болашак».
									p Награжден орденом “Заслуженный финансист”
							a(href="#").specialists_cards__item(data-effect="mfp-zoom-in" data-aos="fade-up" data-aos-delay="300" data-aos-easing="ease")
								.specialists_photo
									img(src="../images/person1.jpg", alt="")
								.specialists_name
									span Ержан Колдасов
								.specialists_position
									span Управляющий директор
							#specialists_popup.specialists_cards__popup.popup.zoom-anim-dialog.mfp-hide
								.specialists_photo(style='background:url("/images/person1.jpg") top center no-repeat; background-size:cover;')
								.specialists_name
									span Ержан Колдасов
								.specialists_position
									span Председатель Совета директоров
								.specialists_describe
									p	Присоединился к команде АО «Казкоммерц Секьюритиз» в 2016 году.
									p Общий стаж работы в финансовой сфере 6 лет. Карьеру на фондовом рынке начал с должности аналитика-макроэкономиста в АО «БТА Секьюритис». До прихода в ККС был директором департамента аналитики в АО «Асыл-Инвест».
									p	Имеет богатый и успешный опыт инвестиционного анализа и оценки ценных бумаг, управления собственными активами компаний, паевыми фондами и портфелями крупных розничных клиентов. Является одним из ведущих экспертов страны на информационном поле страны, предоставляя комментарии ведущим местным и зарубежным бизнес изданиям.
									p С отличием закончил University of Essex (Великобритания), получив степень BA “Economics and Politics”. Стипендиат программы «Болашак».
									p Награжден орденом “Заслуженный финансист”

		//block middle
		.default_block#scroll_team.middle
			.container
				.row
					.col-xs-12(data-aos="fade-up")
							.default_block__title
								span Мидл менеджмент
				.specialists_cards.default_block__text
					.row
						.specialists_cards__wrap
							a(href="#").specialists_cards__item(data-effect="mfp-zoom-in" data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease")
								.specialists_photo
									img(src="../images/person3.jpg", alt="")
								.specialists_name
									span Рашид Амиров
								.specialists_position
									span Председатель Совета директоров
							#specialists_popup.specialists_cards__popup.popup.zoom-anim-dialog.mfp-hide
								.specialists_photo(style='background:url("/images/person3.jpg") top center no-repeat; background-size:cover;')
								.specialists_name
									span Рашид Амиров
								.specialists_position
									span Председатель Совета директоров
								.specialists_describe
									p	Присоединился к команде АО «Казкоммерц Секьюритиз» в 2016 году.
									p Общий стаж работы в финансовой сфере 6 лет. Карьеру на фондовом рынке начал с должности аналитика-макроэкономиста в АО «БТА Секьюритис». До прихода в ККС был директором департамента аналитики в АО «Асыл-Инвест».
									p	Имеет богатый и успешный опыт инвестиционного анализа и оценки ценных бумаг, управления собственными активами компаний, паевыми фондами и портфелями крупных розничных клиентов. Является одним из ведущих экспертов страны на информационном поле страны, предоставляя комментарии ведущим местным и зарубежным бизнес изданиям.
									p С отличием закончил University of Essex (Великобритания), получив степень BA “Economics and Politics”. Стипендиат программы «Болашак».
									p Награжден орденом “Заслуженный финансист”
							a(href="#").specialists_cards__item(data-effect="mfp-zoom-in" data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease")
								.specialists_photo
									img(src="../images/person4.jpg", alt="")
								.specialists_name
									span Тимур Салимов
								.specialists_position
									span Управляющий директор
							#specialists_popup.specialists_cards__popup.popup.zoom-anim-dialog.mfp-hide
								.specialists_photo(style='background:url("/images/person4.jpg") top center no-repeat; background-size:cover;')
								.specialists_name
									span Тимур Салимов
								.specialists_position
									span Председатель Совета директоров
								.specialists_describe
									p	Присоединился к команде АО «Казкоммерц Секьюритиз» в 2016 году.
									p Общий стаж работы в финансовой сфере 6 лет. Карьеру на фондовом рынке начал с должности аналитика-макроэкономиста в АО «БТА Секьюритис». До прихода в ККС был директором департамента аналитики в АО «Асыл-Инвест».
									p	Имеет богатый и успешный опыт инвестиционного анализа и оценки ценных бумаг, управления собственными активами компаний, паевыми фондами и портфелями крупных розничных клиентов. Является одним из ведущих экспертов страны на информационном поле страны, предоставляя комментарии ведущим местным и зарубежным бизнес изданиям.
									p С отличием закончил University of Essex (Великобритания), получив степень BA “Economics and Politics”. Стипендиат программы «Болашак».
									p Награжден орденом “Заслуженный финансист”
							a(href="#").specialists_cards__item(data-effect="mfp-zoom-in" data-aos="fade-up" data-aos-delay="300" data-aos-easing="ease")
								.specialists_photo
									img(src="../images/person1.jpg", alt="")
								.specialists_name
									span Ержан Колдасов
								.specialists_position
									span Управляющий директор
							#specialists_popup.specialists_cards__popup.popup.zoom-anim-dialog.mfp-hide
								.specialists_photo(style='background:url("/images/person1.jpg") top center no-repeat; background-size:cover;')
								.specialists_name
									span Ержан Колдасов
								.specialists_position
									span Председатель Совета директоров
								.specialists_describe
									p	Присоединился к команде АО «Казкоммерц Секьюритиз» в 2016 году.
									p Общий стаж работы в финансовой сфере 6 лет. Карьеру на фондовом рынке начал с должности аналитика-макроэкономиста в АО «БТА Секьюритис». До прихода в ККС был директором департамента аналитики в АО «Асыл-Инвест».
									p	Имеет богатый и успешный опыт инвестиционного анализа и оценки ценных бумаг, управления собственными активами компаний, паевыми фондами и портфелями крупных розничных клиентов. Является одним из ведущих экспертов страны на информационном поле страны, предоставляя комментарии ведущим местным и зарубежным бизнес изданиям.
									p С отличием закончил University of Essex (Великобритания), получив степень BA “Economics and Politics”. Стипендиат программы «Болашак».
									p Награжден орденом “Заслуженный финансист”
							a(href="#").specialists_cards__item(data-effect="mfp-zoom-in" data-aos="fade-up" data-aos-delay="400" data-aos-easing="ease")
								.specialists_photo
									img(src="../images/person3.jpg", alt="")
								.specialists_name
									span Рашид Амиров
								.specialists_position
									span Председатель Совета директоров
							#specialists_popup.specialists_cards__popup.popup.zoom-anim-dialog.mfp-hide
								.specialists_photo(style='background:url("/images/person3.jpg") top center no-repeat; background-size:cover;')
								.specialists_name
									span Рашид Амиров
								.specialists_position
									span Председатель Совета директоров
								.specialists_describe
									p	Присоединился к команде АО «Казкоммерц Секьюритиз» в 2016 году.
									p Общий стаж работы в финансовой сфере 6 лет. Карьеру на фондовом рынке начал с должности аналитика-макроэкономиста в АО «БТА Секьюритис». До прихода в ККС был директором департамента аналитики в АО «Асыл-Инвест».
									p	Имеет богатый и успешный опыт инвестиционного анализа и оценки ценных бумаг, управления собственными активами компаний, паевыми фондами и портфелями крупных розничных клиентов. Является одним из ведущих экспертов страны на информационном поле страны, предоставляя комментарии ведущим местным и зарубежным бизнес изданиям.
									p С отличием закончил University of Essex (Великобритания), получив степень BA “Economics and Politics”. Стипендиат программы «Болашак».
									p Награжден орденом “Заслуженный финансист”
							a(href="#").specialists_cards__item(data-effect="mfp-zoom-in" data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease")
								.specialists_photo
									img(src="../images/person4.jpg", alt="")
								.specialists_name
									span Тимур Салимов
								.specialists_position
									span Управляющий директор
							#specialists_popup.specialists_cards__popup.popup.zoom-anim-dialog.mfp-hide
								.specialists_photo(style='background:url("/images/person4.jpg") top center no-repeat; background-size:cover;')
								.specialists_name
									span Тимур Салимов
								.specialists_position
									span Управляющий директор
								.specialists_describe
									p	Присоединился к команде АО «Казкоммерц Секьюритиз» в 2016 году.
									p Общий стаж работы в финансовой сфере 6 лет. Карьеру на фондовом рынке начал с должности аналитика-макроэкономиста в АО «БТА Секьюритис». До прихода в ККС был директором департамента аналитики в АО «Асыл-Инвест».
									p	Имеет богатый и успешный опыт инвестиционного анализа и оценки ценных бумаг, управления собственными активами компаний, паевыми фондами и портфелями крупных розничных клиентов. Является одним из ведущих экспертов страны на информационном поле страны, предоставляя комментарии ведущим местным и зарубежным бизнес изданиям.
									p С отличием закончил University of Essex (Великобритания), получив степень BA “Economics and Politics”. Стипендиат программы «Болашак».
									p Награжден орденом “Заслуженный финансист”

		//block main_asset
		.main_asset.default_block.default_block__blue
			.container
				.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
					.default_block__title
						span Люди - наш главный актив
					.default_block__text
						span Мы обеспечиваем высокий уровень обслуживания клиентов, выстраивая четкие механизмы и международные стандарты работы в компании.
						