doctype
html
	head
		meta(charset = 'utf-8')
		meta(name="description" content="Aidar FrontEnd")
		meta(name="author" content="Aidar")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		<style>#page-preloader { position: fixed;left: 0; top: 0;right: 0;bottom: 0;background: #fff; z-index: 100500;}#page-preloader .spinner { width: 400px; height: 300px; position: absolute;left: 50%; top: 50%; transform: translate(-50%, -50%); background: url('../images/icons/preloader.gif') center center no-repeat;}</style>		
		link(rel="stylesheet" href="../css/vendor.min.css")
		link(rel="stylesheet" href="../css/common.min.css")
		title Заголовок
	body

		- var icons = '/images/icons';
		- var img = '/images';

		#page-preloader
			span.spinner

		.wrapper

			// header
			header.header#header
				.container

					.header_wrap
						button.header_mobile__menu.hidden-md.hidden-lg
							img(src="#{icons}/menu-icon.png", alt="")
						.header_logo
							a(href="/")
								img.header_logo__img(src="#{icons}/logo.png", alt="logo")
						.header_nav
							.header_nav__call.visible-lg.visible-md
								span +7 (727) 244-65-05
							.header_nav__menu
								ul.main_menu
									li
										a(href="#") О компании
										.header_nav__menu__dropdown
											ul.container
												li: a(href="#") Коротко о нас
												li: a(href="#") Наша команда
												li: a(href="#") Награды
												li: a(href="#") Сделки
												li: a(href="#") Корпоративное управление
												li: a(href="#") Карьера

									li
										a(href="#") Услуги
										.header_nav__menu__dropdown
											ul.container
												li: a(href="#") Пункт меню 1
												li: a(href="#") Пункт меню 2
												li: a(href="#") Пункт меню 3
												li: a(href="#") Пункт меню 4
									li: a(href="#") Аналитика
									li: a(href="#") Study room
									li: a(href="#") Контакты

						.header_right-block
							.header_right-block__social
								a(href="#").header_right-block__social__icon.visible-lg.visible-md
									img(src="#{icons}/facebook.svg", alt="")

								a(href="#").header_right-block__social__icon.visible-lg.visible-md
									img(src="#{icons}/instagram.svg", alt="")

								.header_right-block__social__icon.change_lang Ru
									.multi_lang
										a(href="").multi_lang__type Kz						
										a(href="").multi_lang__type Eng						

								a(href="#").header_right-block__social__icon.show__search
									img(src="#{icons}/search.svg", alt="").visible-lg.visible-md
									img(src="#{icons}/search-mobile.png", alt="").hidden-md.hidden-lg
							.header_right-block__buttons.visible-lg.visible-md
								a(href="#").btn.btn--beige QTrader
								a(href="#").btn.btn--default Открыть счет

						.header_search-block
							form(action="#" name="header_search-block")
								input(type="search" placeholder="Что вы искали?")
								button Найти
							button.header_search-block__close.arrow.bounce
								img(src="#{icons}/closed.svg", alt="")

						//mobile menu
						ul.mobile_menu
							li.mobile_menu__accordion
								a(href="#") О компании								
								ul.mobile_menu__dropdown
									li: a(href="#") Коротко о нас
									li: a(href="#") Наша команда
									li: a(href="#") Награды
									li: a(href="#") Сделки
									li: a(href="#") Корпоративное управление
									li: a(href="#") Карьера

							li.mobile_menu__accordion
								a(href="#") Услуги								
								ul.mobile_menu__dropdown
									li: a(href="#") Пункт меню 1
									li: a(href="#") Пункт меню 2
									li: a(href="#") Пункт меню 3
									li: a(href="#") Пункт меню 4
							li: a(href="#") Аналитика
							li: a(href="#") Study room
							li: a(href="#") Контакты


			// main
			.main
				block content
					
			// footer
			footer.footer
				.container

					.footer_wrap

						a(href="#header").scroll_up
							.scroll_up__wrapper
								.scroll_up__icon
								.scroll_up__line

						.footer_top
							.footer_top__nav
								span.footer_top__nav__title О компании
								ul
									li: a(href="#") Коротко о нас
									li: a(href="#") Наша команда
									li: a(href="#") Награды
									li: a(href="#") Сделки
									li: a(href="#") Корпоративное управление
									li: a(href="#") Контакты

							.footer_top__nav
								span.footer_top__nav__title Услуги
								ul
									li: a(href="#") Брокерское обслуживание
									li: a(href="#") Управление активами
									li: a(href="#") Инвестиционный Банкинг
									li: a(href="#") Маркет-мейкерство
									li: a(href="#") ПДО

							.footer_top__nav
								span.footer_top__nav__title Аналитика
								ul
									li: a(href="#") Обзор рынка
									li: a(href="#") Макроэкономика и отраслевой анализ
									li: a(href="#") Инвестиционные
									li: a(href="#") Рекомендации
									li: a(href="#") Каленьдарь событий
									li: a(href="#") Отчеты ПДО
							.footer_top__right
								.footer_top__contact
									span.footer_top__contact__phone +7 (727) 244-65-05
										small Для звонков по Казахстану
									small.footer_top__contact__map ул.Фурманова 240 Г, БЦ «CDC ONE», 10-11 этаж.
								.footer_top__social
									.footer_top__social__icon__wrap
										a(href="#").footer_top__social__icon
											img(src="#{icons}/facebook.svg", alt="")

										a(href="#").footer_top__social__icon
											img(src="#{icons}/instagram.svg", alt="")
								.footer_top__buttons__wrap
									a(href="#subscribe_popup").btn.btn--light.popup-with-move-anim Подписка на аналитику
									a(href="#qtrader_callback_popup").btn.btn--light.popup-with-move-anim Заказать звонок

						.footer_bottom
							.col-xs-12.col-md-8.col-md-offset-2
								p Акционерное общество «Казкоммерц Секьюритиз» (дочерняя организация АО «Казкоммерцбанк»).
								p Лицензия на осуществление деятельности по управлению инвестиционным портфелем  без  права  привлечения  добровольных  пенсионных  взносов  №0403200439  от  24.06.2014 
								p Лицензия на занятие брокерской и дилерской деятельностью на рынке ценных бумаг с правом ведения счетов клиентов  в  качестве  номинального  держателя  №0401201207   от  17.05.2006

								span.footer_bottom__copyright © АО «Казкоммерц Секьюритиз». Все права защищены.
								.logo-ibecsystems 
									span Сделано в
									a(href="#")
										img(src="/images/icons/ibec-systems.svg", alt="ibecsystems")
			// popup windows
			#investment-popup.zoom-anim-dialog.mfp-hide.popup
				.popup_title
					span Оставьте контактные данные и мы свяжемся с Вами
				.popup_form
					form(action="#" method="")
						input(type="text" placeholder="ФИО" minlength="6" required)
						input(type="email" placeholder="E-mail" required)
						input(type="tel" placeholder="Телефон" minlength="18" required)
						button.btn.btn--beige Подать заявку

			#qtrader_callback_popup.zoom-anim-dialog.mfp-hide.popup
				.popup_title
					span Оставьте контактные данные и мы свяжемся с Вами
				.popup_form
					form(action="#" method="")
						input(type="text" placeholder="ФИО" minlength="6" required)
						input(type="email" placeholder="E-mail" required)
						input(type="tel" placeholder="Телефон" minlength="18" required)
						button.btn.btn--default Заказать звонок

			#subscribe_popup.zoom-anim-dialog.mfp-hide.popup
				.popup_form
					form(action="#" method="")
						input(type="text" placeholder="ФИО" minlength="6" required)
						input(type="email" placeholder="E-mail" required)
						button.btn.btn--default Подписаться

			#open_account_popup.zoom-anim-dialog.mfp-hide.popup
				.popup_title
					span Откройте счет прямо сейчас
				.popup_form
					form(action="#" method="")
						input(type="text" placeholder="ФИО" minlength="6" required)
						input(type="tel" placeholder="Телефон" required)
						input(type="text" placeholder="Адрес проживания/прописки" minlength="6" required)
						input(type="email" placeholder="E-mail" required)
						.flex-wrap.flex-center.input_file
							label(for="file") Загрузить файл/удостоверение личности
							span.btn--doc
							input(type="file" id="file")
						.flex-vertical
							span или
							span Отправить файл/удостоверение личности на WhatsApp +7 (701) 783-44-87
							button.btn.btn--beige Отправить

			#contact_page_popup.zoom-anim-dialog.mfp-hide.popup
				.popup_form
					form(action="#" method="")
						.flex-wrap
							input(type="text" placeholder="ФИО" minlength="6" required)
							input(type="email" placeholder="E-mail" required)
						textarea(placeholder="Сообщение" required)
						button.btn.btn--beige Отправить
			
			#success_message.zoom-anim-dialog.mfp-hide.popup
				p Ваше сообщение доставлено.


			// vendor scripts
			script(src='/vendor/jquery/dist/jquery.min.js')
			script(src='/vendor/swiper/dist/js/swiper.min.js')
			script(src='/vendor/jquery-ui/jquery-ui.min.js')
			script(src="/vendor/matchHeight/dist/jquery.matchHeight-min.js")
			script(src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js")
			script(src="/vendor/aos/dist/aos.js")
			script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
			script(src="/vendor/rellax/rellax.min.js")
			script(src="/vendor/owl.carousel/dist/owl.carousel.min.js")
			script(src="/vendor/jquery.form-styler/jquery.formstyler.min.js")
			script(src="/vendor/fancyselect/fancySelect.js")
			script(src="/vendor/jquery-mask-plugin/dist/jquery.mask.min.js")
			script(src="/vendor/Inputmask/dist/min/jquery.inputmask.bundle.min.js")
			script(src="http://api-maps.yandex.ru/2.1.17/?lang=ru_RU" type="text/javascript")
			script(src="https://use.fontawesome.com/d419eefe85.js")
			
			// common.js
			script(src='/scripts/common.min.js')