/* header */

.header{ position: relative; z-index: 100499; padding: 15px 0; display: flex; align-items: center;  background: #fff; box-shadow: 0 4px 31px rgba(16, 37, 73, 0.14); height: 115px; }
.header_wrap{ display: flex; }
.header_nav{ display: flex; flex-direction: column; flex-grow: 1; justify-content: space-around; margin-right: 45px;}
.header_right-block__social__icon{ flex-shrink: 0;}
.header_right-block__social__icon img{ width: 12px;height: 12px;}
.header_right-block	{ display: flex; flex-direction: column; justify-content: space-between;}
.header_nav__menu .main_menu{ @include menu; justify-content: space-between; color: $base-gray;}
.header_nav__menu .main_menu>li:hover{ color: $beige-color; &>a{padding-bottom: 26px; } .header_nav__menu__dropdown{ opacity: 1; padding: 22px 0; height: auto; top: 115px; } .header_nav__menu__dropdown ul{display: flex;} }
.header_nav__menu .main_menu>li{ margin-right: 3px;}
.header_logo{ margin-right: 45px; display: flex; align-items: center; flex-shrink: 0;}
.header_nav__call{ margin-bottom: 10px;}
.header_nav__call span{ font: 22px $font-thin; padding-left: 25px; color: #2E2E2E; background:url('../images/icons/call.svg') left center no-repeat; background-size: 15px;}
.header_right-block__buttons .btn--beige{ margin-right: 10px; }
.header_right-block__social{ margin-bottom: 10px; display: flex; justify-content: flex-end;}
.header_right-block__social__icon{ font-size: 14px; cursor: pointer; position: relative; color: $light-blue; margin-left: 5px; width: 36px; height: 36px; border-radius: 50%; border: 2px dotted $light-blue; display: flex!important; justify-content: center; align-items: center;}
.header_right-block__social__icon:hover{ color: $light-blue; border: 1px solid $light-blue; .multi_lang{ top: 40px; left:-9px; } }

.header_nav__menu__dropdown{ z-index: -1; opacity: 0; height: 0; transition: all .7s; top: 115px; color: #fff; position: absolute; left: 0; right: 0; background-image: linear-gradient(to right, #1e3c72 0%, #2a5298 100%);}
.header_nav__menu__dropdown ul{ display: none; list-style-type: none; justify-content: flex-start;}
.header_nav__menu__dropdown li{ margin-right: 60px;}
.header_nav__menu__dropdown li:last-child{ margin-right:0;}
.header_nav__menu__dropdown li a:hover{ color: $beige-color}
.header_nav__menu__dropdown ul.container{margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px;} 
.header_mobile__menu{ margin-right: 20px; flex-shrink: 0; margin-left: 5px; }

.header_search-block{ display: none; position: relative; flex-grow: 1; border: 1px solid #8d9eb3;}
.header_search-block form{ display: flex; flex-grow: 1; height: 100%;}
.header_search-block form input{  flex-grow: 1; border:0; padding: 0 20px;  }
.header_search-block form button{ color: $light-blue; margin-right: 25px; padding-top: 5px; padding-bottom: 5px; padding-right: 20px; background:url('../images/icons/search.svg') right center no-repeat; background-size: 15px;}
.header_search-block__close{ position: absolute; top: 50%; display: block; height: 25px; width: 25px; opacity: .5; transform: translateY(-50%); right: -38px; z-index: 100;}
.mobile_menu{ display: none; }
.mobile_menu__accordion>a { background:url('/images/icons/mobile-menu-arrow.svg') 95% 50% no-repeat; background-size: 20px; }

.multi_lang{ display: none; position: absolute; background:#fff; box-shadow: 0 4px 31px rgba(16, 37, 73, 0.3); top: 39px; left: -10px;}
.multi_lang__type{ display: block; padding: 10px 15px; }
.multi_lang__type:hover{ background:$light-blue; color: #fff; }

/* breadcrumb */
.breadcrumbs{ font: 14px $font-light; line-height: 1.7; margin: 20px 0;}
.breadcrumbs .breadcrumb_inset__link{ padding-right: 20px; margin-right: 20px; position: relative;}
.breadcrumbs .breadcrumb_inset__link:after{ @include pseudo($top: 0, $right: -5px); transition: all .25s; background:url('../images/icons/arrow-right.png') center center no-repeat; background-size: 5px; border-radius: 50%; border: 2px dotted $base-text; width: 20px;height: 20px; opacity: .4; display: block;}
.breadcrumbs .breadcrumb_inset__link:hover:after{ opacity: 1; border: 1px solid $dark-blue}


/* pagination */
.pagination{ display: flex; align-items: center; justify-content: center; font: 18px $font-bold; margin: 20px 0; color: $dark-blue;}
.pagination-inset__prev{ width: 12px; height: 20px; opacity: 0; background:url('/images/icons/arrow-left.svg') center center no-repeat;  background-size: 20px; margin: 0 20px; }
.pagination-inset__next{ width: 12px; height: 20px; background:url('/images/icons/arrow-right.svg') center center no-repeat; background-size: 20px; margin: 0 20px; }
.pagination-link{ display: flex; justify-content: center; align-items: center; margin: 0 5px; width: 55px; height: 55px; border: 2px dotted $dark-blue; }
.pagination-link:hover{ border: 1px solid $dark-blue; }
.pagination-inset__active{ @extend .pagination-link; border: 1px solid $dark-blue; }

/* footer */

.footer{ padding: 50px 0; background: #F7FAFE; font-family: $font-light; color: $base-gray;}
.footer_top{ display: flex; justify-content: space-between; padding-bottom: 50px; border-bottom: 1px solid $border-color;}
.footer_top__nav__title{ display: block; margin-bottom: 30px; font-size: 14px; text-transform: uppercase;}
.footer_top__nav{ width: 15%;}
.footer_top__right{width: 34%;}
.footer_top__nav ul{ list-style-type: none; padding: 0; }
.footer_top__nav ul li{margin-bottom: 20px; line-height: 1.2;}
.footer_top__nav ul li a{color: $dark-blue; transition: all .25s;}
.footer_top__nav ul li a:hover{color: $light-blue;}
.footer_top{ display: flex;}

.footer .container { position: relative;}
.footer .scroll_up{align-items: flex-end; position:absolute; top: -120px; right: 15px;}
.footer .scroll_up__wrapper{ display: flex; flex-direction: column; align-items: center; }
.footer .scroll_up__icon{ position: relative; transition: transform .4s; border: 2px dotted darken($dark-blue, 10%); background:url('../images/icons/arrow-up.svg') center center no-repeat; background-size: 20px; } 
.footer .scroll_up__wrapper:hover{ .scroll_up__icon{transform: translateY(-20px); border: 1px solid darken($dark-blue, 10%); }; }
.footer .scroll_up__line{ height: 50px; width: 2px; background:	$dark-blue; transform: translateY(-15px);}
.footer_top__contact{ border-bottom: 1px solid $border-color; padding-bottom: 25px; margin-bottom: 15px;}
.footer_top__contact__phone{ position: relative; padding-left: 60px; margin-bottom: 35px; display: block; font: 32px $font-light;}
.footer_top__contact__phone:before{ @include pseudo(); width: 57px; height: 57px; left: 0; top:50%; transform: translateY(-50%); background:url('../images/icons/call.png') left center no-repeat; }
.footer_top__contact small { font: 14px $base-font; display: block; line-height: 1.6;}
.footer_top__contact__map{ padding-left: 60px; margin-bottom: 20px; position: relative; width: 65%; }
.footer_top__contact__map:before{ @include pseudo(); width: 57px; height: 57px; left: 0; top:50%; transform: translateY(-50%); background:url('../images/icons/map.png') left center no-repeat;  }

.footer_top__social__icon__wrap{ display: flex; margin-bottom: 30px;}
.footer_top__social__icon{ font-size: 14px; color: $light-blue; border-radius: 50%; border: 2px dotted $light-blue; display: flex; justify-content: center; align-items: center; width: 50px;height: 50px; margin-right: 10px;}
.footer_top__social__icon:hover{ color: $light-blue;  border: 1px solid $light-blue;}
.footer_top__social__icon img{width: 21px; height: 21px;}

.footer_bottom{ text-align: center;  padding-top: 30px; font: 12px $font-light;}
.footer_bottom p{ opacity: .8; margin: 0; line-height: 20px;}
.footer_bottom .footer_bottom__copyright{ color:#000; display: inline-block; margin-top: 30px;}
.footer_top__buttons__wrap{ display: flex; flex-wrap: wrap;}
.footer_top__buttons__wrap .btn--light{ margin-right: 13px; padding: 15px 22px;	position: relative;	z-index: 2;}
.footer_top__buttons__wrap .btn--light:before{content: '';width: 100%;height: 0;bottom: 0;	left: 0;display: block;background:$gradient; z-index: 0;position: absolute;	z-index: -1;transition: all .4s;  }
.footer_top__buttons__wrap .btn--light:hover{color: #fff;	border:none;padding: 17px 24px; }
.footer_top__buttons__wrap .btn--light:hover:before{ height: 100%;}


.footer.g-tac{ padding: 0!important;}
.flash-message{ position: absolute!important; width: 100%!important; z-index: 100!important;}
.flash-message + p{ margin: 0;}
.alert{ margin-bottom: 0!important; background-color: $bg-light-blue!important; text-align: center!important; color: $light-blue!important; border: 0!important; }
.alert .close{ color: $light-blue!important; }


/* layout class */

.result_search__item{ margin-bottom: 30px; border-bottom: 1px solid $border-color; text-align: left; padding-bottom: 15px; }
.result_search__title{ text-decoration: underline; color: $title-color; font-size: 24px; margin-bottom: 15px; display: inline-block;}
.search-not-found{ text-align: left; }
.search-data:before{ content:"«" }
.search-data:after{ content:"»" }

#layout_search .default_block__title{ margin-bottom: 70px; }

.logo-ibecsystems{ display: flex; align-items: center; justify-content: center; margin-top: 35px; img{ width: 125px; margin-left: 15px; } }

.link-404{ font-size: 18px; color: $light-blue;  position: relative; display: inline-block; margin-top: 60px; padding-right: 60px; }
.link-404:after{ @include pseudo($top: 50%, $right: 0); transition: all .4s; transform: translateY(-50%); background:url('/images/icons/arrow-right.svg') center center no-repeat; transition: all .25s; background-size: 20px; border-radius: 50%; border: 2px dotted darken($dark-blue, 10%); width: 50px;height: 50px; display: block; }
.link-404:hover{ color: $light-blue; }
.link-404:hover:after{ right: -20px; }