<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Заголовок
body
	h1 Проект KazKom Securities
	br
	h3 Ссылки на страницы
	br
	ul
		li: a(href="html/index.html") Главная страница
		li: a(href="html/service-assets.html") Управление активами
		li: a(href="html/about.html") О нас
		li: a(href="html/career.html") Карьера
		li: a(href="html/awards.html") Награды
		li: a(href="html/dealings.html") Сделки
		li: a(href="html/corporate.html") Корпоративное управление
		li: a(href="html/team.html") Наша команда
		li: a(href="html/qtrader.html") QTrader